<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/page_fragments :: header(more_links=~{this::link}, more_scripts=~{this::script[src]})">
	<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" class="ui" href="/css/tabulator_semantic-ui.min.css">
	<script src="/js/tabulator.min.js"></script>
	<script src="/js/luxon.min.js"></script>
	
</head>
<body>
	<!-- Fix to avoid overlap from the Menu -->
	<div>
		<br>
	</div>
	<div class="ui container">
      <div class="ui breadcrumb">
        <a class="section" th:text="#{menu.homepage}" th:href="@{/cards}">Home</a>
        <div class="divider"> / </div>
        <div class="active section" th:text="#{domain.tables.title}">Domain Tables</div>
      </div>
  
		<h2 class="ui header">
			<i class="table icon"></i>
			<span class="content" th:text="#{domain.tables.title}">Domain Tables</span>
		</h2>
		<div id="table" class="ui orange table"></div>
		<div class="ui column right floated" sec:authorize="hasRole('ROLE_TAX_DOMAIN_TABLE_WRITE')">
			<div class="ui right floated primary labeled icon">
				<a th:href="@{/adddomaintable}" class="ui blue button"><i class="plus icon"></i><span th:text="#{domain.table.new}">New Domain Table</span></a>
			</div>
		</div>
	</div>
 
<div th:replace="fragments/modals :: question">MODAL DIALOG FOR QUESTION</div>
<div th:replace="fragments/modals :: successful">MODAL DIALOG FOR SUCCESSFUL ALERT</div>
<div th:replace="fragments/modals :: failed">MODAL DIALOG FOR FAILURE ALERT</div>     
   
<div th:replace="fragments/tabulator_commons"></div>   
   
<script th:nonce="${cspNonce}" th:inline="javascript">
	var rowFormatter = function(row){
	    if(!row.getData().active){
	        row.getElement().style.backgroundColor = "#F0F0F0";
	    }
	}
	
	this.table = new Tabulator('#table', {
	    index: 'id',
	    layout: "fitData",
	    pagination: true,
	    paginationMode: "remote", //enable remote pagination
	    ajaxURL: /*[[@{/api/domaintables}]]*/ "/api/domaintables", //set url for ajax request
	    paginationSize: tabulatorPaginationSize,
		paginationSizeSelector: tabulatorPaginationSizeSelector,				
		langs: tabulatorLanguageSpecs,
	    ajaxContentType: "json",
	    filterMode:"remote",
	    sortMode: "remote",
	    headerFilterLiveFilterDelay:700,
	    footerElement: "<button id='filter' class='ui left floated compact button' href='javascript: filter();'><i class='icon filter'></i>[(#{filters})]</button>",
	    ajaxURLGenerator: function(url, config, params ){
	        console.log(config)
	        console.log(params)
	        p= new URLSearchParams()
	        p.set('page', params.page)
	        p.set('size', params.size)
	        p.set('filter', JSON.stringify(params.filter))
	        if(params.sort.length>0) {
	            p.set('sortby', params.sort[0].field)
	            p.set('sortorder', params.sort[0].dir)
	        }
	        return url + '?' + p.toString()
	    },
	    rowFormatter: rowFormatter,
	    footerElement: "<button id='filter' class='ui left floated compact button' href='javascript: filter();'><i class='icon filter'></i>[(#{filters})]</button>",
	    locale:'xx',
	    columns:[ //Define Table Columns
	        {title: /*{{#domain.table.name}]]*/ "Name", field:"name", minWidth: 140, headerFilter: true},
	        {title: /*{{#domain.table.version}]]*/ "Version", field:"version", hozAlign:"left", minWidth: 100, headerFilter: true },
	        {title: /*{{#domain.table.group}]]*/ "Group", field:"group", minWidth: 140, headerFilter: true},
	        {title: '<i class="clipboard check icon"></i>', titleFormatter:'html', tooltip:/*[[#{active}]]*/ "Active", field:"active",   headerFilter: "tickCross", headerFilterParams:{"tristate":true},
                formatter:"tickCross", formatterParams: { crossElement:false}, width:40, headerTooltip:/*[[#{active.active}]]*/ "Active"}
	    ]
	})
	table.on('rowClick', function(e, row) {
	    window.location.replace([[@{/domaintables/}]] + row.getIndex());
	})
	let showHeaderFilter = true
	let toggleFilter = function() {
	    showHeaderFilter = ! showHeaderFilter
	    if(!showHeaderFilter) {
	        table.clearHeaderFilter()
	    }
	    $('.tabulator-header-filter').toggle(showHeaderFilter)
	    $('.tabulator-col').height(showHeaderFilter ? 64 : 43)
	}
	
	table.on("tableBuilt", function(){
	    $('#filter').click( toggleFilter )
	    toggleFilter()
	})
</script>
</body>
</html>
    
