<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/page_fragments :: header(more_links=~{this::link}, more_scripts=~{this::script[src]})">
	<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" class="ui" href="/css/tabulator_semantic-ui.min.css">
	<script src="/js/tabulator.min.js"></script>
	<script src="/js/luxon.min.js"><</script>
	
</head>
<body>
	<!-- Fix to avoid overlap from the Menu -->
	<div>
		<br>
	</div>
	<div class="ui container">
      <div class="ui breadcrumb">
        <a class="section" th:text="#{menu.homepage}" th:href="@{/cards}">Home</a>
        <div class="divider"> / </div>
        <div class="active section" th:text="#{domain.tables.title}">Domain Tables</div>
      </div>
  
		<h2 class="ui header">
			<i class="table icon"></i>
			<div class="content" th:text="#{domain.tables.title}">Domain Tables</div>
		</h2>
		<div id="table" class="ui orange table"></div>
		<div class="ui column right floated" sec:authorize="hasRole('ROLE_TAX_DOMAIN_TABLE_WRITE')">
			<div class="ui right floated primary labeled icon">
				<a th:href="@{/adddomaintable}" class="ui blue button"><i class="plus icon"></i><span th:text="#{domain.table.new}">New Domain Table</span></a>
			</div>
		</div>
	</div>
 
<div th:replace="fragments/modals :: question">MODAL DIALOG FOR QUESTION</div>
<div th:replace="fragments/modals :: successful">MODAL DIALOG FOR SUCCESSFUL ALERT</div>
<div th:replace="fragments/modals :: failed">MODAL DIALOG FOR FAILURE ALERT</div>     
   
<script th:nonce="${cspNonce}" th:inline="javascript">
[# sec:authorize="hasRole('ROLE_TAX_DOMAIN_TABLE_WRITE')"]
var editRow = function(e, cell) {
    window.location.replace([[@{/domaintables/}]] +  cell.getRow().getIndex()) + "/edit";
}

var sendDelete = function(id) {
    $.ajax({
        url: [[@{/api/domaintable/}]] + id,
        type: 'DELETE',
        dataType: 'json',
        contentType: 'application/json',
        cache: false,  
        success: onDeleteSuccess,
        error: onDeleteError
    })
}
var onDeleteSuccess = function(result) {
    $('#modal_successful').modal('show')
    setTimeout(function(){
        window.location.replace([[@{/domaintables}]])
    }, 2000);
}
var onDeleteError = function(e) {
    var msg = e.responseText.replace(/\n/g, "<br />");
    $('#modal_failed').find('.description').html(msg)
    $('#modal_failed').modal('show')
    console.log("ERROR : "+ msg);
}
var deleteRow = function(e, cell) {
    console.log('delete ' + cell.getRow().getIndex())
    var dlg = $('#modal_confirm')
    dlg.find('.description').html([[#{domain.table.delete.confirm}]])
    dlg.modal({
      closable:false,
      onApprove: function() { sendDelete(cell.getRow().getIndex()) }
    })
    dlg.modal('show');
}

// Setup Tabulator
var editIcon = function(cell, formatterParams){ return "<i class='edit icon'></i>"};
var trashIcon = function(cell, formatterParams){ return "<i class='trash icon'></i>"};
[/]
this.table = new Tabulator('#table', {
    index: 'id',
    layout: "fitData",
    pagination: true,
    paginationMode: "remote", //enable remote pagination
    ajaxURL: /*[[@{/api/domaintables}]]*/ "/api/domaintables", //set url for ajax request
    paginationSize: 5,
    ajaxContentType: "json",
    filterMode:"remote",
    sortMode: "remote",
    headerFilterLiveFilterDelay:700,
    footerElement: "<button id='filter' class='ui left floated compact button' href='javascript: filter();'><i class='icon filter'></i>[(#{filters})]</button>",
    ajaxURLGenerator: function(url, config, params ){
        console.log(config)
        console.log(params)
        p= new URLSearchParams()
        p.set('page', params.page)
        p.set('size', params.size)
        p.set('filter', JSON.stringify(params.filter))
        if(params.sort.length>0) {
            p.set('sortby', params.sort[0].field)
            p.set('sortorder', params.sort[0].dir)
        }
        return url + '?' + p.toString()
    },
    responsiveLayout: "collapse",
    columns:[ //Define Table Columns
        {title: /*{{#domain.table.name}}*/ "Name", field:"name", minWidth: 140},
        {title: /*{{#domain.table.version}}*/ "Version", field:"version", hozAlign:"left", minWidth: 100 },
        {title: /*{{#domain.table.group}}*/ "Group", field:"group", minWidth: 140},
        [# sec:authorize="hasRole('ROLE_TAX_DOMAIN_TABLE_WRITE')"]
        {formatter:editIcon, width:50, cellClick: editRow, headerSort:false, responsive:0},
        {formatter:trashIcon, width:50, cellClick: deleteRow, headerSort:false, responsive:0}
        [/]
    ]
})
table.on('rowClick', function(e, row) {
    if( e.target.classList.contains('edit') || e.target.classList.contains('trash')) {
        return
    }
    window.location.replace([[@{/domaintables/}]] + row.getIndex());
})
let showHeaderFilter = false
table.on("tableBuilt", function(){
  $('#filter').click( function() {
      showHeaderFilter = !showHeaderFilter
      table.getHeaderFilters().forEach( t => table.setHeaderFilterValue(t.field, ''))
      let cols = ['name', 'version', 'group']
      cols.forEach( name =>
        table.updateColumnDefinition(name, { headerFilter: showHeaderFilter})
      )
  })
})
</script>
</body>
</html>
    
