<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/page_fragments :: header(more_links=~{this::link}, more_scripts=~{this::script[src]})">
	<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" class="ui" href="/css/tabulator_semantic-ui.min.css">
	<script src="/js/tabulator.min.js"></script>
	<script src="/js/luxon.min.js"><</script>
	
</head>
<body>
	<!-- Fix to avoid overlap from the Menu -->
	<div>
		<br>
	</div>
	<div class="ui container">
      <div class="ui breadcrumb">
        <a class="section" th:text="#{menu.homepage}" th:href="@{/cards}">Home</a>
        <div class="divider"> / </div>
        <div class="active section" th:text="#{taxpayers.title}">Taxpayers</div>
      </div>
  
		<h2 class="ui header">
			<i class="users icon"></i>
			<span class="content" th:text="#{taxpayers.title}">Taxpayers</span>
		</h2>
    		<div id="table" class="ui orange table"></div>
		<div class="ui column right floated" sec:authorize="hasRole('ROLE_TAXPAYER_WRITE')">
			<div class="ui right floated primary labeled icon">
				<a th:href="@{/taxpayers/add}" class="ui blue button"><i class="plus icon"></i><span th:text="#{taxpayer.new}">New Taxpayer</span></a>
			</div>
		</div>
	</div>
 
<div th:replace="fragments/modals :: question">MODAL DIALOG FOR QUESTION</div>
<div th:replace="fragments/modals :: successful">MODAL DIALOG FOR SUCCESSFUL ALERT</div>
<div th:replace="fragments/modals :: failed">MODAL DIALOG FOR FAILURE ALERT</div>     
   
<script th:nonce="${cspNonce}" th:inline="javascript">
[# sec:authorize="hasRole('ROLE_TAXPAYER_WRITE')"]
let editRow = function(e, cell) {
  window.location.replace([[@{/taxpayers/}]] +  cell.getRow().getIndex() + "/edit");
}

let sendDelete = function(id) {
	$.ajax({
	    url: [[@{/api/taxpayer/}]] + id,
	    type: 'DELETE',
	    dataType: 'json',
	    contentType: 'application/json',
	    cache: false,  
	    success: onDeleteSuccess,
	    error: onDeleteError
	})
}

let onDeleteSuccess = function(result) {
	$('#modal_successful').modal('show')
	setTimeout(function(){
		window.location.replace([[@{/taxpayers}]])
	}, 2000);
}
		
let onDeleteError = function(e) {
	var msg = e.responseText.replace(/\n/g, "<br />");
	$('#modal_failed').find('.description').html(msg)
	$('#modal_failed').modal('show')
	console.log("ERROR : "+ msg);
}

let deleteRow = function(e, cell) {
    var dlg = $('#modal_confirm')
	dlg.find('.description').html([[#{taxpayer.delete.confirm}]])
	dlg.modal({
	    closable:false,
	    onApprove: function() { 
		  sendDelete(cell.getRow().getIndex()) 
	    }
    })
	dlg.modal('show');
}

let editIcon = function(cell, formatterParams){ return "<i class='edit icon'></i>"};
let trashIcon = function(cell, formatterParams){ return "<i class='trash icon'></i>"};
[/]
let table = new Tabulator('#table', {
	index: 'id',
	layout: "fitData", //fit columns to width of table (optional)
    pagination: true,
	paginationMode: "remote", //enable remote pagination
	ajaxURL: /*[[@{/api/taxpayers}]]*/ "/api/taxpayers", //set url for ajax request
	paginationSize: /*[[${@environment.getProperty('default.page.size')}]]*/ 15,
	paginationSizeSelector:[5, 10, /*[[${@environment.getProperty('default.page.size')}]]*/ 15, 25, 50, 1000],
	ajaxContentType: "json",
    filterMode:"remote",
    sortMode: "remote",
    headerFilterLiveFilterDelay:700,
    ajaxURLGenerator: function(url, config, params ){
        console.log(config)
        console.log(params)
        p= new URLSearchParams()
        p.set('page', params.page)
        p.set('size', params.size)
        p.set('filter', JSON.stringify(params.filter))
        if(params.sort.length>0) {
            p.set('sortby', params.sort[0].field)
            p.set('sortorder', params.sort[0].dir)
        }
        return url + '?' + p.toString()
    },	
	footerElement: "<button id='filter' class='ui left floated compact button' href='javascript: filter();'><i class='icon filter'></i>[(#{filters})]</button>",
    locale:'xx',
	langs:{
        "xx":{
            "pagination":{
                "first":/*[[#{pagination.first.button}]]*/ "First",
                "first_title":/*[[#{pagination.first.tooltip}]]*/ "First Page",
                "last":/*[[#{pagination.last.button}]]*/ "Last",
                "last_title":/*[[#{pagination.last.tooltip}]]*/ "Last Page",
                "prev":/*[[#{pagination.prev.button}]]*/ "Prev",
                "prev_title":/*[[#{pagination.prev.tooltip}]]*/ "Prev Page",
                "next":/*[[#{pagination.next.button}]]*/ "Next",
                "next_title":/*[[#{pagination.next.tooltip}]]*/ "Next Page",
                "all":/*[[#{pagination.all}]]*/ "All",
                "page_size":/*[[#{pagination.page.size}]]*/ "Page Size",
                "page_title":/*[[#{pagination.page.tooltip}]]*/ "Show Page"
            }
        }
    },
	columns:[ //Define Table Columns
		{title: /*[[#{taxpayer.id}]]*/ "Taxpayer ID", field:"taxPayerId", minWidth: 100, headerFilter: true},
		{title: /*[[#{taxpayer.name}]]*/ "Name", field:"name", minWidth: 140, headerFilter: true},
		[# sec:authorize="hasRole('ROLE_TAXPAYER_WRITE')"]
		{formatter:editIcon, width:45, cellClick: editRow, headerSort:false},
		{formatter:trashIcon, width:45, cellClick: deleteRow, headerSort:false}
		[/]
	]
})

[# sec:authorize="hasRole('ROLE_TAXPAYER_READ_ALL')"]
table.on('rowClick', function(e, row) {
    if( e.target.classList.contains('edit') || e.target.classList.contains('trash')) {
        return
    }
    window.location.replace([[@{/taxpayers/}]] + row.getIndex());
})
[/]

let showHeaderFilter = true
let toggleFilter = function() {
    showHeaderFilter = ! showHeaderFilter
    if(!showHeaderFilter) {
        table.clearHeaderFilter()
    }
    $('.tabulator-header-filter').toggle(showHeaderFilter)
    $('.tabulator-col').height(showHeaderFilter ? 64 : 43)
}

table.on("tableBuilt", function(){
    $('#filter').click( toggleFilter )
    toggleFilter()
})
</script>
</body>
</html>
    
