<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/page_fragments :: header">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>System Architecture</title>
</head>
<body>
	<!--/* Sidebar Menu */-->
	<th:block th:unless="${logged_area}">
		<div th:replace="fragments/page_fragments :: publicSidebarMenu"></div>
	</th:block>
	<div class="pusher">
		<!--/* Public Menu */-->
		<th:block th:unless="${logged_area}">
			<div th:replace="fragments/page_fragments :: publicMenu"></div>
			<!--/* Fix to avoid overlap from the Menu */-->
			<div>
				<br>
				<br>
				<br>
			</div>
		</th:block>
		<br>
<div class="ui text white container">
	<div class="ui tab active" data-tab="individual">
	
		<h1>Architecture</h1>
		
		<p dir="auto"><B>CACAO</B> is a web platform developed according to the 12-Factor design pattern (for more information about ’12-Factor’ design, see external link <a href="https://12factor.net/">https://12factor.net/</a>). There are different parts of this application that run as autonomous internal services. 
		</p>
		<p>The following picture illustrates all of these internal components that are part of <B>CACAO</B>:</p>

		<img style="margin-top: 7px; margin-right: 8px; width: 100%;" alt="CACAO architecture"
			src="/images/cacao-architecture.png" />
			
		<p>CACAO was developed using the following software and technologies provided by third parties:</p>
		<ul>
			<li>Apache Eureka <a href="https://github.com/Netflix/eureka">(https://github.com/Netflix/eureka)</a></li>
			<li>Apache Kafka <a href="https://kafka.apache.org/">(https://kafka.apache.org/)</a></li>
			<li>Apache Zookeeper <a href="https://zookeeper.apache.org/">(https://zookeeper.apache.org/)</a></li>
			<li>Docker <a href="https://www.docker.com/">(https://www.docker.com/)</a></li>
			<li>ElasticSearch <a href="https://www.elastic.co/what-is/elasticsearch">(https://www.elastic.co/what-is/elasticsearch)</a></li>
			<li>Java <a href="https://www.java.com/">(https://www.java.com/)</a></li>
			<li>Kibana <a href="https://www.elastic.co/kibana/">(https://www.elastic.co/kibana/)</a></li>
			<li>Let's Encrypt <a href="https://letsencrypt.org/">(https://letsencrypt.org/)</a></li>
			<li>NGINX <a href="https://nginx.org/en/">(https://nginx.org/en/)</a></li>
			<li>Spring Framework <a href="https://spring.io/">(https://spring.io/)</a></li>
		</ul>

		<p>This is the list of all Java components developed by third parties used with CACAO. The names are given according to the naming convention of MAVEN (<a href="https://maven.apache.org/guides/mini/guide-naming-conventions.html">https://maven.apache.org/guides/mini/guide-naming-conventions.html</a>) and the corresponding scope of usage.</p>
<pre>
   org.springframework.boot:spring-boot-starter-oauth2-client:jar:compile
   org.springframework.boot:spring-boot-starter:jar:compile
   jakarta.annotation:jakarta.annotation-api:jar:compile
   org.yaml:snakeyaml:jar:compile
   com.sun.mail:jakarta.mail:jar:compile
   com.sun.activation:jakarta.activation:jar:compile
   org.springframework.security:spring-security-config:jar:compile
   org.springframework.security:spring-security-core:jar:compile
   org.springframework.security:spring-security-crypto:jar:compile
   org.springframework.security:spring-security-oauth2-client:jar:compile
   org.springframework.security:spring-security-oauth2-core:jar:compile
   com.nimbusds:oauth2-oidc-sdk:jar:compile
   com.github.stephenc.jcip:jcip-annotations:jar-1:compile
   com.nimbusds:content-type:jar:compile
   com.nimbusds:lang-tag:jar:compile
   org.springframework.security:spring-security-oauth2-jose:jar:compile
   com.nimbusds:nimbus-jose-jwt:jar:compile
   org.springframework.boot:spring-boot-starter-validation:jar:compile
   org.apache.tomcat.embed:tomcat-embed-el:jar:compile
   org.hibernate.validator:hibernate-validator:jar.Final:compile
   org.jboss.logging:jboss-logging:jar.Final:compile
   org.springframework.boot:spring-boot-starter-thymeleaf:jar:compile
   org.thymeleaf:thymeleaf-spring5:jar.RELEASE:compile
   org.thymeleaf:thymeleaf:jar.RELEASE:compile
   org.attoparser:attoparser:jar.RELEASE:compile
   org.unbescape:unbescape:jar.RELEASE:compile
   org.thymeleaf.extras:thymeleaf-extras-java8time:jar.RELEASE:compile
   org.springframework.security:spring-security-taglibs:jar:compile
   org.springframework.security:spring-security-acl:jar:compile
   org.springframework:spring-jdbc:jar:compile
   org.springframework.security:spring-security-web:jar:compile
   org.springframework:spring-aop:jar:compile
   org.springframework:spring-beans:jar:compile
   org.springframework:spring-context:jar:compile
   org.springframework:spring-core:jar:compile
   org.springframework:spring-jcl:jar:compile
   org.springframework:spring-expression:jar:compile
   org.springframework:spring-web:jar:compile
   org.springframework.cloud:spring-cloud-starter-netflix-eureka-client:jar:compile
   org.springframework.cloud:spring-cloud-starter:jar:compile
   org.springframework.cloud:spring-cloud-context:jar:compile
   org.springframework.cloud:spring-cloud-commons:jar:compile
   org.springframework.security:spring-security-rsa:jar.RELEASE:compile
   org.springframework.cloud:spring-cloud-netflix-eureka-client:jar:compile
   com.netflix.eureka:eureka-client:jar:compile
   com.netflix.netflix-commons:netflix-eventbus:jar:compile
   com.netflix.netflix-commons:netflix-infix:jar:runtime
   commons-jxpath:commons-jxpath:jar:runtime
   joda-time:joda-time:jar:compile
   org.antlr:antlr-runtime:jar:runtime
   org.antlr:stringtemplate:jar:runtime
   org.apache.commons:commons-math:jar:runtime
   com.thoughtworks.xstream:xstream:jar:compile
   io.github.x-stream:mxparser:jar:compile
   xmlpull:xmlpull:jar.1:compile
   com.netflix.archaius:archaius-core:jar:compile
   javax.ws.rs:jsr311-api:jar:compile
   com.netflix.servo:servo-core:jar:compile
   commons-configuration:commons-configuration:jar:compile
   commons-lang:commons-lang:jar:compile
   com.google.inject:guice:jar:compile
   javax.inject:javax.inject:jar:1:compile
   aopalliance:aopalliance:jar:compile
   com.github.vlsi.compactmap:compactmap:jar:compile
   com.github.andrewoma.dexx:dexx-collections:jar:compile
   org.codehaus.jettison:jettison:jar:runtime
   com.netflix.eureka:eureka-core:jar:compile
   com.fasterxml.woodstox:woodstox-core:jar:compile
   org.springframework.cloud:spring-cloud-starter-loadbalancer:jar:compile
   org.springframework.cloud:spring-cloud-loadbalancer:jar:compile
   io.projectreactor.addons:reactor-extra:jar:compile
   org.springframework.boot:spring-boot-starter-cache:jar:compile
   com.stoyanr:evictor:jar:compile
   com.fasterxml.jackson.core:jackson-annotations:jar:compile
   org.springframework.data:spring-data-elasticsearch:jar:compile
   org.springframework.data:spring-data-commons:jar:compile
   org.elasticsearch.client:transport:jar:compile
   org.elasticsearch:elasticsearch:jar:compile
   org.elasticsearch:elasticsearch-core:jar:compile
   org.elasticsearch:elasticsearch-secure-sm:jar:compile
   org.elasticsearch:elasticsearch-x-content:jar:compile
   com.fasterxml.jackson.dataformat:jackson-dataformat-smile:jar:compile
   com.fasterxml.jackson.dataformat:jackson-dataformat-yaml:jar:compile
   com.fasterxml.jackson.dataformat:jackson-dataformat-cbor:jar:compile
   org.elasticsearch:elasticsearch-geo:jar:compile
   org.apache.lucene:lucene-core:jar:compile
   org.apache.lucene:lucene-analyzers-common:jar:compile
   org.apache.lucene:lucene-backward-codecs:jar:compile
   org.apache.lucene:lucene-grouping:jar:compile
   org.apache.lucene:lucene-highlighter:jar:compile
   org.apache.lucene:lucene-join:jar:compile
   org.apache.lucene:lucene-memory:jar:compile
   org.apache.lucene:lucene-misc:jar:compile
   org.apache.lucene:lucene-queries:jar:compile
   org.apache.lucene:lucene-queryparser:jar:compile
   org.apache.lucene:lucene-sandbox:jar:compile
   org.apache.lucene:lucene-spatial-extras:jar:compile
   org.apache.lucene:lucene-spatial3d:jar:compile
   org.apache.lucene:lucene-suggest:jar:compile
   org.elasticsearch:elasticsearch-cli:jar:compile
   com.carrotsearch:hppc:jar:compile
   com.tdunning:t-digest:jar:compile
   org.hdrhistogram:HdrHistogram:jar:compile
   org.elasticsearch:jna:jar-1:compile
   org.elasticsearch:elasticsearch-plugin-classloader:jar:runtime
   org.elasticsearch.plugin:reindex-client:jar:compile
   org.elasticsearch:elasticsearch-ssl-config:jar:compile
   org.elasticsearch.plugin:lang-mustache-client:jar:compile
   com.github.spullara.mustache.java:compiler:jar:compile
   org.elasticsearch.plugin:percolator-client:jar:compile
   org.elasticsearch.plugin:parent-join-client:jar:compile
   org.elasticsearch.plugin:rank-eval-client:jar:compile
   org.elasticsearch.plugin:transport-netty4-client:jar:compile
   io.netty:netty-resolver:jar.Final:compile
   org.elasticsearch.client:elasticsearch-rest-high-level-client:jar:compile
   org.elasticsearch.client:elasticsearch-rest-client:jar:compile
   org.apache.httpcomponents:httpasyncclient:jar:compile
   org.apache.httpcomponents:httpcore-nio:jar:compile
   org.elasticsearch.plugin:mapper-extras-client:jar:compile
   org.elasticsearch.plugin:aggs-matrix-stats-client:jar:compile
   jakarta.persistence:jakarta.persistence-api:jar:compile
   jakarta.validation:jakarta.validation-api:jar:compile
   com.github.javadev:underscore:jar:provided
   org.mock-server:mockserver-netty:jar:test
   org.mock-server:mockserver-client-java:jar:test
   org.mock-server:mockserver-core:jar:test
   com.lmax:disruptor:jar:test
   javax.servlet:javax.servlet-api:jar:compile
   io.netty:netty-codec-socks:jar.Final:test
   io.netty:netty-handler-proxy:jar.Final:test
   com.jcraft:jzlib:jar:test
   com.fasterxml.uuid:java-uuid-generator:jar:test
   org.apache.velocity:velocity-engine-scripting:jar:test
   org.apache.velocity:velocity-engine-core:jar:test
   net.javacrumbs.json-unit:json-unit-core:jar:test
   com.github.java-json-tools:json-schema-validator:jar:test
   com.github.java-json-tools:jackson-coreutils-equivalence:jar:test
   com.github.java-json-tools:jackson-coreutils:jar:test
   com.github.java-json-tools:msg-simple:jar:test
   com.github.java-json-tools:btf:jar:test
   com.github.java-json-tools:json-schema-core:jar:test
   com.github.java-json-tools:uri-template:jar:test
   org.mozilla:rhino:jar.2:test
   com.sun.mail:mailapi:jar:test
   com.googlecode.libphonenumber:libphonenumber:jar:test
   io.swagger.parser.v3:swagger-parser:jar:test
   io.swagger.parser.v3:swagger-parser-v2-converter:jar:test
   io.swagger:swagger-core:jar:test
   javax.validation:validation-api:jar.Final:test
   io.swagger:swagger-parser:jar:test
   org.slf4j:slf4j-ext:jar:test
   io.swagger:swagger-compat-spec-parser:jar:test
   io.swagger.parser.v3:swagger-parser-core:jar:test
   io.swagger.parser.v3:swagger-parser-v3:jar:test
   io.swagger.core.v3:swagger-core:jar:test
   org.xmlunit:xmlunit-placeholders:jar:test
   io.netty:netty-buffer:jar.Final:compile
   io.netty:netty-codec:jar.Final:compile
   io.netty:netty-codec-http:jar.Final:compile
   io.netty:netty-common:jar.Final:compile
   io.netty:netty-handler:jar.Final:compile
   io.netty:netty-transport:jar.Final:compile
   com.google.guava:guava:jar-jre:compile
   com.google.guava:failureaccess:jar:compile
   com.google.guava:listenablefuture:jar-empty-to-avoid-conflict-with-guava:compile
   com.google.code.findbugs:jsr305:jar:compile
   org.checkerframework:checker-qual:jar:compile
   com.google.errorprone:error_prone_annotations:jar:compile
   com.google.j2objc:j2objc-annotations:jar:compile
   org.springframework.boot:spring-boot-starter-mail:jar:compile
   org.springframework:spring-context-support:jar:compile
   org.springframework.kafka:spring-kafka-test:jar:provided
   org.springframework:spring-test:jar:provided
   org.springframework.retry:spring-retry:jar:compile
   org.apache.kafka:kafka-clients:jar:test:provided
   org.lz4:lz4-java:jar:compile
   org.apache.kafka:kafka-streams:jar:provided
   org.apache.kafka:connect-json:jar:provided
   org.apache.kafka:connect-api:jar:provided
   org.rocksdb:rocksdbjni:jar:provided
   org.apache.kafka:kafka-streams-test-utils:jar:provided
   org.apache.kafka:kafka_2.13:jar:provided
   org.apache.kafka:kafka-raft:jar:provided
   com.fasterxml.jackson.module:jackson-module-scala_2.13:jar:provided
   com.thoughtworks.paranamer:paranamer:jar:compile
   com.fasterxml.jackson.dataformat:jackson-dataformat-csv:jar:provided
   com.fasterxml.jackson.datatype:jackson-datatype-jdk8:jar:compile
   net.sf.jopt-simple:jopt-simple:jar:compile
   com.yammer.metrics:metrics-core:jar:provided
   org.scala-lang.modules:scala-collection-compat_2.13:jar:provided
   org.scala-lang.modules:scala-java8-compat_2.13:jar:provided
   org.scala-lang:scala-library:jar:provided
   org.scala-lang:scala-reflect:jar:provided
   com.typesafe.scala-logging:scala-logging_2.13:jar:provided
   org.apache.zookeeper:zookeeper:jar:provided
   org.apache.zookeeper:zookeeper-jute:jar:provided
   org.apache.yetus:audience-annotations:jar:compile
   io.netty:netty-transport-native-epoll:jar.Final:provided
   io.netty:netty-transport-native-unix-common:jar.Final:provided
   commons-cli:commons-cli:jar:compile
   org.apache.kafka:kafka_2.13:jar:test:provided
   org.junit.jupiter:junit-jupiter-api:jar:provided
   org.opentest4j:opentest4j:jar:provided
   org.junit.platform:junit-platform-commons:jar:provided
   org.bouncycastle:bcprov-jdk16:jar:compile
   org.bouncycastle:bcmail-jdk16:jar:compile
   org.apache.commons:commons-lang3:jar:compile
   commons-io:commons-io:jar:compile
   io.springfox:springfox-boot-starter:jar:compile
   io.springfox:springfox-oas:jar:compile
   io.swagger.core.v3:swagger-annotations:jar:compile
   io.swagger.core.v3:swagger-models:jar:compile
   io.springfox:springfox-spi:jar:compile
   io.springfox:springfox-schema:jar:compile
   io.springfox:springfox-core:jar:compile
   io.springfox:springfox-spring-web:jar:compile
   io.github.classgraph:classgraph:jar:compile
   io.springfox:springfox-spring-webmvc:jar:compile
   io.springfox:springfox-spring-webflux:jar:compile
   io.springfox:springfox-swagger-common:jar:compile
   org.mapstruct:mapstruct:jar.Final:runtime
   io.springfox:springfox-data-rest:jar:compile
   io.springfox:springfox-bean-validators:jar:compile
   io.springfox:springfox-swagger2:jar:compile
   io.swagger:swagger-annotations:jar:compile
   io.swagger:swagger-models:jar:compile
   io.springfox:springfox-swagger-ui:jar:compile
   com.fasterxml:classmate:jar:compile
   org.slf4j:slf4j-api:jar:compile
   org.springframework.plugin:spring-plugin-core:jar.RELEASE:compile
   org.springframework.plugin:spring-plugin-metadata:jar.RELEASE:compile
   org.springframework.boot:spring-boot-devtools:jar:compile
   org.springframework.boot:spring-boot:jar:compile
   org.springframework.boot:spring-boot-autoconfigure:jar:compile
   org.mitre.dsmiley.httpproxy:smiley-http-proxy-servlet:jar:compile
   org.apache.httpcomponents:httpclient:jar:compile
   org.apache.httpcomponents:httpcore:jar:compile
   com.github.mifmif:generex:jar:compile
   dk.brics.automaton:automaton:jar-8:compile
   org.apache.parquet:parquet-hadoop:jar:compile
   org.apache.parquet:parquet-column:jar:compile
   org.apache.parquet:parquet-common:jar:compile
   org.apache.parquet:parquet-encoding:jar:compile
   org.apache.parquet:parquet-format-structures:jar:compile
   javax.annotation:javax.annotation-api:jar:compile
   org.apache.parquet:parquet-jackson:jar:compile
   org.xerial.snappy:snappy-java:jar:compile
   commons-pool:commons-pool:jar:compile
   com.github.luben:zstd-jni:jar-1:compile
   org.apache.hadoop:hadoop-client:jar:compile
   org.apache.hadoop:hadoop-common:jar:compile
   org.apache.hadoop.thirdparty:hadoop-shaded-protobuf_3_7:jar:compile
   org.apache.hadoop.thirdparty:hadoop-shaded-guava:jar:compile
   commons-net:commons-net:jar:compile
   commons-collections:commons-collections:jar:compile
   jakarta.activation:jakarta.activation-api:jar:compile
   javax.servlet.jsp:jsp-api:jar:runtime
   commons-logging:commons-logging:jar:compile
   commons-beanutils:commons-beanutils:jar:compile
   org.apache.commons:commons-configuration2:jar:compile
   org.apache.avro:avro:jar:compile
   org.codehaus.jackson:jackson-core-asl:jar:compile
   org.codehaus.jackson:jackson-mapper-asl:jar:compile
   com.google.re2j:re2j:jar:compile
   com.google.protobuf:protobuf-java:jar:compile
   com.google.code.gson:gson:jar:compile
   org.apache.hadoop:hadoop-auth:jar:compile
   org.apache.curator:curator-framework:jar:compile
   org.apache.kerby:kerb-simplekdc:jar:compile
   org.apache.kerby:kerb-client:jar:compile
   org.apache.kerby:kerby-config:jar:compile
   org.apache.kerby:kerb-common:jar:compile
   org.apache.kerby:kerb-crypto:jar:compile
   org.apache.kerby:kerb-util:jar:compile
   org.apache.kerby:token-provider:jar:compile
   org.apache.kerby:kerb-admin:jar:compile
   org.apache.kerby:kerb-server:jar:compile
   org.apache.kerby:kerb-identity:jar:compile
   org.apache.kerby:kerby-xdr:jar:compile
   org.apache.curator:curator-client:jar:compile
   org.apache.curator:curator-recipes:jar:compile
   org.apache.htrace:htrace-core4:jar-incubating:compile
   org.apache.kerby:kerb-core:jar:compile
   org.apache.kerby:kerby-pkix:jar:compile
   org.apache.kerby:kerby-asn1:jar:compile
   org.apache.kerby:kerby-util:jar:compile
   org.codehaus.woodstox:stax2-api:jar:compile
   dnsjava:dnsjava:jar:compile
   org.apache.hadoop:hadoop-hdfs-client:jar:compile
   com.squareup.okhttp:okhttp:jar:compile
   com.squareup.okio:okio:jar:compile
   org.apache.hadoop:hadoop-yarn-api:jar:compile
   javax.xml.bind:jaxb-api:jar:compile
   javax.activation:javax.activation-api:jar:compile
   org.apache.hadoop:hadoop-yarn-client:jar:compile
   org.eclipse.jetty.websocket:websocket-client:jar.v20210629:compile
   org.eclipse.jetty.websocket:websocket-common:jar.v20210629:compile
   org.eclipse.jetty.websocket:websocket-api:jar.v20210629:compile
   org.jline:jline:jar:compile
   org.apache.hadoop:hadoop-mapreduce-client-core:jar:compile
   org.apache.hadoop:hadoop-yarn-common:jar:compile
   com.fasterxml.jackson.module:jackson-module-jaxb-annotations:jar:compile
   com.fasterxml.jackson.jaxrs:jackson-jaxrs-json-provider:jar:compile
   com.fasterxml.jackson.jaxrs:jackson-jaxrs-base:jar:compile
   org.apache.hadoop:hadoop-mapreduce-client-jobclient:jar:compile
   org.apache.hadoop:hadoop-mapreduce-client-common:jar:compile
   org.apache.hadoop:hadoop-annotations:jar:compile
   org.testcontainers:elasticsearch:jar:test
   org.testcontainers:testcontainers:jar:test
   org.rnorth.duct-tape:duct-tape:jar:test
   org.jetbrains:annotations:jar:test
   com.github.docker-java:docker-java-api:jar:test
   com.github.docker-java:docker-java-transport-zerodep:jar:test
   com.github.docker-java:docker-java-transport:jar:test
   net.java.dev.jna:jna:jar:test
   org.testcontainers:junit-jupiter:jar:test
   org.springframework.boot:spring-boot-starter-data-elasticsearch:jar:compile
   org.springframework.boot:spring-boot-starter-security:jar:compile
   org.springframework.boot:spring-boot-starter-data-jpa:jar:compile
   org.springframework.boot:spring-boot-starter-aop:jar:compile
   org.aspectj:aspectjweaver:jar:compile
   org.springframework.boot:spring-boot-starter-jdbc:jar:compile
   com.zaxxer:HikariCP:jar:compile
   jakarta.transaction:jakarta.transaction-api:jar:compile
   org.hibernate:hibernate-core:jar.Final:compile
   org.javassist:javassist:jar-GA:compile
   net.bytebuddy:byte-buddy:jar:compile
   antlr:antlr:jar:compile
   org.jboss:jandex:jar.Final:compile
   org.dom4j:dom4j:jar:compile
   org.hibernate.common:hibernate-commons-annotations:jar.Final:compile
   org.glassfish.jaxb:jaxb-runtime:jar:compile
   org.glassfish.jaxb:txw2:jar:compile
   com.sun.istack:istack-commons-runtime:jar:compile
   org.springframework.data:spring-data-jpa:jar:compile
   org.springframework:spring-orm:jar:compile
   org.springframework:spring-aspects:jar:compile
   org.springframework.boot:spring-boot-starter-web:jar:compile
   org.springframework.boot:spring-boot-starter-json:jar:compile
   com.fasterxml.jackson.module:jackson-module-parameter-names:jar:compile
   org.springframework.boot:spring-boot-starter-tomcat:jar:compile
   org.apache.tomcat.embed:tomcat-embed-core:jar:compile
   org.apache.tomcat.embed:tomcat-embed-websocket:jar:compile
   org.springframework:spring-webmvc:jar:compile
   org.thymeleaf.extras:thymeleaf-extras-springsecurity5:jar.RELEASE:compile
   org.springframework.boot:spring-boot-starter-test:jar:test
   org.springframework.boot:spring-boot-test:jar:test
   org.springframework.boot:spring-boot-test-autoconfigure:jar:test
   com.jayway.jsonpath:json-path:jar:test
   net.minidev:json-smart:jar:compile
   net.minidev:accessors-smart:jar:compile
   org.ow2.asm:asm:jar:compile
   jakarta.xml.bind:jakarta.xml.bind-api:jar:compile
   org.assertj:assertj-core:jar:test
   org.hamcrest:hamcrest:jar:test
   org.junit.jupiter:junit-jupiter:jar:test
   org.junit.jupiter:junit-jupiter-params:jar:test
   org.junit.jupiter:junit-jupiter-engine:jar:test
   org.mockito:mockito-core:jar:test
   net.bytebuddy:byte-buddy-agent:jar:test
   org.objenesis:objenesis:jar:test
   org.mockito:mockito-junit-jupiter:jar:test
   org.skyscreamer:jsonassert:jar:test
   com.vaadin.external.google:android-json:jar.vaadin1:test
   org.xmlunit:xmlunit-core:jar:test
   org.springframework.security:spring-security-test:jar:test
   org.springframework.boot:spring-boot-starter-log4j2:jar:compile
   org.apache.logging.log4j:log4j-slf4j-impl:jar:compile
   org.slf4j:jul-to-slf4j:jar:compile
   org.apache.logging.log4j:log4j-core:jar:compile
   org.apache.logging.log4j:log4j-api:jar:compile
   org.apache.logging.log4j:log4j-jul:jar:compile
   org.springframework.cloud:spring-cloud-stream:jar:compile
   org.springframework:spring-messaging:jar:compile
   org.springframework.integration:spring-integration-core:jar:compile
   io.projectreactor:reactor-core:jar:compile
   org.reactivestreams:reactive-streams:jar:compile
   org.springframework.integration:spring-integration-jmx:jar:compile
   org.springframework.cloud:spring-cloud-function-context:jar:compile
   net.jodah:typetools:jar:compile
   org.springframework.cloud:spring-cloud-function-core:jar:compile
   org.springframework.cloud:spring-cloud-stream-binder-kafka:jar:compile
   org.springframework.cloud:spring-cloud-stream-binder-kafka-core:jar:compile
   org.springframework.integration:spring-integration-kafka:jar:compile
   org.apache.kafka:kafka-clients:jar:compile
   org.springframework.kafka:spring-kafka:jar:compile
   org.springframework:spring-tx:jar:compile
   org.json:json:jar:20160810:compile
   org.springframework.cloud:spring-cloud-stream-test-support:jar:test
   com.fasterxml.jackson.core:jackson-databind:jar:compile
   com.fasterxml.jackson.datatype:jackson-datatype-jsr310:jar:compile
   com.fasterxml.jackson.core:jackson-core:jar:compile
   org.testcontainers:kafka:jar:test
   org.junit.platform:junit-platform-runner:jar:test
   junit:junit:jar:test
   org.hamcrest:hamcrest-core:jar:test
   org.apiguardian:apiguardian-api:jar:provided
   org.junit.platform:junit-platform-launcher:jar:test
   org.junit.platform:junit-platform-engine:jar:test
   org.junit.platform:junit-platform-suite-api:jar:test
   org.apache.poi:poi:jar:compile
   org.slf4j:jcl-over-slf4j:jar:compile
   commons-codec:commons-codec:jar:compile
   org.apache.commons:commons-collections4:jar:compile
   org.apache.commons:commons-math3:jar:compile
   com.zaxxer:SparseBitSet:jar:compile
   org.apache.poi:poi-ooxml:jar:compile
   org.apache.poi:poi-ooxml-lite:jar:compile
   org.apache.xmlbeans:xmlbeans:jar:compile
   xml-apis:xml-apis:jar:compile
   org.apache.commons:commons-compress:jar:compile
   com.github.virtuald:curvesapi:jar:compile
   org.bouncycastle:bcpkix-jdk15on:jar:compile
   org.bouncycastle:bcprov-jdk15on:jar:compile
   org.apache.santuario:xmlsec:jar:compile
   org.apache.xmlgraphics:batik-all:jar:compile
   org.apache.xmlgraphics:batik-anim:jar:compile
   org.apache.xmlgraphics:batik-shared-resources:jar:compile
   xml-apis:xml-apis-ext:jar:compile
   org.apache.xmlgraphics:batik-awt-util:jar:compile
   org.apache.xmlgraphics:xmlgraphics-commons:jar:compile
   org.apache.xmlgraphics:batik-bridge:jar:compile
   org.apache.xmlgraphics:batik-codec:jar:compile
   org.apache.xmlgraphics:batik-constants:jar:compile
   org.apache.xmlgraphics:batik-css:jar:compile
   org.apache.xmlgraphics:batik-dom:jar:compile
   xalan:xalan:jar:compile
   xalan:serializer:jar:compile
   org.apache.xmlgraphics:batik-ext:jar:compile
   org.apache.xmlgraphics:batik-extension:jar:compile
   org.apache.xmlgraphics:batik-gui-util:jar:compile
   org.apache.xmlgraphics:batik-gvt:jar:compile
   org.apache.xmlgraphics:batik-i18n:jar:compile
   org.apache.xmlgraphics:batik-parser:jar:compile
   org.apache.xmlgraphics:batik-rasterizer-ext:jar:compile
   org.apache.xmlgraphics:batik-rasterizer:jar:compile
   org.apache.xmlgraphics:batik-script:jar:compile
   org.apache.xmlgraphics:batik-slideshow:jar:compile
   org.apache.xmlgraphics:batik-squiggle-ext:jar:compile
   org.apache.xmlgraphics:batik-squiggle:jar:compile
   org.apache.xmlgraphics:batik-svg-dom:jar:compile
   org.apache.xmlgraphics:batik-svgbrowser:jar:compile
   org.apache.xmlgraphics:batik-svggen:jar:compile
   org.apache.xmlgraphics:batik-svgpp:jar:compile
   org.apache.xmlgraphics:batik-svgrasterizer:jar:compile
   org.apache.xmlgraphics:batik-swing:jar:compile
   org.apache.xmlgraphics:batik-transcoder:jar:compile
   org.apache.xmlgraphics:batik-util:jar:compile
   org.apache.xmlgraphics:batik-ttf2svg:jar:compile
   org.apache.xmlgraphics:batik-xml:jar:compile
   de.rototor.pdfbox:graphics2d:jar:compile
   org.apache.pdfbox:pdfbox:jar:compile
   org.apache.pdfbox:fontbox:jar:compile
   org.apache.commons:commons-text:jar:compile
</pre>
	
	</div>
</div>		
		<!--/* Footer */-->
		<th:block th:unless="${logged_area}">
			<div th:replace="fragments/page_fragments :: footer"></div>
		</th:block>
</div>
	<!--/* Language Javascript */-->
	<div th:replace="fragments/page_fragments :: languageJavascript"></div>
</body>
</html>
