<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/page_fragments :: header">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<!--/* Sidebar Menu */-->
	<th:block th:unless="${logged_area}">
		<div th:replace="fragments/page_fragments :: publicSidebarMenu"></div>
	</th:block>
	<div class="pusher">
		<!--/* Public Menu */-->
		<th:block th:unless="${logged_area}">
			<div th:replace="fragments/page_fragments :: publicMenu"></div>
			<!--/* Fix to avoid overlap from the Menu */-->
			<div>
				<br>
				<br>
				<br>
			</div>
		</th:block>
		<br>
<div class="ui text white container">
	<div class="ui tab active" data-tab="individual" th:switch="${#locale.language}">
	
	<!--/* Case language is set to English */-->	
	<div th:case="en">
		<h1>License</h1>
		<p>This software is licensed accordingly to the MIT license.</p>
		<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
		<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
		<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE	WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE	AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
		<p></p>
		<h1>Third-party Licenses</h1>
		<p>This software uses third-party components, distributed accordingly to their own licenses, as follows:</p>
		<p></p>
	</div>

	<!--/* Case language is set to Spanish */-->	
	<div th:case="es">
		<h1>Licencia</h1>
		<p>Este software está licenciado de acuerdo con la	licencia MIT.</p> 
		<p>Por la presente se concede permiso, sin cargo alguno, a cualquier persona que obtenga una copia de este software y de los archivos de documentación asociados (el "Software"), para comerciar con el Software sin restricciones, incluyendo, sin limitación, los derechos de uso, copia, modificación, fusión, publicación, distribución, sublicencia y/o venta de copias del Software, y para permitir que las personas a las que se les proporcione el Software lo hagan, con sujeción a las siguientes condiciones:</p>
		<p>El aviso de copyright anterior y este aviso de permiso se incluirán en todas las copias o partes sustanciales del Software.</p>
		<p>EL SOFTWARE SE SUMINISTRA "TAL CUAL", SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O IMPLÍCITA, INCLUIDAS, PERO SIN LIMITARSE A ELLAS, LAS GARANTÍAS DE COMERCIABILIDAD, IDONEIDAD PARA UN FIN DETERMINADO Y NO INFRACCIÓN. EN NINGÚN CASO LOS AUTORES O LOS TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE NINGUNA RECLAMACIÓN, DAÑO U OTRA RESPONSABILIDAD, YA SEA EN UNA ACCIÓN CONTRACTUAL, EXTRACONTRACTUAL	O DE OTRO TIPO, QUE SURJA DE, O ESTÉ RELACIONADA CON EL SOFTWARE O EL USO U OTRAS OPERACIONES CON EL SOFTWARE.
		<p></p>
		<h1>Licencias de terceros</h1>
		<p>Este software utiliza componentes de terceros, distribuidos según sus propias licencias, como se indica a continuación:</p>
		<p></p>
	</div>
			
	<p>The MIT License (MIT) </p>
	<p><a href="https://opensource.org/licenses/MIT">https://opensource.org/licenses/MIT</a></p>
	<p></p>
	<p>Apache License, Version 2.0</p>
	<p><a href="https://www.apache.org/licenses/LICENSE-2.0.html">https://www.apache.org/licenses/LICENSE-2.0.html</a></p>
	<p></p>
	<p>BSD 3-clause License </p>
	<p><a href="https://opensource.org/licenses/BSD-3-Clause">https://opensource.org/licenses/BSD-3-Clause</a></p>
	<p></p>
	<p>Mozilla Public Licence (MPL) 2.0 </p>
	<p><a href="https://www.mozilla.org/en-US/MPL/2.0/">https://www.mozilla.org/en-US/MPL/2.0/</a></p>
	<p></p>
	<p>Common Development and Distribution License (CDDL) 1.1</p>
	<p><a href="https://spdx.org/licenses/CDDL-1.1">https://spdx.org/licenses/CDDL-1.1</a></p>
	<p></p>
	<p>GNU General Public License (GPL) v.2  with Classpath Exception</p>
	<p><a href="https://openjdk.java.net/legal/gplv2+ce.html">https://openjdk.java.net/legal/gplv2+ce.html</a></p>
	<p></p>
	<p>Eclipse Distribution License - v 1.0</p>
	<p><a href="https://www.eclipse.org/org/documents/edl-v10.php">https://www.eclipse.org/org/documents/edl-v10.php</a></p>
	<p></p>
	<p>Eclipse Public License 1.0 and 2.0</p>
	<p><a href="https://www.eclipse.org/legal/epl-2.0/">https://www.eclipse.org/legal/epl-2.0/</a></p>
	<p></p>
	<p>Bouncy Castle Licence</p>
	<p><a href="https://www.bouncycastle.org/licence.html">https://www.bouncycastle.org/licence.html</a></p>
	<p></p>
	<p>The JSON License</p>
	<p><a href="http://www.json.org/license.html">http://www.json.org/license.html</a></p>
	<p></p>
	<p>Creative Commons Zero (CC0)</p>
	<p><a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode">https://creativecommons.org/publicdomain/zero/1.0/legalcode</a></p>
	
	</div>
</div>		
		<!--/* Footer */-->
		<th:block th:unless="${logged_area}">
			<div th:replace="fragments/page_fragments :: footer"></div>
		</th:block>
</div>
	<!--/* Language Javascript */-->
	<div th:replace="fragments/page_fragments :: languageJavascript"></div>
</body>
</html>