<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/page_fragments :: header">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<!-- Fix to avoid overlap from the Menu -->
	<div>
		<br>
	</div>
	<div class="ui container">
        <div class="ui breadcrumb">
          <a class="section" th:text="#{menu.homepage}" th:href="@{/cards}">Home</a>
          <div class="divider"> / </div>
          <a class="section" th:text="#{users.title}" th:href="@{/users}">Users</a>
          <div class="divider"> / </div>
          <div class="active section" th:text="#{user.new}">New User</div>
        </div>
		<h2 class="ui header">
			<i class="user icon"></i>
			<div class="content" th:text="#{user.new}">New User</div>
		</h2>
		<div class="ui container">
			<div class="ui orange segment">
				<form class="ui form" action="#" name="form" id="form" th:action="@{/api/user}" th:object="${user}" method="post">
                    <div class="fields">
                      <div class="eight wide field">
                        <label th:text="#{user.name}" style="margin-bottom: 0px; text-transform: uppercase;">User Name</label> 
                        <input type="text" th:field="*{name}" th:value="*{name}" class="form-control" id="name" placeholder="Name" th:placeholder="#{user.name}">
                      </div>
                      <div class="eight wide field">
                        <label th:text="#{user.login}" style="margin-bottom: 0px; text-transform: uppercase;">Login</label> 
                        <input type="text" th:field="*{login}" th:value="*{login}" class="form-control" id="login" placeholder="Login" th:placeholder="#{user.login}">
                      </div>
                    </div>
					<th:block th:unless="${omit_password}">
                      <div class="fields">
                         <div class="eight wide field">
                            <label style="margin-bottom: 0px; text-transform: uppercase;" class="ui label">
                            <i class="lock icon"></i><th:block th:text="#{user.password}">Password</th:block>
                            </label> 
  						    <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Password" th:placeholder="#{user.password}">
                         </div>
                         <div class="eight wide field">
                            <label style="margin-bottom: 0px; text-transform: uppercase;" class="ui label">
                            <i class="lock icon"></i><th:block th:text="#{user.password.confirm}">Confirm Password</th:block>
                            </label> 
                            <input type="password" th:field="*{confirmPassword}" class="form-control" id="confirmPassword" placeholder="Password" th:placeholder="#{user.password.confirm}">
                         </div>
                      </div>     
					</th:block>
                    <div class="field">
                      <label th:text="#{user.profile}" style="margin-bottom: 0px; text-transform: uppercase;">Profile</label>
                      <select th:field="*{profile}" class="ui fluid dropdown local" id="selectProfile">
                        <option value="" th:text="#{select}">Select</option>
                        <option
                          th:each="i :  ${T(org.idb.cacao.web.entities.UserProfile).values()}"
                          th:value="${i.name()}" th:text="#{${i}}"></option>
                      </select>  
                    </div>
                    <div class="field" id="showTaxpayer" style="display: none;">
                      <label th:text="#{taxpayer.id}" style="margin-bottom: 0px; text-transform: uppercase;">Taxpayer ID</label> 
                      <div class="ui search selection dropdown" id="selectTaxpayer">
                          <input type="hidden" th:field="*{taxpayerId}" id="taxpayerId">
                          <div class="default text" th:text="#{search}">Search</div>
                          <i class="dropdown icon"></i>
                          <div class="menu"></div>
                      </div>
                    </div>
					<div class="row">
						<input type="submit" class="ui blue submit button" th:value="#{user.add.title}" value="Add User">
						<input type="button" class="ui button" th:value="#{cancel}" value="Cancel" id="cancel">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragments/modals :: successful">MODAL DIALOG FOR SUCCESSFUL ALERT</div>
	<div th:replace="fragments/modals :: failed">MODAL DIALOG FOR FAILURE ALERT</div>

<script th:nonce="${cspNonce}" th:inline="javascript">
$('#cancel').click(function() {
    window.location.replace([[@{/users}]])
})
$('#selectProfile').dropdown({
	onChange: function(value, text) {
        $('#showTaxpayer').toggle(value=='DECLARANT')
    }
})

$('#selectTaxpayer').dropdown({
    apiSettings: {
       url: '/api/taxpayers/autocomplete?term={query}',
       method: 'GET',
       //dataType: 'text',
       cache: false,
       onResponse: function(result) {
            results = []
            $.each(result.results, function(index, item) {
                results.push({ name: '<b>' + item.id + "</b> : " + item.name, value:item.id })
            })
            result.results = results
            return result
       },
    },
   action: 'activate',
   clearable: true
})


let processForm = function(event, fields) {
	event.preventDefault()
	$.ajax({
	    url: [[@{/api/user}]],
	    type: 'POST',
	    dataType: 'json',
	    contentType: 'application/json',
	    data: JSON.stringify(fields),
	    cache: false,    
		success: function(result) {
			$('#modal_successful').modal('show')
			setTimeout(function(){
				window.location = [[@{/users}]]
			}, 2000);
		},
		error: function(e) {
			var msg = e.responseText.replace(/\n/g, "<br />");
			$('#modal_failed').find('.description').html(msg)
			$('#modal_failed').modal('show')
			console.log("ERROR : "+msg);
		}
	})
};			 

$('#form').form({
  inline : true,
  on     : "blur",
  fields : {
    name: ['minLength[4]', 'maxLength[120]'],
    login: ['email', 'maxLength[60]'],
    profile: ['empty'],
    password: ['minLength[6]','maxLength[60]'],
    confirmPassword: ['match[password]']
  },
  prompt: {
    empty : [[#{error.field.empty('{name}')}]],
    number: [[#{error.field.number('{name}')}]],
    minLength: [[#{error.field.minLength('{name}','{ruleValue}')}]],
    maxLength: [[#{error.field.maxLength('{name}','{ruleValue}')}]],
    match: [[#{error.field.match('{name}','{ruleValue}')}]],
  },
  onSuccess: (processForm)
})
</script>
</body>
</html>