<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/page_fragments :: header(more_links=~{this::link}, more_scripts=~{this::script[src]})">
	<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" class="ui" href="/css/tabulator_semantic-ui.min.css">
	<script src="/js/tabulator.min.js"></script>
	<script src="/js/luxon.min.js"><</script>
</head>
<body>
	<!-- Fix to avoid overlap from the Menu -->
	<div>
		<br>
	</div>
	<div class="ui container">
		<h2 class="ui header">
			<i class="people arrows icon"></i>
			<div class="content" th:text="#{taxpayers.general.view.vertical.analysis}">Show vertical analysis</div>
		</h2>
		<div class="ui container">
			<div class="ui orange segment">
              <div class="ui field">
                <label th:text="#{taxpayer.name}">TaxPayer name</label>
                <div class="ui" id="select">
                    <input id="taxpayer" name="personId" readonly>
                </div>			
		    </div>
		    <div id="table" class="ui orange table"></div>
		</div>
	</div>

<script th:nonce="${cspNonce}" th:inline="javascript">

let balance = /*[[${balance}]]*/ null;

document.getElementById("taxpayer").value = balance.taxPayerName;

let table = new Tabulator('#table', {
	index: 'id',
	layout: "fitData", //fit columns to width of table (optional)
    pagination: false,
	paginationMode: "remote", //enable remote pagination
	data: balance.accounts,
	rowFormatter:function(row){
	    var data = row.getData();
	    if(data.level == "1"){
	        row.getElement().style.backgroundColor = "#719beb"; //apply css change to row element
	        row.getElement().style.fontWeight = "bold";
	    }	
	    else if(data.level == "2"){
	        row.getElement().style.backgroundColor = "#a7c1f2"; //apply css change to row element
	    }
	    else if(data.level == "3"){
	        row.getElement().style.backgroundColor = "#dfe6f2"; //apply css change to row element
	    }
	},	
	columns:[ //Define Table Columns
		{title: /*[[#{account.level}}*/ "Level", field:"level", hozAlign:"center", headerSort:false},
		{title: /*[[#{account.category}}*/ "Category", field:"category", hozAlign:"center", headerSort:false },
		{title: /*[[#{account.subcategory}}*/ "SubCategory", field:"subcategory", hozAlign:"center", headerSort:false},
		{title: /*[[#{account.code}}*/ "Code", field:"code", headerSort:false},
		{title: /*[[#{account.description}]]}*/ "Description", field:"description", headerSort:false },
		{title: /*[[#{account.finalBalance}]]}*/ "Balance", field:"finalBalance", hozAlign:"right", headerSort:false },
		{title: /*[[#{account.percentage}]]}*/ "Percentage", field:"percentage", hozAlign:"right", headerSort:false }	
	]
})

let cancel = function() {
    window.location.replace([[@{/taxpayersgeneralview/view-vertical-analysis}]])
}

</script>
</body>
</html>