<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/page_fragments :: header">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<!-- Fix to avoid overlap from the Menu -->
	<div>
		<br>
	</div>
	<div class="ui container">
		<h2 class="ui header">
			<i class="envelope icon"></i>
			<span class="content" th:text="#{config.email}">Server e-mail configuration</span>
		</h2>
		<div class="ui middle aligned center aligned grid container">
			<div class="ui orange fluid segment">
				<form action="#" th:action="@{/config_email}" th:object="${config}" method="post">
				
					<div class="row">
						<div class="ui form">
							<h4 class="ui header" style="margin-bottom: 0px; text-transform: uppercase;">
								<span class="content" th:text="#{config.email.supportEmail}">Support EMail</span>
							</h4>
							<input type="text" th:field="*{supportEmail}" class="form-control" id="supportEmail" th:placeholder="#{config.email.supportEmail}" readonly>
							<span th:if="${#fields.hasErrors('supportEmail')}" th:errors="*{supportEmail}" class="ui warning message"></span>
						</div>
						<div class="ui form">
							<h4 class="ui header" style="margin-bottom: 0px; margin-top: 1em; text-transform: uppercase;">
								<span class="content" th:text="#{config.email.host}">Host</span>
							</h4>
							<input type="text" th:field="*{host}" class="form-control" id="host" placeholder="Host" th:placeholder="#{config.email.host}" readonly>
							<span th:if="${#fields.hasErrors('host')}" th:errors="*{host}" class="ui warning message"></span>
						</div>
						<div class="ui form">
							<h4 class="ui header" style="margin-bottom: 0px; margin-top: 1em; text-transform: uppercase;">
								<span class="content" th:text="#{config.email.port}">Port</span>
							</h4>
							<input type="text" th:field="*{port}" class="form-control" id="port" placeholder="Port" th:placeholder="#{config.email.port}" readonly>
							<span th:if="${#fields.hasErrors('port')}" th:errors="*{port}" class="ui warning message"></span>
						</div>
						<div class="ui form">
							<h4 class="ui header" style="margin-bottom: 0px; margin-top: 1em; text-transform: uppercase;">
								<span class="content" th:text="#{config.email.protocol}">Protocol</span>
							</h4>
							<select th:field="*{protocol}" class="ui fluid dropdown" disabled>
								<option th:each="i : ${T(org.idb.cacao.web.entities.ConfigEMail.EmailProtocol).values()}" th:value="${i.name()}" th:text="${i.toString()}"></option>
							</select>
						</div>
						<div class="ui form">
							<h4 class="ui header" style="margin-bottom: 0px; margin-top: 1em; text-transform: uppercase;">
								<span class="content" th:text="#{config.email.username}">username</span>
							</h4>
							<input type="text" th:field="*{username}" class="form-control" id="username" placeholder="Username" th:placeholder="#{config.email.username}" readonly>
							<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="ui warning message"></span>
						</div>
						<div class="ui form">
							<h4 class="ui header" style="margin-bottom: 0px; margin-top: 1em; text-transform: uppercase;">
								<span class="content" th:text="#{config.email.password}">password</span>
							</h4>
							<input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Password" th:placeholder="#{config.email.password}" readonly>
							<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="ui warning message"></span>
						</div>
						<div class="ui form">
							<h4 class="ui header" style="margin-bottom: 0px; margin-top: 1em; text-transform: uppercase;">
								<span class="content" th:text="#{config.email.auth}">Authentication</span>
							</h4>
							<select th:field="*{auth}" class="ui fluid dropdown" disabled>
								<option th:value="true" th:text="#{yes}">
								<option th:value="false" th:text="#{no}">
							</select>
						</div>
						<div class="ui form">
							<h4 class="ui header" style="margin-bottom: 0px; margin-top: 1em; text-transform: uppercase;">
								<span class="content" th:text="#{config.email.tls}">TLS</span>
							</h4>
							<select th:field="*{tls}" class="ui fluid dropdown" disabled>
								<option th:value="true" th:text="#{yes}">
								<option th:value="false" th:text="#{no}">
							</select>
						</div>
						<div class="ui form">
							<h4 class="ui header" style="margin-bottom: 0px; margin-top: 1em; text-transform: uppercase;">
								<span class="content" th:text="#{config.email.timeout}">Timeout</span>
							</h4>
							<input type="text" th:field="*{timeout}" class="form-control" id="timeout" placeholder="Timeout" th:placeholder="#{config.email.timeout}" readonly>
							<span th:if="${#fields.hasErrors('timeout')}" th:errors="*{timeout}" class="ui warning message"></span>
						</div>
						<div class="ui dimmer middle aligned center aligned" id="dimmer">
							<div class="ui massive text loader" th:text="#{wait}">Wait</div>
						</div>
					</div>
					<div class="row">
						<div class="ui segment">
							<input type="button" class="ui green button" th:value="#{edit}" value="Edit" id="edit">
							<input type="submit" class="ui blue button" th:value="#{save}" value="Save" id="save" style="display: none">
							<input type="button" class="ui button" th:value="#{cancel}" value="Cancel" id="cancel" style="display: none">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragments/modals :: question">MODAL DIALOG FOR QUESTION</div>
	<div th:replace="fragments/modals :: successful">MODAL DIALOG FOR SUCCESSFUL ALERT</div>
	<div th:replace="fragments/modals :: failed">MODAL DIALOG FOR FAILURE ALERT</div>
	<script th:nonce="${cspNonce}" th:inline="javascript">
  $('#edit').click(function(event){
	  $('#edit').hide();
	  $('#save').show();
	  $('#cancel').show();
	  $('form').find("input").prop("readonly",false)
	  $('form').find("select").prop("disabled",false)
  });
  $('form').submit(function(event){
	 event.preventDefault();
	 var form_as_obj = {};
	 $.each($('form').serializeArray(),
	     function(i, v) {
		 form_as_obj[v.name] = v.value;
	     });	 
	  var dlg = $('#modal_confirm')
	  dlg.find('.description').html([[#{config.email.confirm}]])
	  dlg.modal({
		  closable:false,
		  onApprove: function(){
			 $('#dimmer').dimmer('show');
			 $.ajax({
				    url: $('form')[0].action,
				    type: 'PUT',
				    dataType: 'json',
				    contentType: 'application/json',
				    data: JSON.stringify(form_as_obj),
				    cache: false,    
					success: function(result) {
						$('#dimmer').dimmer('hide');
						var msg = result.message
						if ("OK"==msg) {
							$('#modal_successful').modal('show')
							setTimeout(function(){
								window.location.replace([[@{/config_email}]])
							}, 2000);
						}
						else {
							$('#modal_failed').find('.description').html(msg)
							$('#modal_failed').modal('show')
							console.log("ERROR : "+ msg);							
						}
					},
					error: function(e) {
						$('#dimmer').dimmer('hide');
						var msg = e.responseText.replace(/\n/g, "<br />");
						$('#modal_failed').find('.description').html(msg)
						$('#modal_failed').modal('show')
						console.log("ERROR : "+ msg);
					}
				});			 
		  }
		})
	  dlg.modal('show');
  });
  $('#cancel').click(function(){
	  window.location.replace([[@{/config_email}]]) 
  })
</script>
</body>
</html>