<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/page_fragments :: header(more_links=~{this::link}, more_scripts=~{this::script[src]})">
	<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" class="ui" href="/css/tabulator_semantic-ui.min.css">
	<script src="/js/tabulator.min.js"></script>
	<script src="/js/luxon.min.js"><</script>
	
</head>
<body>
	<!-- Fix to avoid overlap from the Menu -->
	<div>
		<br>
	</div>
	<div class="ui container">
        <div class="ui breadcrumb">
          <a class="section" th:text="#{menu.homepage}" th:href="@{/cards}">Home</a>
          <div class="divider"> / </div>
          <a class="section" th:text="#{sync}" th:href="@{/sync/current}">SYNC</a>
          <div class="divider"> / </div>
          <div class="active section" th:text="${param.endpoint}">EndPoint</div>
        </div>
		<h2 class="ui header">
			<i class="history icon"></i>
			<span class="content" th:text="#{sync.commits.history}">Synchronization Commits History</span>
		</h2>
		<div th:if="${running!=null && running.isPresent()}">
			<div class="ui warning message" th:text="#{error.sync.already.running(${running.get().getUser()},${running.get().getStartFormatted()})}"></div>
		</div>
		<div class="ui warning message warn_sync_running" th:text="#{sync.running}" style="display: none"></div>
		<div th:if="${param.stopped}">
			<div class="ui positive message" th:text="#{sync.stopped}"></div>
		</div>
		<table class="ui orange small table">
			<thead class="full-width">
				<tr>
					<th th:text="#{sync.commits.endPoint}" />
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${param.endpoint}" />
				</tr>
			</tbody>
		</table>
   		<div id="table" class="ui orange table"></div>
		<div class="ui column right floated" sec:authorize="hasRole('ROLE_SYNC_OPS')">
			<div class="ui right floated primary labeled icon">
				<a href="#" class="ui blue button btn_sync_now"><i class="linkify icon"></i><span th:text="#{sync.now}">Synchronize now</span></a>
			</div>
		</div>
	</div>
	
<div th:replace="fragments/modals :: question">MODAL DIALOG FOR QUESTION</div>
<div th:replace="fragments/modals :: successful">MODAL DIALOG FOR SUCCESSFUL ALERT</div>
<div th:replace="fragments/modals :: failed">MODAL DIALOG FOR FAILURE ALERT</div>
<div class="ui modal" id="modal_choose_sync_start">
	<div class="header" th:text="#{sync}">Synchronization</div>
	<div class="image content">
		<div class="image">
			<i class="question circle icon"></i>
		</div>
		<div class="description" th:text="#{sync.choose.start}">Question</div>
	</div>
	<div class="actions">
		<div class="ui approve button" th:text="#{sync.choose.start.from.zero}">From start</div>
		<div class="ui deny button" th:text="#{sync.choose.start.from.last}">From last</div>
	</div>
</div>

<div th:replace="fragments/tabulator_commons"></div>
	
<script th:nonce="${cspNonce}" th:inline="javascript">
	let dateFormatter = function(cell, formatterParams, onRendered) {
		var newDate= (window.DateTime || luxon.DateTime).fromISO(cell.getValue())
		if(newDate.isValid) {
			return newDate.toFormat(/*[[${dateTimeFormat}]]*/)
		}
		return cell.getValue()
	}
		
	let table = new Tabulator('#table', {
		index: 'id',
		layout: "fitData", //fit columns to width of table (optional)
	    pagination: true,
		paginationMode: "remote", //enable remote pagination
		paginationSize: tabulatorPaginationSize,
		paginationSizeSelector: tabulatorPaginationSizeSelector,				
		langs: tabulatorLanguageSpecs,
		sortMode: "remote",
		headerFilterLiveFilterDelay:700,
		ajaxContentType: "json",
		ajaxURL: /*[[@{/api/sync/history(endpoint=${param.endpoint})}]]*/ "/api/sync/history", //set url for ajax request
		ajaxURLGenerator: function(url, config, params ){
			p= new URLSearchParams()
			p.set('page', params.page)
			p.set('size', params.size)
			p.set('filter', JSON.stringify(params.filter))
			if(params.sort.length>0) {
				p.set('sortby', params.sort[0].field)
				p.set('sortorder', params.sort[0].dir)
			}
			return url + '&' + p.toString()
		},
		locale:'xx',
		columns:[ //Define Table Columns
			{title: /*[[#{sync.commits.lastTimeRun}]]*/ "Last time run", field:"timeRun", formatter: dateFormatter },
			{title: /*[[#{sync.commits.lastTimeStart}]]*/ "Last time start", field:"timeStart", formatter: dateFormatter },
			{title: /*[[#{sync.commits.lastTimeEnd}]]*/ "Last time end", field:"timeEnd", formatter: dateFormatter },
			{title: /*[[#{sync.commits.master}]]*/ "Server address", field:"master", hozAlign:"left" },
			{title: /*[[#{sync.commits.countObjects}]]*/ "Count", field:"countObjects" },
			{title: /*[[#{sync.commits.successful}]]*/ "Successful?", field:"successful", formatter:"tickCross", headerSort:false }
		]
	})
	</script>
	<script th:nonce="${cspNonce}" th:inline="javascript">
	$('.btn_sync_now').click(function(){
		  var dlg = $('#modal_confirm')
		  dlg.find('.description').html([[#{sync.now.confirm.endpoint(${param.endpoint})}]])
		  dlg.modal({
			  closable:false,
			  onApprove: function(){
				  /*[# th:if="${previous_sync}"]*/
				  var dlg2 = $('#modal_choose_sync_start')
				  dlg2.modal({
					  clossable:false,
					  onApprove: function() {
						  // user wants to SYNC from start
						  requestSync(/*fromStart*/true);
					  },
					  onDeny: function() {
						// user wants to SYNC from last
						  requestSync(/*fromStart*/false);
					  }
				  })
				  dlg2.modal('show');
				  /*[/]*/
				  /*[# th:unless="${previous_sync}"]*/
				  requestSync(/*fromStart*/true);
				  /*[/]*/
			  }
		  })
		  dlg.modal('show');
	  });
	function requestSync(fromStart) {
		 $.ajax({
			    url: [[@{/api/sync/now}]],
			    type: 'POST',
			    dataType: 'json',
			    contentType: 'application/json',
			    data: JSON.stringify({'fromStart':fromStart, 'endpoints':[[${param.endpoint}]]}),
			    cache: false,    
				success: function(result) {
					var msg = result.message
					if ("OK"==msg) {
						$('#modal_successful').find('.description').html([[#{sync.started}]])
						$('#modal_successful').modal('show')
						$('.warn_sync_running').show()
						doPoll();
					}
					else {
						$('#modal_failed').find('.description').html(msg)
						$('#modal_failed').modal('show')
						console.log("ERROR : "+ msg);							
					}
				},
				error: function(e) {
					var msg = e.responseText.replace(/\n/g, "<br />");
					$('#modal_failed').find('.description').html(msg)
					$('#modal_failed').modal('show')
					console.log("ERROR : "+ msg);
				}
			});			 			  	
	}
	function doPoll(){
	    $.get([[@{/api/sync/running}]], function(data) {
	    	if ('RUNNING'==data) {
	    		setTimeout(doPoll,1000);
	    	}
	    	else if ('STOPPED'==data) {
	    		window.location.replace([[@{/sync/history(stopped=true,endpoint=${param.endpoint})}]])
	    	}
	    	else {
	    		$('.warn_sync_running').hide()
	    	}
	    });
	}
</script>
</body>
</html>