<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/page_fragments :: header(more_links=~{this::link}, more_scripts=~{this::script[src]})">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" class="ui" href="/css/tabulator_semantic-ui.min.css">
<script src="/js/tabulator.min.js"></script>
<script src="/js/luxon.min.js"><</script>
</head>
<body>
	<!--/* Fix to avoid overlap from the Menu */-->
	<div>
		<br>
	</div>
  <div class="ui container">
    <div class="ui breadcrumb">
      <a class="section" th:text="#{menu.homepage}" th:href="@{/cards}">Home</a>
      <div class="divider"> / </div>
      <a class="section" th:text="#{templates.title}" th:href="@{/templates}">Templates</a>
      <div class="divider"> / </div>
      <div class="active section" th:text="#{template.manage}">Manage Templates</div>
    </div>

    <h2 class="ui header">
      <i class="file alternate outline icon"></i>
      <span class="content" th:text="#{template.manage}">ManageTemplates</span>
    </h2>
    <div class="ui container">
      <div class="ui stackable cards">
          <a class="ui orange card" th:href="@{/templates/new(type=)}" id="empty">
            <div class="image center aligned" style="padding: 25px 5px 15px"><i class="massive icon file outline black"></i></div>
            <div class="content center aligned">
              <div class="header" th:text="#{template.empty}">Empty Template</div>
            </div>
          </a>
          <a class="ui orange card" href="#" id="archetype">
            <div class="image center aligned" style="padding: 25px 5px 15px"><i class="massive icon archway black"></i></div>
            <div class="content center aligned">
              <div class="header" th:text="#{archetype}">Archetype</div>
            </div>
          </a>
          <a class="ui orange card" href="#" id="template">
            <div class="image center aligned" style="padding: 25px 5px 15px"><i class="massive icon file alternate outline black"></i></div>
            <div class="content center aligned">
              <div class="header" th:text="#{template.existing}">Existing Document Template</div>
            </div>
          </a>
        </div>
        <p>
        </p>
    	<div id="chooseTemplate" class="ui segment" style="display:none">
    		<h3 class="ui horizontal divider orange header" th:text="#{templates.title}">Template</h3>
    		<div class="ui icon input">
    			<input type="text" name="filter" id="filter" placeholder="Search...">
    			<i class="circular search link icon" id="search"></i>
    		</div>
			<div class="right primary labeled icon">
				<button id='filter' class='ui primary button' href='javascript: filter();'><i class='icon filter'></i>[(#{filters})]</button>
			</div>    		
    		<div id="table" class="ui table"></div>
    	</div>
    	<div id="chooseArchetype" class="ui center aligned segment" style="display:none">
    		<h3 class="ui horizontal divider orange header" th:text="#{archetype}">Archetype</h3>
            <div class="ui large list">
              <a class="item" th:each="t : ${archetypes}" th:text="${t.name}"
                th:href="@{/templates/new(type=archetype,id=${t.id})}"></a>
    		</div>
    	</div>
     </div>
	
  </div>
  
  <div th:replace="fragments/tabulator_commons"></div>

	<script th:nonce="${cspNonce}" th:inline="javascript">
		$('ui.checkbox').checkbox()
		$('#template').click(function(event) {
			$('#chooseArchetype').hide()
			$('#chooseTemplate').show()
			createTable()
		})
		$('#archetype').click(function(event) {
			if(table!=null) {
			   table.destroy()
			   table=null
			}
		    $('#chooseTemplate').hide()
		    $('#chooseArchetype').show()
		})
		let applyFilter = () => table.setFilter("name", "like", "*" + $('#filter').val() + "*")
		$('#search').click(applyFilter)
		$('#filter').keypress(function(event) {
			if(event.keyCode == 13) {
		        console.log(event)
				event.preventDefault()
				applyFilter()
			}
		})
		
		let table = null
		
		let createTable = function() {
		  table = new Tabulator('#table', {
			index: 'id',
			layout: "fitColumns", //fit columns to width of table (optional)
			selectable: 1,
			pagination: true,
			paginationMode: "remote", //enable remote pagination
			ajaxURL: /*[[@{/api/templates}]]*/ "/api/templates", //set url for ajax request
			paginationSize: tabulatorPaginationSize,
			paginationSizeSelector: tabulatorPaginationSizeSelector,				
			langs: tabulatorLanguageSpecs,
			ajaxContentType: "json",
			filterMode:"remote",
			sortMode: "remote",
			responsiveLayout: true,
			ajaxURLGenerator: function(url, config, params ){
				p= new URLSearchParams()
				p.set('page', params.page)
				p.set('size', params.size)
				p.set('filter', JSON.stringify(params.filter))
				if(params.sort.length>0) {
					p.set('sortby', params.sort[0].field)
					p.set('sortorder', params.sort[0].dir)
				}
				
				return url + '?' + p.toString()
			},
			//footerElement: "<button id='filter' class='ui left floated compact button' href='javascript: filter();'><i class='icon filter'></i>[(#{filters})]</button>",
		    locale:'xx',
			columns:[ //Define Table Columns
				{title: /*[[#{template.name}]]*/ "Name", field:"name"},
				{title: /*[[#{template.group}]]*/ "Group", field:"group"},
				{title: /*[[#{template.version}]]*/ "Version", field:"version"},
				{title: /*[[#{template.periodicity}]]*/ "Periodicity", field:"periodicity"},
				{title: /*{{#{template.required}]]*/ "Required", field:"required", 
				formatter:"tickCross",  
				formatterParams: { crossElement:false} }
			]
		  })
		  table.on('rowClick', function(e, row) {
			p= new URLSearchParams()
			p.set('type', 'template')
		    p.set('id', row.getIndex())
			window.location.replace([[@{/templates/new}]] + "?" + p.toString())
		  })
          table.on("tableBuilt", function(){
              $('#filter').click( toggleFilter )
              toggleFilter()
          })

		}
		let showHeaderFilter = true
		let toggleFilter = function() {
		    showHeaderFilter = ! showHeaderFilter
		    if(!showHeaderFilter) {
		        table.clearHeaderFilter()
		    }
		    $('.tabulator-header-filter').toggle(showHeaderFilter)
		    $('.tabulator-col').height(showHeaderFilter ? 64 : 43)
		}
		
	</script>
</body>
</html>