<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  th:with="lang=${#locale.language}" th:lang="${lang}">
<head
  th:replace="fragments/page_fragments :: header(more_links=~{this::link}, more_scripts=~{this::script[src]})">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" class="ui"
  href="/css/tabulator_semantic-ui.min.css">
<script src="/js/tabulator.min.js"></script>
<script src="/js/luxon.min.js"><</script>
</head>
<body>
  <!-- Fix to avoid overlap from the Menu -->
  <div>
    <br>
  </div>
  <div class="ui container">
    <div class="ui breadcrumb">
      <a class="section" th:text="#{menu.homepage}" th:href="@{/cards}">Home</a>
      <div class="divider"> / </div>
      <a class="section" th:text="#{templates.title}" th:href="@{/templates}">Templates</a>
      <div class="divider"> / </div>
      <div th:if="${template.name==null}" class="active section" th:text="#{template.new}">New Document Template</div>
      <th:block th:if="${template.name!=null}"> 
      <a class="section" th:text="${template.name}" th:href="@{/templates/{id}(id=${template.id})}"></a>
      <div class="divider"> / </div>
      <div class="active section" th:text="#{template.edit}">Edit Document Template</div>
      </th:block>
    </div>
    <h2 class="ui header">
      <i class="file alternate outline icon"></i>
      <div th:if="${template.name==null}" class="content" th:text="#{template.new}">New Declaration Template</div>
      <div th:if="${template.name!=null}" class="content" th:text="#{template.edit}">Edit Declaration Template</div>
    </h2>
    <div class="ui container">
      <div class="ui orange segment">
        <form action="#" name="form" id="form" class="ui form" th:object="${template}" method="post">
          <div class="fields">
            <div class="ten wide field">
              <label th:text="#{template.name}" style="margin-bottom: 0px; text-transform: uppercase;">Declaration Name</label> 
              <input type="text" th:field="*{name}" th:value="*{name}" class="form-control" id="name" placeholder="Name" th:placeholder="#{template.name}">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="ui warning message"></span>
            </div>
            <div class="four wide field">
              <label th:text="#{template.version}" style="margin-bottom: 0px; text-transform: uppercase;">"Version</label>
              <input type="text" th:field="*{version}" th:value="*{version}" class="form-control" id="version" placeholder="version" th:placeholder="#{template.version}"> 
              <span th:if="${#fields.hasErrors('version')}" th:errors="*{version}" class="ui warning message"></span>
            </div>
            <div class="two wide field">
                <label th:text="#{template.active}" style="margin-bottom: 0px; text-transform: uppercase;">Active</label>
                 <div class="ui toggle checkbox">
                    <input type="checkbox" th:field="*{active}" class="hidden" th:checked="*{active}">
                </div>
            </div>
          </div>
          <div class="fields">
            <div class="six wide field">
              <label th:text="#{template.periodicity}" style="margin-bottom: 0px; text-transform: uppercase;">Periodicity</label>
              <select th:field="*{periodicity}" class="ui fluid dropdown local" id="selectPeriodicity">
                <option disabled value="" th:text="#{select}">Select</option>
                <option
                  th:each="i : ${T(org.idb.cacao.api.Periodicity).values()}"
                  th:value="${i.name()}" th:text="#{${i}}"
                  th:selected="${i==template.periodicity}">></option>
              </select> 
              <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="ui warning message"></span>
            </div>
            <div class="eight wide field">
              <label th:text="#{template.group}"
                style="margin-bottom: 0px; text-transform: uppercase;">"Group</label>
              <input type="text" th:field="*{group}" th:value="*{group}" class="form-control" id="group" placeholder="Group" th:placeholder="#{template.group}">
              <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="ui warning message"></span>
            </div>
            <div class="two wide field">
                <label th:text="#{template.required}" style="margin-bottom: 0px; text-transform: uppercase;">Required</label>
                 <div class="ui toggle checkbox">
                    <input type="checkbox" th:field="*{required}" class="hidden" th:checked="*{required}">
                </div>
            </div>
          </div>
          <div class="row">
            <input type="submit" class="ui blue button"  th:value="#{save}" value="Save"> 
            <input type="button" class="ui button" th:value="#{cancel}" value="Cancel" id="cancel">
          </div>
        </form>
      </div>
      <h4 class="ui centered dividing header" th:text="#{template.fields.title}">Template Fields</h4>
      <div id="table" class="ui table"></div>
      <button class="ui primary button" id="newField" th:text="#{field.new}"></button>
    </div>
    <div class="ui container">
      <div class="ui long overlay scrolling modal" id='modal_edit_field'>
        <div class="header" th:text="#{template.field}"></div>
        <div class="content">
            <form class="ui form" id="form_edit_field">
              <div class="fields">
                <div class="six wide field">
                  <label th:text="#{field.name}">Field Name</i></label> 
                  <input id="fieldName" type="text" name="fieldName" value="" placeholder="Field Name">
                </div>
                <div class="five wide field">
                  <label th:text="#{field.type}">Field Type</label>
                  <select name="fieldType" class="ui fluid dropdown" id="fieldType">
                    <option disabled value="">Select</option>
                    <option
                      th:each="i : ${fieldTypes}"
                      th:value="${i.name()}" th:text="#{${i.toString()}}"></option>
                  </select> 
                </div>
                <div class="five wide field">
                  <label th:text="#{field.mapping}">Field Mapping</label> 
                  <select id="fieldMapping" class="ui selection dropdown local"
                    name="fieldMapping">
                    <option value="">Select</option>
                    <option th:each="i : ${fieldMappings}"
                      th:value="${i.name()}" th:text="#{${i.toString()}}"></option>
                  </select>
                </div>
              </div>
              <div class="field">
                <label th:text="#{field.description}">Description</label>
                <textarea id="field_description" rows="2" name="description" value=""></textarea>
              </div>
              <div class="field" id="maxLength">
                <label th:text="#{field.length.max}">Max Length</label>
                <div class="ui input">
                  <input id="fieldMaxLength" type="number" name="maxLength" value="" max="9999">
                </div>
              </div>
              <div class="two fields" id="domainTable">
                <div class="field">
                  <label th:text="#{field.domain.name}">Domain Table Name</label>
                  <div class="ui search selection dropdown" id="select_domain_table">
                    <input id="fieldDomainTableName" type="hidden" name="domainTableName">
                    <div class="default text" id="fieldDomainTableNameText">Select Domain Table</div>
                    <i class="dropdown icon"></i>
                    <div class="menu"></div>
                  </div>
                </div>
                <div class="field">
                  <label th:text="#{field.domain.version}">Domain Table Version</label>
                  <div class="ui selection dropdown" id="select_domain_version">
                    <input id="fieldDomainTableVersion" type="hidden" name="domainTableVersion">
                    <div class="default text" id="fieldDomainTableVersionText">Select Domain Version</div>
                    <i class="dropdown icon"></i>
                    <div class="menu"></div>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input id="fieldRequired" type="checkbox" name="required" value="true" class="hidden"> 
                  <label th:text="#{field.required}">Required</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input id="fieldPersonalData" type="checkbox" name="personalData" value="true" class="hidden"> 
                  <label th:text="#{field.personal.data}">Personal Data</label>
                </div>
              </div>
              <div class="inline field">
                <div class="ui checkbox">
                  <input id="fieldFileUniqueness" type="checkbox" name="fileUniqueness" value="true" class="hidden"> 
                  <label th:text="#{field.file.uniqueness}">File Uniqueness</label>
                </div>
              </div>
            </form>
        </div>
        <div class="actions">
          <div class="ui approve blue button" th:text="#{continue}" type="submit">Continue</div>
          <div class="ui cancel button" th:text="#{cancel}" type="button">Cancel</div>
          <div class="ui red button" th:text="#{delete}" type="button" id="deleteField">Delete</div>
        </div>
      </div>

    </div>
  </div>
  <div th:replace="fragments/modals :: question">MODAL DIALOG FOR QUESTION</div>
  <div th:replace="fragments/modals :: successful">MODAL DIALOG FOR SUCCESSFUL ALERT</div>
  <div th:replace="fragments/modals :: failed">MODAL DIALOG FOR FAILURE ALERT</div>
  
  <div th:replace="fragments/tabulator_commons"></div>
  
	<script th:nonce="${cspNonce}" th:inline="javascript">
		let template = {
		  id: [[${template.id}]],
		  name: [[${template.name}]],
		  version: [[${template.version}]],
		  group: [[${template.group}]],
		  periodicity: [[${template.periodicity}]],
		  required: [[${template.required}]],
		  fields: [[${template.fields}]]
		}
		let fields = template.fields || []
		let field = {}
		$('#cancel').click(function(){
			[# th:if="${template.id==null}"]
			   window.location.replace([[@{/templates}]])
			[/]
		    [# th:if="${template.id!=null}"]
		       window.location.replace([[@{/templates/{id}?showInputs=true(id=${template.id})}]])
			[/]   
		})
		
		let showConditionalFields = function(fieldType) {
		  $('#maxLength').toggle(fieldType=='CHARACTER')
		  $('#domainTable').toggle(fieldType=='DOMAIN')
		}
		
		$('#fieldType').dropdown({
			onChange(value, text) {
				showConditionalFields(value)
			}
		})
		
		let processForm = function(event, fields) {
		  event.preventDefault()
		  form_obj = $('#form').serializeArray()
		  $('#form input[type="checkbox"]:not(:checked)').each(function(i, e) {
		    form_obj.push({name: e.getAttribute("name"), value: false});
		  });
		  template = form_obj.reduce((o,kv) => ({...o, [kv.name]: kv.value}), template)
		  template.fields = table.getData()
		  //console.log(template)
		  [# th:if="${template.id==null}"]
		  let url = [[@{/api/template}]]
		  let req_type = 'POST'
		  [/]
		  [# th:if="${template.id!=null}"]
		  let url = [[@{/api/template/{id}(id=${template.id})}]]
		  let req_type = 'PUT'
		  [/]
		  $.ajax({
		    url: url,
		    type: req_type,
		    dataType: 'json',
		    contentType: 'application/json',
		    data: JSON.stringify(template),
		    cache: false,    
		    success: function(result) {
		        $('#modal_successful').modal('show')
		        setTimeout(function(){
		            window.location = [[@{/templates/}]] + result.id + "?showInputs=true"
		        }, 2000);
		    },
		    error: function(e) {
		        var msg = e.responseText.replace(/\n/g, "<br />");
		        $('#modal_failed').find('.description').html(msg)
		        $('#modal_failed').modal('show')
		        console.log("ERROR : "+msg);
		    }
		  })
		}            
		
		let setDomainTableVersions = function(tableName, tableVersion) {
			if(tableName!=null) {
		      $.get( [[@{/api/domaintable/versions}]],
		            { name: tableName },
		            function(data) {
		                let values=[]
		                $.each(data, function(index, item) {
		                  values.push({ name: item, value:item })
		                })
		                $('#select_domain_version').dropdown('change values', values)
		                $('#select_domain_table').dropdown('set value', tableName, tableName, null, true)
		                $('#select_domain_version').dropdown('set value', tableVersion, tableVersion, null, true)
		                $('#select_domain_version').dropdown('set text', tableVersion)
		            },
		            "json"
		      )
			}
			else {
				$('#select_domain_version').dropdown('change values', [])
			}
		} 
		$('#select_domain_version').dropdown({
		   clearable: true
		})
		$('#select_domain_table').dropdown({
		     apiSettings: {
		        url: '/api/domaintable_search?term={query}',
		        method: 'GET',
		        dataType: 'text',
		        cache: false,
		        onResponse: function(items) {
		            let r = { success: true, results: [] }
		            /*
		            let current = $('#select_domain_table').dropdown("get value")
		            if(!items.includes(current)) {
		            	r.results.push({ name: current, value: current })
		            }
		            */
		            $.each(JSON.parse(items), function(index, item) {
		                r.results.push({ name: item, value:item })
		            })
		            return r
		        }
		     },
		     onChange: function(value) {
		        setDomainTableVersions(value)
		    },
		    action: 'activate',
		    clearable: true
		})
		$('#selectPeriodicity').dropdown({clearable: true})
		
		
		$('#form').form({
		  inline : true,
		  on     : "submit",
		  fields : {
		    name: ['minLength[2]', 'maxLength[120]'],
		    group: ['minLength[2]', 'maxLength[120]'],
		    periodicity: ['empty'],
		    version: ['empty','maxLength[120]']
		  },
		  prompt: {
		  	empty : [[#{error.field.empty('{name}')}]],
		  	number: [[#{error.field.number('{name}')}]],
		  	minLength: [[#{error.field.minLength('{name}','{ruleValue}')}]],
		  	maxLength: [[#{error.field.maxLength('{name}','{ruleValue}')}]],
		  },
		  onSuccess: (processForm)
		})
		$('#form_edit_field').form({
		  inline : true,
		  on: "blur",
		  fields : {
		    fieldName: ['empty','maxLength[120]'],
		    fieldType: ['empty']
		  },
		  prompt: {
		      empty : [[#{error.field.empty('{name}')}]],
		      number: [[#{error.field.number('{name}')}]],
		      minLength: [[#{error.field.minLength('{name}','{ruleValue}')}]],
		      maxLength: [[#{error.field.maxLength('{name}','{ruleValue}')}]],
		  }
		})
		$('.ui.dropdown.local')
		   .dropdown({clearable: true})
		$('#newField').click(function() {
		  $('#form_edit_field').form('clear')
		  $('#deleteField').hide()
		  field={}
		  showConditionalFields(null)
		  showEditField()
		})
		$('#deleteField').click(function() {
			table.getRow(field.id).delete()
			table.redraw(true)
			$("#modal_edit_field").modal("hide")
		})
		
		$('.ui.checkbox').checkbox()
		
		let showEditField = function() {
		  $("#modal_edit_field").modal({
		    closable: false, 
		    onApprove: addField
		  }).modal('show')
		}
		  
		let addField = function() {
		  if(!$('#form_edit_field').form('is valid')) {
			  console.log('validate error')
			  return false
		  }
		  let form_obj=$('#form_edit_field').serializeArray()
		  $('#form_edit_field input[type="checkbox"]:not(:checked)').each(function(i, e) {
		    form_obj.push({name: e.getAttribute("name"), value: false});
		  });
		  field = form_obj.reduce((o,kv) => ({...o, [kv.name]: kv.value ? kv.value : null}), field)
		  if( field.id == null) {
		    field.id = Math.max(...table.getData().map(o => o.id),0)+1
		    table.addRow(field, false)
		    table.redraw(true)
		  }
		  else {
			
		    table.updateData([field])
		    table.redraw(true)
		  }
		}
		
		let editIcon = function(cell, formatterParams){ return "<i class='edit icon'></i>"};
		
		let typeLookup = { 
		  [# th:each="i : ${fieldTypes}"] 
		  [# th:text="${i}"/]: [# th:text="#{${i.toString()}}"/], 
		  [/]
		}
		
		let mappingLookup = {
		  [# th:each="i : ${fieldMappings}"] 
		  [# th:text="${i}"/]: [# th:text="#{${i.toString()}}"/], 
		  [/]
		  null: ""
		}
		
		let table = new Tabulator('#table', {
		    index: 'id',
		    layout: "fitData", //fit columns to width of table (optional)
		    //responsiveLayout: "collapse",
		    //placeholder: "Empty",
		    pagination: true,
		    paginationSize: tabulatorPaginationSize,
			paginationSizeSelector: tabulatorPaginationSizeSelector,				
			langs: tabulatorLanguageSpecs,
		    footerElement: "<button id='filter' class='ui left floated compact button' href='javascript: filter();'><i class='icon filter'></i>[(#{filters})]</button>",
		    locale:'xx',
		    columns:[ //Define Table Columns
		        //{formatter:editIcon, tooltip: /*{{#{edit}}} */ "Edit", cellClick: editField, width:45, headerSort: false, responsive:0},
		        {title: /*[[#{field.name}]]*/ "Name", field:"fieldName", minWidth: 100, responsive: 0, headerFilter: true},
		        {title: /*[[#{field.type}]]*/ "Type", field:"fieldType", minWidth: 100, formatter: "lookup", formatterParams: typeLookup, responsive: 3,
		        	headerFilter: 'select', headerFilterParams: { values: typeLookup }},
		        {title: /*[[#{field.mapping}]]*/ "Mapping", field:"fieldMapping", minWidth: 100, formatter: "lookup", formatterParams: mappingLookup, responsive: 3,
		        	headerFilter: 'select', headerFilterParams: { values: mappingLookup }},
		        {title: '<i class="asterisk icon"></i>', titleFormatter:'html', tooltip:/*[[#{field.required}]]*/ "R", field: "required", titleFormatter:"html", formatter: "tickCross", tooltip: "Required" , width: 20, headerSort: false, responsive: 5},
		        {title: '<i class="address card outline icon"></i>', titleFormatter: "html",  tooltip: /*[[#{field.personal.data}]]*/ "PD", field: "personalData", formatter: "tickCross", tooltip: "Personal Data", width: 20, headerSort: false, responsive: 5},
		        {title: '<i class="thumbtack icon"></i>', titleFormatter:'html', tooltip:/*[[#{field.file.uniqueness}]]*/"FU", field: "fileUniqueness", formatter: "tickCross", tooltip: "File Uniqueness",  width: 20, headerSort: false, responsive: 5 },
		        {title: /*[[#{field.description}]]*/ "Description", field:"description", headerSort: false, minWidth: 200, responsive:6, headerFilter: true }
		    ],
		    data: fields
		})
		let showHeaderFilter = true
		let toggleFilter = function() {
		    showHeaderFilter = ! showHeaderFilter
		    if(!showHeaderFilter) {
		        table.clearHeaderFilter()
		    }
		    $('.tabulator-header-filter').toggle(showHeaderFilter)
		    $('.tabulator-col').height(showHeaderFilter ? 64 : 43)
		}
		
		table.on('rowClick', function(e, row) {
		    field = Object.assign(row.getData(), {})
		    $('#form_edit_field').form('clear')
		    setDomainTableVersions(field.domainTableName, field.domainTableVersion)
		    $('#form_edit_field').form('set values', field)
		    $('#fieldDomainTableNameText').text(field.domainTableName).removeClass('default')
		    showConditionalFields(field.fieldType)
		    $('#deleteField').toggle(!field.locked)
		    showEditField()
		})
		
		table.on("tableBuilt", function(){
		    $('#filter').click( toggleFilter )
		    toggleFilter()
		})
	</script>
</body>
</html>