<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/page_fragments :: header(more_links=~{this::link}, more_scripts=~{this::script[src]})">
	<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>List Templates</title>
	<link rel="stylesheet" type="text/css" class="ui" href="/css/tabulator_semantic-ui.min.css">
	<script src="/js/tabulator.min.js"></script>
	<script src="/js/luxon.min.js"><</script>
</head>
<body>
	<!--/* Fix to avoid overlap from the Menu */-->
	<div>
		<br>
	</div>
	<div class="ui container">
        <div class="ui breadcrumb">
          <a class="section" th:text="#{menu.homepage}" th:href="@{/cards}">Home</a>
          <div class="divider"> / </div>
          <div class="active section" th:text="#{templates}">All Templates</div>
        </div>
		<h2 class="ui header">
			<i class="file alternate outline icon"></i>
			<span class="content" th:text="#{templates}">All Templates</span>
		</h2>
		<div class="ui grid right floated" >
			<div class="ui right floated primary labeled icon" sec:authorize="hasRole('ROLE_TAX_TEMPLATE_WRITE')">
				<a th:href="@{/templates/add}" class="ui blue button"><i class="plus icon"></i><span th:text="#{template.manage}">Manage Template</span></a>
			</div>
			<div class="right primary labeled icon">
				<button id='filter' class='ui primary button' href='javascript: filter();'><i class='icon filter'></i>[(#{filters})]</button>
			</div>
		</div>		
		<div class="ui hidden divider"></div>				
		<div id="table" class="ui orange table"></div>		
	</div>
	
	<div th:replace="fragments/tabulator_commons"></div>
 
	<script th:nonce="${cspNonce}" th:inline="javascript">
		var rowFormatter = function(row){
		      if(!row.getData().active){
		          row.getElement().style.backgroundColor = "#F0F0F0";
		      }
		  }
		
		var tableData = /*[[${templates}]]*/ null;
		let periodicityLookup = {
		    [# th:each="i :  ${T(org.idb.cacao.api.Periodicity).values()}"] 
		    [# th:text="${i.name()}"/]: [# th:text="#{${i}}"/], 
		    [/]
		}
		table = new Tabulator('#table', {
			index: 'id',
			layout: "fitData", //fit columns to width of table (optional)
		    pagination: true,
		    paginationSize: tabulatorPaginationSize,
			paginationSizeSelector: tabulatorPaginationSizeSelector,				
			langs: tabulatorLanguageSpecs,
		    //footerElement: "<button id='filter' class='ui left floated compact button' href='javascript: filter();'><i class='icon filter'></i>[(#{filters})]</button>",
		    locale:'xx',
		    rowFormatter: rowFormatter,
			data: tableData,
			columns:[ //Define Table Columns
				{title: /*[[#{template.name}]]*/ "Name", field:"name", minWidth: 140, headerFilter: true},
				{title: /*[[#{template.group}]]*/ "Group", field:"group", minWidth: 100, headerFilter: true},
				{title: /*[[#{template.version}]]*/ "Version", field:"version", minWidth: 100, headerFilter: true},
				{title: /*[[#{template.periodicity}]]*/ "Periodicity", field:"periodicity", formatter:"lookup", formatterParams: periodicityLookup, minWidth:150,
					headerFilter: 'select', headerFilterParams: { values: periodicityLookup }},
				{title: '<i class="asterisk icon"></i>', titleFormatter:'html', tooltip:/*[[#{field.required}]]*/ "Required", field:"required",  headerFilter: "tickCross", headerFilterParams:{"tristate":true},
					formatter:"tickCross", formatterParams: { crossElement:false}, width:40, headerTooltip:/*[[#{field.required}]]*/ "Required"},
				{title: '<i class="clipboard check icon"></i>', titleFormatter:'html', tooltip:/*[[#{field.active}]]*/ "Active", field:"active",   headerFilter: "tickCross", headerFilterParams:{"tristate":true},
		            formatter:"tickCross", formatterParams: { crossElement:false}, width:40, headerTooltip:/*[[#{field.active}]]*/ "Active"}
			]
		})
		table.on('rowClick', function(e, row) {
			if( e.target.classList.contains('edit')) {
				return
			}
			window.location.replace([[@{/templates/}]] + row.getIndex());
		})
		
		let showHeaderFilter = true
		let toggleFilter = function() {
		    showHeaderFilter = ! showHeaderFilter
		    if(!showHeaderFilter) {
		        table.clearHeaderFilter()
		    }
		    $('.tabulator-header-filter').toggle(showHeaderFilter)
		    $('.tabulator-col').height(showHeaderFilter ? 64 : 43)
		}
		
		table.on("tableBuilt", function(){
		    $('#filter').click( toggleFilter )
		    toggleFilter()
		})
	</script>
</body>
</html>
    
