<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<head
	th:replace="fragments/page_fragments :: header(more_links=~{this::link}, more_scripts=~{this::script[src]})">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" class="ui"
	href="/css/tabulator_semantic-ui.min.css">
<script src="/js/tabulator.min.js"></script>
<script src="/js/luxon.min.js"><</script>
</head>
<body>
	<!--/* Fix to avoid overlap from the Menu */-->
	<div>
		<br>
	</div>
	<div class="ui container">
		<div class="ui breadcrumb">
			<a class="section" th:text="#{menu.homepage}" th:href="@{/cards}">Home</a>
			<div class="divider">/</div>
			<a class="section" th:text="#{templates.title}" th:href="@{/templates}">Templates</a>
			<div class="divider">/</div>
			<div class="active section" th:text="${template.name}">Document
				Template</div>
		</div>

		<h2 class="ui header">
			<i class="file alternate outline icon"></i> <span class="content"
				th:text="#{template.title}">Document Template</span>
		</h2>
		<div class="ui container">
			<div class="ui orange segment">
				<form action="#" name="form" id="form" class="ui form"
					th:object="${template}">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<div class="fields">
						<div class="ten wide field">
							<label th:text="#{template.name}"
								style="margin-bottom: 0px; text-transform: uppercase;">Declaration
								Name</label> <input type="text" th:value="*{name}" class="form-control" readonly>
						</div>
						<div class="four wide field">
							<label th:text="#{template.version}"
								style="margin-bottom: 0px; text-transform: uppercase;">"Version</label>
							<input type="text" th:value="*{version}" class="form-control" readonly>
						</div>
                        <div class="two wide field">
                            <label th:text="#{template.active}" style="margin-bottom: 0px; text-transform: uppercase;">Active</label>
                             <div class="ui toggle checkbox">
                                <input type="checkbox" th:field="*{active}" class="hidden" th:checked="*{active}" readonly>
                                <label></label>
                            </div>
                        </div>
					</div>
					<div class="fields">
						<div class="six wide field">
							<label th:text="#{template.periodicity}"
								style="margin-bottom: 0px; text-transform: uppercase;">Periodicity</label>
							<input type="text" th:value="#{${template.periodicity}}"
								class="form-control" readonly>
						</div>
						<div class="eight wide field">
							<label th:text="#{template.group}"
								style="margin-bottom: 0px; text-transform: uppercase;">Group</label> <input
								type="text" th:value="*{group}" class="form-control" readonly>
						</div>
                        <div class="two wide field">
                            <label th:text="#{template.required}" style="margin-bottom: 0px; text-transform: uppercase;">Required</label>
                             <div class="ui toggle checkbox">
                                <input type="checkbox" name="required" class="hidden" th:checked="*{required}" readonly>
                                <label></label>
                            </div>
                        </div>
					</div>
					<div class="row">
					</div>
                    <div class="row">
                      <input type="button" class="ui blue button" th:value="#{edit}" value="Edit" id="editTemplate" sec:authorize="hasRole('ROLE_TAX_TEMPLATE_WRITE')"> 
                      <input th:if="${template.active==true}" type="button" class="ui red button" th:value="#{template.deactivate}" value="Deactivate" id="deactivateTemplate" sec:authorize="hasRole('ROLE_TAX_TEMPLATE_WRITE')">
                      <input th:if="${template.active!=true}" type="button" class="ui green button" th:value="#{template.activate}" value="Activate" id="activateTemplate" sec:authorize="hasRole('ROLE_TAX_TEMPLATE_WRITE')">
                    </div>
				</form>
			</div>
			<div class="ui secondary pointing menu" id="tab">
				<div class="item" data-tab="tab-fields" th:text="#{template.fields.title}">Template
					Fields</div>
				<div class="item" data-tab="tab-inputs" th:text="#{doc.inputs.title}">Document
					Inputs</div>
			</div>
			<div class="ui tab" data-tab="tab-fields">

				<div id="table" class="ui compact table"></div>

			</div>
			<div class="ui tab" data-tab="tab-inputs">
				<div id="table_inputs" class="ui compact table"></div>
				<div class="ui dropdown blue button" id="newInput" sec:authorize="hasRole('ROLE_TAX_TEMPLATE_WRITE')">
					<span th:text="#{doc.input.new}">>New Input</span><i class="dropdown icon"></i>
					<div class="menu">
						<div class="item" th:each="i : ${formats}"
							th:attr="data-value=${i.name()}" th:text="${i.toString()}"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/modals :: question">MODAL DIALOG FOR QUESTION</div>
	<div th:replace="fragments/modals :: successful">MODAL DIALOG FOR
		SUCCESSFUL ALERT</div>
	<div th:replace="fragments/modals :: failed">MODAL DIALOG FOR FAILURE
		ALERT</div>
		
	<div th:replace="fragments/tabulator_commons"></div>
		
	<script th:nonce="${cspNonce}" th:inline="javascript">
		let fields = [[${template.fields}]] || []
		
		let processForm = function(event, fields) {
		  event.preventDefault()
		}           
		
		let activateTemplate = function(value) {
			var dlg = $('#modal_confirm')
			var msg = value ? [[#{template.activate.confirm}]] : [[#{template.deactivate.confirm}]]
		    dlg.find('.description').html(msg)
		    dlg.modal({
		        closable:false,
		        onApprove: function() { 
		          if(value)
		        	  url = [[@{/api/template/{id}/activate(id=${template.id})}]]
		          else
		              url = [[@{/api/template/{id}/deactivate(id=${template.id})}]]
		          $.get( url )
		          .done( function() {
		        	  $('#modal_successful').modal('show')
		              setTimeout(()=> window.location.replace([[@{/templates/{id}(id=${template.id})}]]), 2000)
		          })
		        .fail( function(e) {
		      	  var msg = e.responseText.replace(/\n/g, "<br />");
		            $('#modal_failed').find('.description').html(msg)
		            $('#modal_failed').modal('show')
		            console.log("ERROR : "+ msg);
		         })
		       }
		    })
		    dlg.modal('show');
		}
		
		$('#activateTemplate').click(() => activateTemplate(true))
		$('#deactivateTemplate').click(() => activateTemplate(false))
		
		$('#editTemplate').click(function(e){
			document.location.replace([[@{/templates/{id}/edit(id=${template.id})}]])
		})
		
		let typeLookup = { 
		  [# th:each="i : ${fieldTypes}"] 
		  [# th:text="${i}"/]: [# th:text="#{${i.toString()}}"/], 
		  [/]
		}
		
		let mappingLookup = {
		  [# th:each="i : ${fieldMappings}"] 
		  [# th:text="${i}"/]: [# th:text="#{${i.toString()}}"/], 
		  [/]
		}
		
		let table = new Tabulator('#table', {
		    index: 'id',
		    layout: "fitDataFill", //fit columns to width of table (optional)
		    //placeholder: "Empty",
		        pagination: true,
		        paginationSize: tabulatorPaginationSize,
				paginationSizeSelector: tabulatorPaginationSizeSelector,				
				langs: tabulatorLanguageSpecs,
		    footerElement: "<button id='filter' class='ui left floated compact button' href='javascript: filter();'><i class='icon filter'></i>[(#{filters})]</button>",
		    locale:'xx',
		    columns:[ //Define Table Columns
		        {title: /*[[#{field.name}]]*/ "Name", field:"fieldName", minWidth: 100, responsive: 0, headerFilter: true},
		        {title: /*[[#{field.type}]]*/ "Type", field:"fieldType", minWidth: 100, formatter: "lookup", formatterParams: typeLookup, responsive: 3,
		        	headerFilter: 'select', headerFilterParams: { values: typeLookup}},
		        {title: /*[[#{field.mapping}]]*/ "Mapping", field:"fieldMapping", minWidth: 100, formatter: "lookup", formatterParams: mappingLookup, responsive: 3,
		        	headerFilter: 'select', headerFilterParams: { values: mappingLookup}},
		        {title: '<i class="asterisk icon"></i>', titleFormatter:'html', tooltip:/*[[#{field.required}]]*/ "R", field: "required", titleFormatter:"html", formatter: "tickCross", tooltip: "Required" , width: 20, headerSort: false, responsive: 5,
		        	 headerFilter: "tickCross", headerFilterParams:{"tristate":true}},
		        {title: '<i class="address card outline icon"></i>', titleFormatter: "html",  tooltip: /*[[#{field.personal.data}]]*/ "PD", field: "personalData", formatter: "tickCross", tooltip: "Personal Data", width: 20, headerSort: false, responsive: 5,
		        	 headerFilter: "tickCross", headerFilterParams:{"tristate":true}},
		        {title: '<i class="thumbtack icon"></i>', titleFormatter:'html', tooltip:/*[[#{field.file.uniqueness}]]*/"FU", field: "fileUniqueness", formatter: "tickCross", tooltip: "File Uniqueness",  width: 20, headerSort: false, responsive: 5,
		        	 headerFilter: "tickCross", headerFilterParams:{"tristate":true}},
		        {title: /*[[#{field.description}]]*/ "Description", field:"description", headerSort: false, minWidth: 200, responsive:6, headerFilter: true}
		    ],
		    data: fields
		})
		
		$('#newInput').dropdown({
		    onChange(value, text) {
		        window.location.replace([[@{/templates/{id}/addinput(id=${template.id})}]] + "?format="+value)
		    }
		})
		
		let table_inputs = new Tabulator('#table_inputs', {
		    index: 'id',
		    layout: "fitDataFill", //fit columns to width of table (optional)
		    columns:[ //Define Table Columns
		        {title: /*[[#{doc.input.name}]]*/ "Name", field:"inputName", minWidth:200},
		        {title: /*[[#{doc.input.format}]]*/ "Format", field:"format", minWidth:100}
		    ],
		    data: [ [# th:each="i : ${template.inputs}"]
		      { id: [# th:text="${i.id}"/], inputName: [# th:text="${i.inputName}"/], format: [# th:text="${i.format.name()}"/] },
		      [/] ]    	
		})
		
	    table_inputs.on('rowClick', function(e, row) {
            window.location.replace([[@{/templates/{id}/editinput/(id=${template.id})}]] + "?inputName=" + row.getData().inputName)
        })
		
		$('#tab .item').tab()
		[# th:if="${showInputs}"]
		$('#tab .item').tab('change tab', 'tab-inputs');
		[/]
		
		let showHeaderFilter = true
		let toggleFilter = function() {
		    showHeaderFilter = ! showHeaderFilter
		    if(!showHeaderFilter) {
		        table.clearHeaderFilter()
		    }
		    $('.tabulator-header-filter').toggle(showHeaderFilter)
		    $('.tabulator-col').height(showHeaderFilter ? 64 : 43)
		}
		
		table.on("tableBuilt", function(){
		    $('#filter').click( toggleFilter )
		    toggleFilter()
		})
	</script>
</body>
</html>