<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  th:with="lang=${#locale.language}" th:lang="${lang}">
<head
  th:replace="fragments/page_fragments :: header(more_links=~{this::link}, more_scripts=~{this::script[src]})">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" class="ui"
  href="/css/tabulator_semantic-ui.min.css">
<script src="/js/tabulator.min.js"></script>
<script src="/js/luxon.min.js"><</script>
</head>
<body>
  <!-- Fix to avoid overlap from the Menu -->
  <div>
    <br>
  </div>
  <div class="ui container">
    <div class="ui breadcrumb">
      <a class="section" th:text="#{menu.homepage}" th:href="@{/cards}">Home</a>
      <div class="divider"> / </div>
      <a class="section" th:text="#{templates.title}" th:href="@{/templates}">Templates</a>
      <div class="divider"> / </div>
      <div class="active section" th:text="${template.name}">Document Template</div>
    </div>
    
    <h2 class="ui header">
      <i class="file alternate outline icon"></i>
      <div class="content" th:text="#{template.title}">Document Template</div>
    </h2>
    <div class="ui container">
      <div class="ui orange segment">
        <form action="#" name="form" id="form" class="ui form" th:object="${template}">
          <div class="fields">
            <div class="ten wide field">
              <label th:text="#{template.name}" style="margin-bottom: 0px; text-transform: uppercase;">Declaration Name</label> 
              <input type="text" th:value="*{name}" class="form-control" readonly>
            </div>
            <div class="six wide field">
              <label th:text="#{template.version}" style="margin-bottom: 0px; text-transform: uppercase;">"Version</label>
              <input type="text" th:value="*{version}" class="form-control" readonly> 
            </div>
          </div>
          <div class="fields">
            <div class="five wide field">
              <label th:text="#{template.periodicity}" style="margin-bottom: 0px; text-transform: uppercase;">Periodicity</label>
              <input type="text" th:value="#{${template.periodicity}}" class="form-control" readonly>
            </div>
            <div class="eleven wide field">
              <label th:text="#{template.group}" style="margin-bottom: 0px; text-transform: uppercase;">"Group</label>
              <input type="text" th:value="*{group}" class="form-control" readonly>
            </div>
          </div>
          <div class="row">
              <i th:if="${template.required}" class="green check icon"></i>
              <i th:if="${!template.required}" class="red times icon"></i>
              <label th:text="#{template.required}">Required</label>
          </div>
        </form>
      </div>
      <div class="ui secondary pointing menu" id="tab">
        <div class="item" data-tab="tab-fields" th:text="#{template.fields.title}">Template Fields</div>
        <div class="item" data-tab="tab-inputs" th:text="#{doc.inputs.title}">Document Inputs</div>
      </div>
      <div class="ui tab" data-tab="tab-fields">
 
      <div id="table" class="ui compact table"></div>
          
      </div>
      <div class="ui tab" data-tab="tab-inputs">
         <div id="table_inputs" class="ui compact table"></div>
         <div class="ui dropdown blue button" id="newInput"><span th:text="#{doc.input.new}">>New Input</span><i class="dropdown icon"></i>
           <div class="menu">
             <div class="item" th:each="i : ${formats}"
                  th:attr="data-value=${i.name()}" th:text="${i.toString()}">
           </div>
         </div>
       </div>
    </div>
  </div>
  <div th:replace="fragments/modals :: question">MODAL DIALOG FOR QUESTION</div>
  <div th:replace="fragments/modals :: successful">MODAL DIALOG FOR SUCCESSFUL ALERT</div>
  <div th:replace="fragments/modals :: failed">MODAL DIALOG FOR FAILURE ALERT</div>
<script th:nonce="${cspNonce}" th:inline="javascript">
let fields = [[${template.fields}]] || []

let processForm = function(event, fields) {
  event.preventDefault()
}            

let typeLookup = { 
  [# th:each="i : ${fieldTypes}"] 
  [# th:text="${i}"/]: [# th:text="#{${i.toString()}}"/], 
  [/]
}

let mappingLookup = {
  [# th:each="i : ${fieldMappings}"] 
  [# th:text="${i}"/]: [# th:text="#{${i.toString()}}"/], 
  [/]
}

let table = new Tabulator('#table', {
    index: 'id',
    layout: "fitDataFill", //fit columns to width of table (optional)
    //placeholder: "Empty",
    columns:[ //Define Table Columns
        {title: /*[[#{field.name}]]*/ "Name", field:"fieldName", minWidth: 100, responsive: 0},
        {title: /*[[#{field.type}]]*/ "Type", field:"fieldType", minWidth: 100, formatter: "lookup", formatterParams: typeLookup, responsive: 3 },
        {title: /*[[#{field.mapping}]]*/ "Mapping", field:"fieldMapping", minWidth: 100, formatter: "lookup", formatterParams: mappingLookup, responsive: 3 },
        {title: '<i class="address card outline icon"></i>', titleFormatter: "html",  tooltip: /*[[#{field.personal.data}]]*/ "PD", field: "personalData", formatter: "tickCross", tooltip: "Personal Data", width: 20, headerSort: false, responsive: 5},
        {title: '<i class="asterisk icon"></i>', titleFormatter:'html', tooltip:/*[[#{field.required}]]*/ "R", field: "required", titleFormatter:"html", formatter: "tickCross", tooltip: "Required" , width: 20, headerSort: false, responsive: 5},
        {title: '<i class="thumbtack icon"></i>', titleFormatter:'html', tooltip:/*[[#{field.file.uniqueness}]]*/"FU", field: "fileUniqueness", formatter: "tickCross", tooltip: "File Uniqueness",  width: 20, headerSort: false, responsive: 5 },
        {title: /*[[#{field.description}]]*/ "Description", field:"description", headerSort: false, minWidth: 200, responsive:6}
    ],
    data: fields
})

var editIcon = function(cell, formatterParams){ return "<i class='edit icon'></i>"};
let editInput = function(e, cell) {
	window.location.replace([[@{/templates/{id}/input/(id=${template.id})}]] + cell.getRow().getData().format)
}

let table_inputs = new Tabulator('#table_inputs', {
    index: 'id',
    layout: "fitDataFill", //fit columns to width of table (optional)
    columns:[ //Define Table Columns
    	{formatter:editIcon, tooltip: /*{{#{edit}}} */ "Edit", cellClick: editInput, width:45, headerSort: false},
        {title: /*[[#{doc.input.name}]]*/ "Name", field:"inputName", minWidth:200},
        {title: /*[[#{doc.input.format}]]*/ "Format", field:"format", minWidth:100}
    ],
    data: [ [# th:each="i : ${template.inputs}"]
      { id: [# th:text="${i.id}"/], inputName: [# th:text="${i.inputName}"/], format: [# th:text="${i.format.name()}"/] },
      [/] ]    	
})

//$('#newInput').click(function() {
//	window.location.replace([[@{/templates/{id}/input/(id=${template.id})}]] + cell.getRow().getData().inputName)
//})

$('#newInput').dropdown({
	onChange(value, text) {
        window.location.replace([[@{/templates/{id}/addinput(id=${template.id})}]] + "?format="+value)
    }
})

$('#tab .item').tab()

</script>
</body>
</html>