<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/page_fragments :: header">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<!-- Sidebar Menu -->
	<div th:replace="fragments/page_fragments :: publicSidebarMenu"></div>

	<div class="pusher">

		<!-- Public Menu -->
		<div th:replace="fragments/page_fragments :: publicMenu"></div>

		<!-- Fix to avoid overlap from the Menu -->
		<div>
			<br> <br> <br> <br>
		</div>
		
    <div class="ui container">
        <div class="ui middle aligned center aligned grid container">
		  <div class="column">
		    <h2 class="ui orange image header">
		      <img src="images/Cacao-logo.png" class="image">
		      <span class="content" th:text="#{pwd.reset.password}">
		        Reset Password
		      </span>
		    </h2>
    		<div th:if="${param.error != null}" class="ui negative message" th:text="${param.error}">error</div>
            <div class="ui fluid segment">
                <form class="ui large form" action="#" method="post">
                	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="row">
                        <div class="field">
						    <label for="email" th:text="#{user.email}">email</label>
						    <input id="email" placeholder="email" class="form-control" name="email" type="email" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="ui segment">
                            <input type="submit" class="ui orange submit button" th:value="#{pwd.reset.password}" value="reset">
							<a th:href="@{/login}" class="ui blue button"><i class="home icon"></i><span th:text="#{login.header}">Login</span></a>
                        </div>
                    </div>
                    
     				<div class="ui error message"></div>
                    
			  	<div class="ui dimmer middle aligned center aligned" id="dimmer">
			    	<div class="ui massive text loader" th:text="#{wait}">Wait</div>
			  	</div>
                </form>
                
            </div>
          </div>
       </div>
    </div>
 
 <br>
 <!-- Footer -->
		<div th:replace="fragments/page_fragments :: footer"></div>
 
 </div>
 
 <!-- Language Javascript -->
	<div th:replace="fragments/page_fragments :: languageJavascript"></div>
 
   <script th:nonce="${cspNonce}" th:inline="javascript">
  $(document)
    .ready(function() {
   	  var serverContext = [[@{/}]];
      $('.ui.form')
        .form({
          fields: {
            username: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : [[#{pwd.missing.login}]]
                },
                {
                  type   : 'email',
                  prompt : [[#{pwd.invalid.login}]]
                }
              ]
            }
          },
          onSuccess: (function(event,fields){
     		event.preventDefault();
     	    var email = $("#email").val();
     	    $('#dimmer').dimmer('show');
     	    $.post(serverContext + "resetPassword",{email: email} ,
     	      function(data){
     	    	  $('#dimmer').dimmer('hide');
     	          window.location.href = 
     	           serverContext + "login?message=" + data.message;
     	    })
     	    .fail(function(data) {
     	    	$('#dimmer').dimmer('hide');
     	    	if(data && data.responseJSON && data.responseJSON.error && data.responseJSON.error.indexOf("MailError") > -1)
     	        {
     	            window.location.href = serverContext + "emailError.html";
     	        }
     	        else if (data && data.responseJSON && data.responseJSON.message)
     	        {
     	        	window.location.href = serverContext + "forgetPassword?error="+data.responseJSON.message;
     	        }
     	        else if (data && data.responseText) {
     	        	window.location.href = serverContext + "forgetPassword?error="+data.responseText;
     	        } 
     	        else {
     	        	window.location.href = serverContext + "forgetPassword?error="+[[#{op.failed}]];
     	        }
     	    }) // fail(...)
          }) // onSuccess(...)
        }) // form(...)
    }) // ready(...)
;
  </script>
 
 
</body>
 
</html>