<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/page_fragments :: header">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="overflow: hidden; margin: 0">
	<!-- Sidebar Menu -->
	<div th:replace="fragments/page_fragments :: loggedSidebarMenu(target_frame='child_frame')"></div>
	<div class="pusher" style="box-sizing: border-box; display: block; width: 100%; height: calc(100% - 100px); overflow: hidden; border: none;">
		<!-- Public Menu -->
		<div th:replace="fragments/page_fragments :: loggedMenu(target_frame='child_frame')"></div>
		<div class="ui large aligned">
			<div class="row">
				<br>
				<br>
				<br>
			</div>
		</div>
		<iframe th:src="@{${first_page_child_frame}}" src="/bulletin_board" name="child_frame" height="100%" width="100%"
			style="box-sizing: border-box; display: block; width: 100%; height: calc(100% - 100px); overflow: hidden; border: none;"></iframe>
		<!-- Logged Footer -->
		<div th:replace="fragments/page_fragments :: loggedFooter"></div>
	</div>
	<!-- Language Javascript -->
	<div th:replace="fragments/page_fragments :: languageJavascript"></div>
	<script th:nonce="${cspNonce}">
		$('.ui.accordion').accordion('open (1)');
		$('.vertical.sidebar a[href]').click(() => $('.vertical.sidebar' ).sidebar('hide'))
	</script>
</body>
</html>