<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

<head th:replace="fragments/page_fragments :: header">
	<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<!--/* Sidebar Menu */-->
	<div th:replace="fragments/page_fragments :: publicSidebarMenu"></div>

	<div class="pusher">

		<div class="ui vertical masthead center aligned segment curve">

			<!--/* Public Menu */-->
			<div th:replace="fragments/page_fragments :: publicMenu"></div>

			<div style="position:absolute; left:10px; top:70px; z-index: 99;">
				<img th:src="${@environment.getProperty('logo.ta')}" src="/images/IDB White.4df387c76316.svg">
			</div>

			<div class="ui text white center container">
				<br> <!--/* To avoid overlap from the menu. */-->
				<br>
				<br> 

				<img th:src="${@environment.getProperty('logo.cacao')}" src="/images/Cacao-logo.png" class="ui large middle aligned image">
				<h2 class="firstpage_full_name" th:text="${@environment.getProperty('app.full.name')}">Application Full Name</h2>
				<div class="ui huge primary button startbtn" th:text="${@environment.getProperty('app.start')}" id="startbtn">Start</div>
			</div>

		</div>

		<div class="ui vertical stripe segment">
			<div class="ui middle aligned stackable grid container">
				<div class="row">
					<div class="eight wide column">
						<h3 class="ui header" th:text="${@environment.getProperty('app.name')}">Application Name</h3>
						<p th:text="${@environment.getProperty('app.description')}">Application Description</p>
					</div>
					<div class="six wide right floated column">
						<img th:src="${@environment.getProperty('logo.cacao')}" src="/images/Cacao-logo.png" class="ui medium rounded image">
					</div>
				</div>
			</div>
		</div>

		<!--/* Footer */-->
		<div th:replace="fragments/page_fragments :: footer"></div>

	</div>

	<!--/* Language Javascript */-->
	<div th:replace="fragments/page_fragments :: languageJavascript"></div>

</body>

</html>