<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/page_fragments :: header">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<!-- Sidebar Menu -->
	<div th:replace="fragments/page_fragments :: publicSidebarMenu"></div>
	<div class="pusher">
		<!-- Public Menu -->
		<div th:replace="fragments/page_fragments :: publicMenu"></div>
		<div class="ui large aligned">
			<div class="row">
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>
		<div class="ui container">
			<div class="ui middle aligned center container">
				<h2 class="ui header">
					<i class="sign-in icon"></i>
					<div class="content" th:text="#{login.header}">Log-in to your account</div>
				</h2>
				<div class="ui middle aligned center aligned grid">
					<div class="column">
						<div th:if="${param.error != null and session[SPRING_SECURITY_LAST_EXCEPTION]!=null}" class="ui negative message" th:utext="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
						<div th:if="${param.error != null and session[SPRING_SECURITY_LAST_EXCEPTION]==null}" class="ui negative message" th:text="${param.error}">error</div>
						<div th:if="${param.message != null}" class="ui info message" th:text="${param.message}">message</div>
						<div th:if="${param.logout}" class="ui warning message" th:text="#{login.logged_out}">You have been logged out.</div>
						<div class="ui orange segment" th:if="${has_login_google}">
							<a href="/oauth2/authorization/google" style="text-transform: none">
								<img style="margin-top: 7px; margin-right: 8px; width: 20px;" alt="Google sign-in"
									src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
								<h4 th:text="#{login.with('Google')}" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;">Login with Google</h4>
							</a>
						</div>
						<div class="ui orange segment" th:if="${has_login_azure}">
							<a href="/oauth2/authorization/azure" style="text-transform: none">
								<img style="margin-top: 7px; margin-right: 8px; width: 20px;" alt="Microsoft sign-in"
									src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/512px-Microsoft_logo.svg.png" />
								<h4 th:text="#{login.with('Microsoft')}" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;">Login with Microsoft</h4>
							</a>
						</div>
						<div class="ui orange segment" th:if="${has_login_facebook}">
							<a href="/oauth2/authorization/facebook" style="text-transform: none">
								<img style="margin-top: 7px; margin-right: 8px; width: 20px;" alt="Facebook sign-in"
									src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/512px-Facebook_f_logo_%282019%29.svg.png" />
								<h4 th:text="#{login.with('Facebook')}" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;">Login with Facebook</h4>
							</a>
						</div>
						<form class="ui large form" action="login" method="POST">
							<div class="ui orange segment">
								<h4 th:text="#{login.with.password}">Login with Password</h4>
								<div class="field">
									<div class="ui left icon input">
										<i class="user icon"></i>
										<input type="text" name="username" placeholder="Login" th:placeholder="#{user.name}">
									</div>
								</div>
								<div class="field">
									<div class="ui left icon input">
										<i class="lock icon"></i>
										<input type="password" name="password" placeholder="Password">
									</div>
								</div>
								<div class="ui fluid large primary submit button" id="submit_btn">Login</div>
								<br>
								<div class="ui fluid small button" th:text="#{pwd.reset_password}" id="forgotbtn">Forgot Password</div>
							</div>
							<div class="ui error message"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Fix to avoid overlap from the footer -->
		<div>
			<br>
			<br>
		</div>
		<!-- Footer -->
		<div th:replace="fragments/page_fragments :: footer"></div>
	</div>
	<!-- Language Javascript -->
	<div th:replace="fragments/page_fragments :: languageJavascript"></div>
	<!-- Login Form Check Javascript -->
	<script th:nonce="${cspNonce}" th:inline="javascript">
  $(document).ready(function() {
      $('.ui.form').form({
          fields: {
            username: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : [[#{pwd.missing_login}]]
                },
                {
                  type   : 'email',
                  prompt : [[#{pwd.invalid_login}]]
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : [[#{pwd.missing_password}]]
                },
                {
                  type   : 'length[6]',
                  prompt : [[#{pwd.invalid_password}]]
                }
              ]
            }
          }
        })
      ;
      if (self!=top) {
    	  top.location.replace([[@{/login}]])
      }
    })
  ;
  </script>
	<script th:nonce="${cspNonce}" th:inline="javascript" th:with="lang=${#locale.language}">
$("#forgotbtn").click(function(){window.location=[[@{forgetPassword}]]});
</script>
</body>
</html>
