<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<head
	th:replace="fragments/page_fragments :: header(more_links=~{this::link}, more_scripts=~{this::script[src]})">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" class="ui"
	href="/css/tabulator_semantic-ui.min.css">
<script src="/js/tabulator.min.js"></script>
<script src="/js/luxon.min.js"></script>
<script type="text/javascript" src="/js/xlsx.full.min.js"></script>
<script src="/js/vega.min.js"></script>
<script src="/js/vega-lite.min.js"></script>
<script src="/js/vega-embed.min.js"></script>
</head>
<body>

	<!-- Fix to avoid overlap from the Menu -->
	<div>
		<br>
	</div>
	<div class="ui container">
		<div class="ui breadcrumb">
			<a class="section" th:text="#{menu.homepage}" th:href="@{/cards}">Home</a>
			<div class="divider">/</div>
			<div class="active section" th:text="#{taxpayers.analysis}">Analysis</div>
		</div>
		<h2 class="ui header">
			<i class="balance scale right icon"></i> <span class="content"
				th:text="#{taxpayers.analysis.customers.versus.suppliers}">Customers vs Suppliers Analysis</span>
		</h2>
		<div class="ui container">
			<div class="ui orange segment">
				<form action="#" name="form" id="form" th:action="@{/general-analysis-data}"
					class="ui form" method="post">

					<div class="ui field" id="search1">
						<label th:text="#{taxpayer.name}">TaxPayer name</label>
                        <div style="width: 100%">
						   <div class="ui search selection dropdown" id="select"  style="width:calc(100% - 35px)">
							<input id="taxpayer" type="hidden" name="personId">
							<div class="default text" th:text="#{select}">Select</div>
							<i class="dropdown icon"></i>
							<div class="menu"></div>
						  </div>
                         <i class="large link copy outline icon" id="copyTaxpayer" th:title="#{copy}"></i>
                       </div> 
					</div>

					<div class="ui field">
						<label th:text="#{base.period}">Base Period</label> <select
							class="ui dropdown" id="year">
						</select>
					</div>

					<div class="row">
						<input type="submit" class="ui blue button" th:value="#{search}"
							value="Search">
					</div>
				</form>
			</div>
			
			<br>
			
			<div id="showtable" style="display: none">
				<div id="table" class="ui orange table"></div>
			</div>
		
		</div>
		
	</div>
	
	<div th:replace="fragments/modals :: successful">MODAL DIALOG FOR
		SUCCESSFUL ALERT</div>
	<div th:replace="fragments/modals :: failed">MODAL DIALOG FOR FAILURE
		ALERT</div>

	<script th:nonce="${cspNonce}" th:inline="javascript">
		
		//Define error message var
		let errorYearsNotFound = /*[[#{years.missing}]]*/ '';
		let errorNoDataAvailable = /*[[#{no.data.available}]]*/ '';
		
		//Define ui messages
		let customerId = /*[[#{customer.id}]]*/ '';
	
    	$('#copyTaxpayer').click( function() {
    	    navigator.clipboard.writeText($('#taxpayer').val())
    	})
    	
		$('#select').dropdown({
			apiSettings: {
	        	url: '/api/taxpayers/autocomplete?term={query}',
	        	method: 'GET',
	        	//dataType: 'text',
	        	cache: false,
	        	onResponse: function(result) {
					results = []
	            	$.each(result.results, function(index, item) {
	            		results.push({ name: '<b>' + item.id + "</b> : " + item.name, value:item.id })
					})
					result.results = results
					return result
	        	},
	     	},
	     	onChange: function(value) {
				$("#showtable").hide() 
				$('#form').submit();
	     	},
	    	action: 'activate',
	    	clearable: true
		})    	
		
		$('#year').on('change', function() {
			$("#showtable").hide();
			$('#form').submit();
	    });
		
		function updateYears() {		
			$('#year').find('option').remove();
			$.get('/api/analysis/years', {sourceData: '3'}, //data to submit
			    function (data, status, xhr) {
					if ( data.length == 0 ) {						
						$('#modal_failed').find('.description').html(errorYearsNotFound);
						$('#modal_failed').modal('show');
						console.log("ERROR : "+errorYearsNotFound);	
					}
					else {
						$.each(data, function (i, item) {						
						    $('#year').append($('<option>', { 
					        	value: item,
					        	text : item
					    	}));
						});
					}
			    }
			);			
		}
		
		$(document).ready(function() {
			updateYears();
			updateAll();
	    });
		
		function updateAll() {
			$('.ui.form').form({
				fields: {
					taxpayer: {
	                	identifier  : 'taxpayer',
	                	rules: [{
	                    	type   : 'empty',
	                    	prompt : /*[[#{taxpayer.missing.taxpayer.id}]]*/ ''
	                  	}]
	              	},					
					year: {
	                	identifier  : 'year',
	                	rules: [{
	                    	type   : 'empty',
	                    	prompt : /*[[#{year.missing}]]*/ ''
	                  	}]
	              	},
	          	},
				onSuccess: (function(event,fields){
					event.preventDefault();
					showTable();
					$("#showtable").show();
// 					table.clearData();
// 					table.replaceData()
// 						.then(function(){
// 							$("#showtable").show()	
// 						})					
	          	})
	        });
		}
		
		function showTable() {
		
			let table = new Tabulator('#table', {						
				layout: "fitData", //fit columns to width of table (optional)
			    pagination: true,
				paginationMode: "local", //enable local pagination
				paginationSize: /*[[${@environment.getProperty('default.page.size')}]]*/ 15,
				paginationSizeSelector:[5, 10, /*[[${@environment.getProperty('default.page.size')}]]*/ 15, 25, 50, 1000],
				ajaxURL: /*[[@{/api/analysis/customers-vs-suppliers-analysis}]]*/ "/api/analysis/customers-vs-suppliers-analysis", //set url for ajax request
				ajaxURLGenerator: function(url, config, params ){
					console.log(config)
					console.log(params)
					p = new URLSearchParams()
					p.set('taxpayerId', document.getElementById("taxpayer").value)
					p.set('year', $('#year').val())
					console.log(url + '?' + p.toString())		
					return url + '?' + p.toString()
				},
				ajaxContentType: "json",
			    ajaxResponse:function(url, params, response){
			        //url - the URL of the request
			        //params - the parameters passed with the request
			        //response - the JSON object returned in the body of the response.		
			        
			        console.log(response);
			        return response; //return the tableData property of a response json object
			    },
				footerElement: "<button id='exportXLS' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.xls})]</button>",			
				locale:'xx',
				langs:{
			        "xx":{
			            "pagination":{
			                "first":/*[[#{pagination.first.button}]]*/ "First",
			                "first_title":/*[[#{pagination.first.tooltip}]]*/ "First Page",
			                "last":/*[[#{pagination.last.button}]]*/ "Last",
			                "last_title":/*[[#{pagination.last.tooltip}]]*/ "Last Page",
			                "prev":/*[[#{pagination.prev.button}]]*/ "Prev",
			                "prev_title":/*[[#{pagination.prev.tooltip}]]*/ "Prev Page",
			                "next":/*[[#{pagination.next.button}]]*/ "Next",
			                "next_title":/*[[#{pagination.next.tooltip}]]*/ "Next Page",
			                "all":/*[[#{pagination.all}]]*/ "All",
			                "page_size":/*[[#{pagination.page.size}]]*/ "Page Size",
			                "page_title":/*[[#{pagination.page.tooltip}]]*/ "Show Page"
			            }
			        }
			    },	
			    placeholder: /*[[#{no.data.available}]]*/ "No data available", //display message to user on empty table
			    groupBy:"month",
			    groupStartOpen: true,
			    groupHeader:function(value, count, data, group){
			        //value - the value all members of this group share
			        //count - the number of rows in this group
			        //data - an array of all the row data objects in this group
			        //group - the group component for the group
			        return value;
			    },		
			    rowFormatter:function(row) {
			        //row - row component

			        var data = row.getData();
			        if(data.difference < 0){
			            row.getElement().style.backgroundColor = /*[[${@environment.getProperty('table.customers.vs.suppliers.difference')}]]*/ "#FFFDDE"; //apply css change to row element				            
			        }
				},
			    columnDefaults:{
					tooltip:function(cell) {
						row = cell.getRow();
						id = row.getCell("customerId");
			            return customerId + ": " + id.getValue();
			        },
					headerTooltip:false					
			    },
				columns:[ //Define Table Columns
					{title: /*[[#{month}]]*/ "Month", field:"month", hozAlign:"left", headerSort:false, visible:false},
					{title: /*[[#{customer.id}]]*/ "Customer Id", field:"customerId", hozAlign:"left", headerSort:false, visible:false},
					{title: /*[[#{customer.name}]]*/ "Customer Name", field:"customerName", hozAlign:"left", headerSort:false},
					{title: /*[[#{customer.value}]]*/ "Declared Value", field:"customerValue", headerSort:false, formatter: "money", 
						formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, symbol:currencySymbol, symbolAfter:symbolAfter, precision:"2"}, 
						hozAlign:"right", headerSort:false, headerHozAlign:"right"},
					{title: /*[[#{supplier.value}]]*/ "Calculated Value", field:"supplierValue", headerSort:false, formatter: "money", 
							formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, symbol:currencySymbol, symbolAfter:symbolAfter, precision:"2"}, 
							hozAlign:"right", headerSort:false, headerHozAlign:"right"},
					{title: /*[[#{customer.supplier.difference}]]*/ "Difference", field:"difference", formatter: "money", 
						formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, symbol:currencySymbol, symbolAfter:symbolAfter, precision:"2"}, 
						hozAlign:"right", headerSort:false, headerHozAlign:"right"}
				]
			});
			
			table.on("tableBuilt", function(){
				document.getElementById('exportXLS').addEventListener("click", function(){
					table.download("xlsx", getFileName() , {sheetName: getSheetName()});				    
				});
			});
		}
		
		function getSheetName() {
			
			let sheetName = /*[[#{taxpayers.analysis.customers.versus.suppliers}]]*/'';

			if (sheetName.length > 31)
				sheetName = sheetName.substring(0,30);
		
			return sheetName;			
			
		}
		
		function getFileName() {
			let fileName = $('#taxpayer').val() + "_";
			fileName = fileName + /*[[#{taxpayers.analysis.customers.versus.suppliers}]]*/ null;
			return  fileName + ".xlsx";
		}
		
	</script>
</body>
</html>