<!DOCTYPE HTML>
<!--/*
 Copyright © [2021]. Banco Interamericano de Desarrollo ("BID"). Uso autorizado.
 Los procedimientos y resultados obtenidos en base a la ejecución de este software son los programados por los desarrolladores y no necesariamente reflejan el punto de vista del BID, de su Directorio Ejecutivo ni de los países que representa.
 
 This software uses third-party components, distributed accordingly to their own licenses.
*/-->
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<head
	th:replace="fragments/page_fragments :: header(more_links=~{this::link}, more_scripts=~{this::script[src]})">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" class="ui"
	href="/css/tabulator_semantic-ui.min.css">
<script src="/js/tabulator.min.js"></script>
<script src="/js/luxon.min.js"></script>
<script type="text/javascript" src="/js/xlsx.full.min.js"></script>
<script type="text/javascript" src="/js/jspdf.umd.min.js"></script>
<script type="text/javascript" src="/js/jspdf.plugin.autotable.js"></script>
<script src="/js/vega.min.js"></script>
<script src="/js/vega-lite.min.js"></script>
<script src="/js/vega-embed.min.js"></script>
</head>
<body>

	<!--/* Fix to avoid overlap from the Menu */-->
	<div>
		<br>
	</div>
	<div class="ui container">
		<div class="ui breadcrumb">
			<a class="section" th:text="#{menu.homepage}" th:href="@{/cards}">Home</a>
			<div class="divider">/</div>
			<div class="active section" th:text="#{taxpayers.analysis}">Analysis</div>
		</div>
		<h2 class="ui header">
			<i class="balance scale right icon"></i> <span class="content"
				th:text="#{taxpayers.analysis.customers.versus.suppliers}">Customers vs Suppliers Analysis</span>
		</h2>
		<div class="ui container">
			<div class="ui orange segment">
				<form action="#" name="form" id="form" th:action="@{/general-analysis-data}"
					class="ui form" method="post">

					<div class="ui field" id="search1">
						<label th:text="#{taxpayer.name}">TaxPayer name</label>
                        <div style="width: 100%">
						   <div class="ui search selection dropdown" id="select"  style="width:calc(100% - 35px)">
							<input id="taxpayer" type="hidden" name="personId">
							<div class="default text" th:text="#{select}">Select</div>
							<i class="dropdown icon"></i>
							<div class="menu"></div>
						  </div>
                         <i class="large link copy outline icon" id="copyTaxpayer" th:title="#{copy}"></i>
                       </div> 
					</div>

					<div class="ui field">
						<label th:text="#{base.period}">Base Period</label> <select
							class="ui dropdown" id="year">
						</select>
					</div>

					<div class="row">
						<input type="submit" class="ui blue button" th:value="#{search}"
							value="Search">
					</div>
				</form>
			</div>
			
			<br>
			
			<div id="showtable" style="display: none">
				<div id="table" class="ui orange table"></div>
			</div>
		
		</div>
		
	</div>
	
	<div th:replace="fragments/modals :: successful">MODAL DIALOG FOR
		SUCCESSFUL ALERT</div>
	<div th:replace="fragments/modals :: failed">MODAL DIALOG FOR FAILURE
		ALERT</div>

	<div th:replace="fragments/tabulator_commons"></div>
	<div th:replace="fragments/dropdown :: taxpayer"></div>
	<div th:replace="fragments/dropdown :: update_years(sourceData='3')"></div>

	<script th:nonce="${cspNonce}" th:inline="javascript">
		
		//Define error message var
		let errorYearsNotFound = /*[[#{years.missing}]]*/ '';
		let errorNoDataAvailable = /*[[#{no.data.available}]]*/ '';
		
		//Define ui messages
		let customerId = /*[[#{customer.id}]]*/ '';
		
		var exportType = '';
	
    	$('#copyTaxpayer').click( function() {
    	    navigator.clipboard.writeText($('#taxpayer').val())
    	})
    	
		$('#year').on('change', function() {
			$("#showtable").hide();
			$('#form').submit();
	    });
		
		$(document).ready(function() {
			updateYears();
			updateAll();
	    });
		
		function updateAll() {
			$('.ui.form').form({
				fields: {
					taxpayer: {
	                	identifier  : 'taxpayer',
	                	rules: [{
	                    	type   : 'empty',
	                    	prompt : /*[[#{taxpayer.missing.taxpayer.id}]]*/ ''
	                  	}]
	              	},					
					year: {
	                	identifier  : 'year',
	                	rules: [{
	                    	type   : 'empty',
	                    	prompt : /*[[#{year.missing}]]*/ ''
	                  	}]
	              	},
	          	},
				onSuccess: (function(event,fields){
					event.preventDefault();
					showTable();
					$("#showtable").show();
	          	})
	        });
		}
		
		function showTable() {
		
			let table = new Tabulator('#table', {						
				layout: "fitData", //fit columns to width of table (optional)
			    pagination: true,
				paginationMode: "local", //enable local pagination
				paginationSize: tabulatorPaginationSize,
				paginationSizeSelector: tabulatorPaginationSizeSelector,				
				langs: tabulatorLanguageSpecs,
				ajaxURL: /*[[@{/api/analysis/customers-vs-suppliers-analysis}]]*/ "/api/analysis/customers-vs-suppliers-analysis", //set url for ajax request
				ajaxURLGenerator: function(url, config, params ){
					var p = new URLSearchParams()
					p.set('taxpayerId', document.getElementById("taxpayer").value)
					p.set('year', $('#year').val())
					return url + '?' + p.toString()
				},
				ajaxContentType: "json",
			    ajaxResponse:function(url, params, response){
			        //url - the URL of the request
			        //params - the parameters passed with the request
			        //response - the JSON object returned in the body of the response.		
			        
			        return response; //return the tableData property of a response json object
			    },
				footerElement: "<button id='exportXLS' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.xls})]</button>" +
								"<button id='exportCSV' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.csv})]</button>"+
								"<button id='exportPDF' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.pdf})]</button>",			
				locale:'xx',
			    placeholder: /*[[#{no.data.available}]]*/ "No data available", //display message to user on empty table
			    groupBy:"month",
			    groupStartOpen: true,
			    groupHeader:function(value, count, data, group){
			        //value - the value all members of this group share
			        //count - the number of rows in this group
			        //data - an array of all the row data objects in this group
			        //group - the group component for the group
			        return value;
			    },		
			    rowFormatter:function(row) {
			        //row - row component

			        var data = row.getData();
			        if(data.difference < 0){
			            row.getElement().style.backgroundColor = /*[[${@environment.getProperty('table.customers.vs.suppliers.difference')}]]*/ "#FFFDDE"; //apply css change to row element				            
			        }
				},
			    columnDefaults:{
					tooltip:function(cell) {
						var row = cell.getRow();
						var id = row.getCell("customerId");
			            return customerId + ": " + id.getValue();
			        },
					headerTooltip:false					
			    },
				columns:[ //Define Table Columns
					{title: /*[[#{month}]]*/ "Month", field:"month", hozAlign:"left", headerSort:false, visible:false},
					{title: /*[[#{customer.id}]]*/ "Customer Id", field:"customerId", hozAlign:"left", headerSort:false, visible:false},
					{title: /*[[#{customer.name}]]*/ "Customer Name", field:"customerName", hozAlign:"left", headerSort:false},
					{title: /*[[#{customer.value}]]*/ "Declared Value", field:"customerValue", headerSort:false, formatter: "money", 
						formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, symbol:currencySymbol, symbolAfter:symbolAfter, precision:"2"}, 
						accessorDownload: valueConvertWithFractionDigits, hozAlign:"right", headerHozAlign:"right"},
					{title: /*[[#{supplier.value}]]*/ "Calculated Value", field:"supplierValue", headerSort:false, formatter: "money", 
							formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, symbol:currencySymbol, symbolAfter:symbolAfter, precision:"2"}, 
							accessorDownload: valueConvertWithFractionDigits, hozAlign:"right", headerHozAlign:"right"},
					{title: /*[[#{customer.supplier.difference}]]*/ "Difference", field:"difference", formatter: "money", 
						formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, symbol:currencySymbol, symbolAfter:symbolAfter, precision:"2"}, 
						accessorDownload: valueConvertWithFractionDigits, hozAlign:"right", headerSort:false, headerHozAlign:"right"}
				]
			});
			
			table.on("tableBuilt", function(){
				document.getElementById('exportXLS').addEventListener("click", function(){
					table.download("xlsx", getFileName("xlsx") , {sheetName: getSheetName(true)});				    
				});
				document.getElementById('exportCSV').addEventListener("click", function(){
					exportType = "CSV";
					table.download("csv", getFileName("csv"));									    
				});				
				document.getElementById('exportPDF').addEventListener("click", function(){
					exportType = "PDF";
					let author = /*[[${#authentication.name}]]*/'';					
					let year = $('#year').val();
					let taxpayer = getTaxpayer($('#select').dropdown("get text"));
					let title = /*[[#{taxpayers.analysis.customers.versus.suppliers}]]*/'';
					table.download("pdf", getFileName("pdf"), {
						orientation:"portrait", //set page orientation to portrait
				    	autoTable:function(doc) { 
				            doc.setFontSize(8); //Want the tables font to be this size
				         	// Optional - set properties on the document
				            doc.setProperties({
				            	title: title,
				            	author: author,
				            	subject: taxpayer[0] + " " + taxpayer[1] + " " + year,					            	
				            	keywords: 'generated, javascript, web 2.0, ajax',
				            	creator: 'CACAO'
				            });
				           	let first = true;
				            return {
				                styles: {cellPadding: 2, fontSize: 8},
				                headStyles: { valign: 'middle', lineWidth: 1 },
				                columnStyles: { 1: {halign: 'right'}, 2: {halign: 'right'}, 3: {halign: 'right'} },
				                margin: { left: 15, right: 200, top: 45, botton: 15 },
				                willDrawCell: function(data) {					                	
									if (data.row.section === 'head' ) {
										if ( first && data.column.dataKey == 0 )  {
											first = false;
											data.cell.styles.halign = 'center';
										}
										else if ( data.column.dataKey >= 1 )  {
											data.cell.styles.halign = 'right';
										}
					                }
								},
								didDrawPage: function (data) {
									//Add header
									doc.setFont(undefined, 'bold');
									doc.text(title, 15, 20);						            
									doc.text(taxpayer[0] + " " + taxpayer[1],15, 30);
						            doc.text(year,15, 40).setFont(undefined, 'normal');
						            
						            //Add page number
						            let str = /*[[#{page}]]*/'';
						            str = str + " " + doc.internal.getNumberOfPages();
						            let textWidth = doc.getStringUnitWidth(str) * doc.internal.getFontSize() / doc.internal.scaleFactor;
						            let textOffset = (doc.internal.pageSize.width - textWidth) / 2;							            
						            doc.text(str, textOffset, doc.internal.pageSize.height - 10);							            
								}
				            };
				        },						        
					});					
				});					
				
			});
		}
		
		function getSheetName(cut) {
			
			let sheetName = /*[[#{taxpayers.analysis.customers.versus.suppliers}]]*/'';

			if (cut && sheetName.length > 31)
				sheetName = sheetName.substring(0,30);
		
			return sheetName;			
			
		}
		
		function getFileName(ext) {
			let fileName = $('#taxpayer').val() + "_";
			fileName = fileName + /*[[#{taxpayers.analysis.customers.versus.suppliers}]]*/ null;
			return  fileName + "." + ext;
		}
		
	</script>
</body>
</html>