<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<head
	th:replace="fragments/page_fragments :: header(more_links=~{this::link}, more_scripts=~{this::script[src]})">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" class="ui"
	href="/css/tabulator_semantic-ui.min.css">
<script src="/js/tabulator.min.js"></script>
<script src="/js/luxon.min.js"></script>
<script type="text/javascript" src="/js/xlsx.full.min.js"></script>
<script type="text/javascript" src="/js/jspdf.umd.min.js"></script>
<script type="text/javascript" src="/js/jspdf.plugin.autotable.js"></script>
<script src="/js/vega.min.js"></script>
<script src="/js/vega-lite.min.js"></script>
<script src="/js/vega-embed.min.js"></script>
</head>
<body>

	<!-- Fix to avoid overlap from the Menu -->
	<div>
		<br>
	</div>
	<div class="ui container">
		<div class="ui breadcrumb">
			<a class="section" th:text="#{menu.homepage}" th:href="@{/cards}">Home</a>
			<div class="divider">/</div>
			<div class="active section" th:text="#{taxpayers.analysis}">Analysis</div>
		</div>
		<h2 class="ui header">
			<i class="sliders horizontal icon"></i> <span class="content"
				th:text="#{taxpayers.analysis.general}">General Analysis</span>
		</h2>
		<div class="ui container">
			<div class="ui orange segment">
				<form action="#" name="form" id="form" th:action="@{/general-analysis-data}"
					class="ui form" method="post">

					<div class="ui field" id="qualifiersView">
						<label th:text="#{taxpayers.analysis.general.qualifiers}">Qualifiers</label>
						<select class="ui dropdown" id="qualifiers">
							<option value="qualifier1" th:text="#{taxpayer.qualifier.1}">Qualifier
								1</option>
							<option value="qualifier2" th:text="#{taxpayer.qualifier.2}">Qualifier
								2</option>
							<option value="qualifier3" th:text="#{taxpayer.qualifier.3}">Qualifier
								3</option>
							<option value="qualifier4" th:text="#{taxpayer.qualifier.4}">Qualifier
								4</option>
							<option value="qualifier5" th:text="#{taxpayer.qualifier.5}">Qualifier
								5</option>
						</select>
					</div>

					<div class="ui field" id="qualifierValuesView">
						<label th:text="#{taxpayers.analysis.general.qualifier.values}">Qualifier
							Value</label> <select class="ui dropdown" id="qualifierValues">
						</select>
					</div>
					
					<div class="ui field" id="sourceDataView">
						<label th:text="#{taxpayers.analysis.general.source.data}">Source data</label> 
						<select class="ui dropdown" id="sourceData">
							<option value="1" selected="selected" th:text="#{taxpayers.analysis.general.source.data.journal}">Journal</option>
							<option value="2" th:text="#{taxpayers.analysis.general.source.data.income.statement}">Declared Income Statement</option>						
						</select>
					</div>					

					<div class="ui field">
						<label th:text="#{base.period}">Base Period</label> <select
							class="ui dropdown" id="year">
						</select>
					</div>

					<div class="row">
						<input type="submit" class="ui blue button" th:value="#{search}"
							value="Search">
					</div>
				</form>
			</div>
		</div>
		
		<div id="dataView" style="display: none">
			<div class="ui container grid">
				<div class="row">
					<div class="sixteen column unbounded ui header segment">
						<span th:text="#{taxpayers.analysis.general.total}"></span>
						<span id="totalTaxpayers"></span>
					</div>
				</div>
				<div class="row ui segment">
					<div class="ten wide column unbounded" id="graphView">
						<div id="vis">
							<!-- Display graphics -->
						</div>
					</div>
					<div class="six wide column unbounded" id="tableView">
						<div id="table" class="ui orange table">
							<!-- Display table -->
						</div>
						<div id="tableButtons">
							<button id='exportXLS' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.xls})]</button>
							<button id='exportCSV' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.csv})]</button>
							<button id='exportPDF' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.pdf})]</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	<div th:replace="fragments/modals :: successful">MODAL DIALOG FOR
		SUCCESSFUL ALERT</div>
	<div th:replace="fragments/modals :: failed">MODAL DIALOG FOR FAILURE
		ALERT</div>

	<div th:replace="fragments/tabulator_commons"></div>

	<script th:nonce="${cspNonce}" th:inline="javascript">
	
		vegaEmbed.vega.formatLocale({
			"decimal": decimalChar,
	      	"thousands": decimalGroupSeparator,
	      	"grouping": [3],
	      	"currency": [leftSymbol, rightSymbol]
		});
		
		//Define error message var
		errorQualifierValuesNotFound = /*[[#{qualifier.values.missing}]]*/ '';
		errorYearsNotFound = /*[[#{years.missing}]]*/ '';
		errorNoDataAvailable = /*[[#{no.data.available}]]*/ '';
	
		$('#qualifiers').on('change', function() {
			$("#dataView").hide();
			updateQualifiersValues(true);
     	});
		
		$('#qualifierValues').on('change', function() {
			$("#dataView").hide();			
			$('#form').submit();
	    });
		
		$('#sourceData').on('change', function() {
			$("#dataView").hide();			
			$('#form').submit();
	    });		
		
		$('#year').on('change', function() {
			$("#dataView").hide();
			$('#form').submit();
	    });
		
		function updateQualifiersValues(_submit) {
			$('#qualifierValues').find('option').remove();
			$.get('/api/analysis/qualifiers', 
					{ qualifier: $('#qualifiers').val() } ,  //data to submit
			    function (data, status, xhr) {
					if ( data.length == 0 ) {						
						$('#modal_failed').find('.description').html(errorQualifierValuesNotFound);
						$('#modal_failed').modal('show');
						console.log("ERROR : "+errorQualifierValuesNotFound);	
					}
					else {
						$.each(data, function (i, item) {						
						    $('#qualifierValues').append($('<option>', { 
						        value: item,
						        text : item
						    }));
						});
						if ( _submit )
							$('#form').submit();
					}							
			    }
			);
		}		
		
		function updateYears() {		
			$('#year').find('option').remove();
			$.get('/api/analysis/years', 
					{sourceData: $('#sourceData').val()}, //data to submit
			    function (data, status, xhr) {
					if ( data.length == 0 ) {						
						$('#modal_failed').find('.description').html(errorYearsNotFound);
						$('#modal_failed').modal('show');
						console.log("ERROR : "+errorYearsNotFound);	
					}
					else {
						$.each(data, function (i, item) {						
						    $('#year').append($('<option>', { 
					        	value: item,
					        	text : item
					    	}));
						});
					}
			    }
			);			
		}
		
		$(document).ready(function() {
			updateQualifiersValues(false);
			updateYears();
			
			updateAll();
			
	    });
		
		function updateAll() {
			$('.ui.form').form({
				fields: {
					year: {
	                	identifier  : 'year',
	                	rules: [{
	                    	type   : 'empty',
	                    	prompt : /*[[#{year.missing}]]*/ ''
	                  	}]
	              	},
	          	},
				onSuccess: (function(event,fields){
					event.preventDefault();				
					updateData();
					//showGraphics();
	          	})
	        });
		}
		
		function updateData() {

			$.get('/api/analysis/general-analysis', 
					{ qualifier: $('#qualifiers').val(),
						qualifierValue: $('#qualifierValues').val(),
						sourceData: $('#sourceData').val(),
						year: $('#year').val(),				
					} ,  //data to submit
			    function (data, status, xhr) {						
					//console.log(data);
					if ( data.length == 0 ) {						
						$('#modal_failed').find('.description').html(errorNoDataAvailable);
						$('#modal_failed').modal('show');
						console.log("ERROR : "+errorNoDataAvailable);	
					}
					else {
						$("#totalTaxpayers").text(" " + data.totalTaxpayers);
						showTable(data.outliers);
						$("#dataView").show();
						var width = $("#graphView").width() * .7;
						window.dispatchEvent(new Event('resize'));
						showGraphics(data, width);
						window.dispatchEvent(new Event('resize'));
					}
			    }
			);
			
		}
		
		function showGraphics(data, width) {
			
			if ( data.items.length == 0 ) {
			
				$("#dataView").hide();	
				$('#modal_failed').find('.description').html(errorNoDataAvailable);
				$('#modal_failed').modal('show');
				
			}
			
			else {
				let yourVlSpec = {
					$schema: 'https://vega.github.io/schema/vega-lite/v5.json',
	    	        description: 'A box plot chart with statements data',    	        
	    	        width: width,	    	        
	    	        height: data.items.length * 50,
	    	        data: { values: data.items },
	    	        //config: {mark: {"tooltip": true}},
	    	        mark: {type: "rule"},
	    	        encoding: {
						y: {
							field: "statementName", 
	    	        	  	type: "nominal", 
	    	        	  	title: /*[[#{account.statement}]]*/ "Statement",
	    	        	  	sort: {field: "statementOrder"},
	    	              	axis: {title: null, labelFontSize: 10, labelFontWeight: "bold", labelLimit: 100}}
	    	        },
	    	        layer: [{
						mark: {type: "rule", strokeWidth: 4, color: "#9e7911" },
	    	            encoding: {
							x: { field: "min", type: "quantitative", formatType: "number", format: ",.2f",
	    	                		scale: {zero: false, domain: [data.scaleMin, data.scaleMax] },
	    	                	title: /*[[#{minimum}]]*/ "Min",
	    	                	axis: {"title": null}
	    	              	},
	    	              	x2: {field: "max", title: /*[[#{maximum}]]*/ "Max", formatType: "number", format: ",.2f"},
	    	              	tooltip: [
	    	              		{field: "statementName", title: /*[[#{account.statement}]]*/ "Statement"},
	    	                    {field: "minPercentage", type: "quantitative", formatType: "number", format: ",.2%", title: /*[[#{minimum}]]*/ "Min"},
	    	                    {field: "maxPercentage", type: "quantitative", formatType: "number", format: ",.2%", title: /*[[#{maximum}]]*/ "Max"},
	    	                    {field: "sum", type: "quantitative", formatType: "number", format: "$,.2f", title: /*[[#{account.finalBalance}]]*/ "Balance"},
							]
	    	            }
					},
					{
						mark: {type: "bar", size: 18},
	    	            encoding: {
							x: {field: "q1", type: "quantitative", title: /*[[#{q1}]]*/ "Q1", formatType: "number", format: ",.2f"},
	    	              	x2: {field: "q3", title: /*[[#{q3}]]*/ "Q3", formatType: "number", format: ",.2f"},
	    	              	color: {field: "statementName", type: "nominal", legend: null, title: /*[[#{account.statement}]]*/ "Statement"},
	    	              	tooltip: [
	    	              		{field: "statementName", title: /*[[#{account.statement}]]*/ "Statement"},
	    	                    {field: "q1Percentage", type: "quantitative", formatType: "number", format: ",.2%", title: /*[[#{q1}]]*/ "Min"},
	    	                    {field: "q3Percentage", type: "quantitative", formatType: "number", format: ",.2%", title: /*[[#{q3}]]*/ "Max"},
	    	                    {field: "sum", type: "quantitative", formatType: "number", format: "$,.2f", title: /*[[#{account.finalBalance}]]*/ "Balance"},
							]
						}
					},
					{
						mark: {type: "tick", "color": "white", "size": 18, thickness: 2},
	    	            encoding: {
	    	            	x: {field: "median", type: "quantitative", title: /*[[#{median}]]*/ "Median"},
	    	            	tooltip: [
	    	              		{field: "statementName", title: /*[[#{account.statement}]]*/ "Statement"},
	    	                    {field: "medianPercentage", type: "quantitative", formatType: "number", format: ",.2%", title: /*[[#{median}]]*/ "Median"},
	    	                    {field: "sum", type: "quantitative", formatType: "number", format: "$,.2f", title: /*[[#{account.finalBalance}]]*/ "Balance"}
							]
	    	            }
					},
					{
						transform: [{flatten: ["normalizedOutliers"]}],
						mark: {
							type: "point", style: "boxplot-outliers"},
	    	            	encoding: {
	    	            		x: {
	    	            			field: "normalizedOutliers.value", 
	    	            					type: "quantitative", 
	    	            					title: /*[[#{taxpayers.analysis.general.outliers}]]*/ "Outliers", 
	    	            					formatType: "number", 
	    	            					format: "$,.2f"}, 
	    	              		tooltip:{ field : "normalizedOutliers.taxpayerName"}
	    	            	}
	    	          }
	    	        ]
	   	        };	      
				vegaEmbed('#vis', yourVlSpec, {"actions": { "export": true, "source": false, "compiled": false, "editor": false } });
				$("#vis").show()
			}
		}
		
		let tooltip = function(e, cell) {
			alert(cell);			
			row = cell.getRow();
            id = row.getCell("taxpayerId");
            return id.getValue(); //return cells "field - value";						
		}
		
		function showTable(values) {			
			table = new Tabulator('#table', {
				index: 'id',
				columnDefaults:{
					tooltip:function(cell) {
						row = cell.getRow();
						id = row.getCell("taxpayerId");
			            return "Id: " + id.getValue();
			        },
					headerTooltip:false,					
			    },
				layout: "fitColumns", //fit columns to width of table (optional)
			    pagination: true,
				paginationMode: "local", //enable local pagination
				paginationSize: tabulatorPaginationSize,
				paginationSizeSelector: tabulatorPaginationSizeSelector,				
				langs: tabulatorLanguageSpecs,
				data: values,				
				locale:'xx',
			    placeholder: /*[[#{no.data.available}]]*/ "No data available", //display message to user on empty table
			    groupBy:"statementName",
			    groupHeader:function(value, count, data, group){
			        //value - the value all members of this group share
			        //count - the number of rows in this group
			        //data - an array of all the row data objects in this group
			        //group - the group component for the group
			        return value;
			    },			    
				columns:[ //Define Table Columns
					{ title: /*[[#{taxpayers.analysis.general.outliers}]]*/ "Outliers", headerHozAlign:"center", cssClass:"my-background",
						columns:[
							{title: /*[[#{account.statement}]]*/ "Statement", field:"statementName", hozAlign:"left", headerSort:false, visible:false},
							{title: /*[[#{taxpayer.id}]]*/ "Taxpayer Id", field:"taxpayerId", hozAlign:"left", headerSort:false, visible:false },
							{title: /*[[#{taxpayer.name}]]*/ "Taxpayer Name", field:"taxpayerName", hozAlign:"left", headerSort:false},
							{title: /*[[#{account.outlier.value}]]*/ "Value", field:"value", accessorDownload: percentConvertWithFractionDigits, formatter: "money", 
								formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, symbol: "%", symbolAfter:symbolAfter, precision:"2"}, 
								hozAlign:"right", headerSort:false, headerHozAlign:"right"}
						],
					},
				]
			});
			
			table.on("tableBuilt", function(){
				document.getElementById('exportXLS').addEventListener("click", function(){
					table.download("xlsx", getFileName("xlsx") , {sheetName:/*[[#{taxpayers.analysis.general.outliers}]]*/''});				    
				});
				document.getElementById('exportCSV').addEventListener("click", function(){
					exportType = "CSV";
					table.download("csv", getFileName("csv")); //include BOM in output									    
				});
				document.getElementById('exportPDF').addEventListener("click", function(){
					exportType = "PDF";
					let author = /*[[${#authentication.name}]]*/'';
					let qualifier = $('#qualifiers').dropdown("get text") + " : " + $('#qualifierValues').dropdown("get text");
					let year = $('#year').val();
					let title = /*[[#{taxpayers.analysis.general.outliers}]]*/'';
					let first = true;
					table.download("pdf", getFileName("pdf"), {
						orientation:"portrait", //set page orientation to portrait
				    	autoTable:function(doc) { 
				            doc.setFontSize(8); //Want the tables font to be this size
				         	// Optional - set properties on the document
				            doc.setProperties({
				            	title: title,
				            	author: author,
				            	subject: qualifier + " " + year,					            	
				            	keywords: 'generated, javascript, web 2.0, ajax',
				            	creator: 'CACAO'
				            });					            
				            return {
				                styles: {cellPadding: 2, fontSize: 8},
				                headStyles: { valign: 'middle', lineWidth: 1 },
				                columnStyles: { 1: {halign: 'right'} },
				                margin: { left: 15, right: 250, top: 45, botton: 15 },
				                willDrawCell: function(data) {					                	
									if (data.row.section === 'head' ) {
										if ( data.column.dataKey == 0)  {
											if ( first ) {
												first = false;
												data.cell.styles.halign = 'center';
											}
											else {
												data.cell.styles.halign = 'left';
											}
										}
										else if ( data.column.dataKey == 1 )  {
											data.cell.styles.halign = 'right';
										}
					                }
								},
								didDrawPage: function (data) {
									//Add header
									doc.setFont(undefined, 'bold');
									doc.text(title, 15, 20);
						            doc.text(qualifier, 15, 30);
						            doc.text(year, 15, 40).setFont(undefined, 'normal');
						            
						            //Add page number
						            let str = /*[[#{page}]]*/'';
						            str = str + " " + doc.internal.getNumberOfPages();
						            let textWidth = doc.getStringUnitWidth(str) * doc.internal.getFontSize() / doc.internal.scaleFactor;
						            let textOffset = (doc.internal.pageSize.width - textWidth) / 2;							            
						            doc.text(str, textOffset, doc.internal.pageSize.height - 10);							            
								}
				            };
				        },						        
					});					
				});				
			});
		}
		
		function getFileName(ext) {
			let fileName = /*[[#{taxpayers.analysis.general}]]*/ null;
			fileName = fileName + "-" + /*[[#{taxpayers.analysis.general.outliers}]]*/ null;
			return  fileName + "." + ext;
		}
		
	</script>
</body>
</html>