<!DOCTYPE HTML>
<!--/*
 Copyright © [2021]. Banco Interamericano de Desarrollo ("BID"). Uso autorizado.
 Los procedimientos y resultados obtenidos en base a la ejecución de este software son los programados por los desarrolladores y no necesariamente reflejan el punto de vista del BID, de su Directorio Ejecutivo ni de los países que representa.
 
 This software uses third-party components, distributed accordingly to their own licenses.
*/-->
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head><title>Taxpayer General View Tax Provision Graph</title></head>

	<div class="ui large modal one column unbounded centered aligned grid" id="modal_tax_provision_graph" th:fragment="tax_provision_graph">
		<i class="close icon"></i>
		   <div class="column aligned grid">
       			<h1><span th:text="#{taxpayers.analysis.general.view.tax.provision}"></span></h1>	
   			</div>	
		<div style="width: 100%; display: flex;" id="visTaxProvision"></div>
	</div>		

	<script th:nonce="${cspNonce}" th:inline="javascript">
	
		function showTaxProvisionGraph(width,height) {
			
		 	let spec = ({
				$schema: "https://vega.github.io/schema/vega/v5.json",
			 	width: width,
			 	height: height,			  	
			 	padding: 1,
			 	center: true,
			 	data: [{
			   		name: "tax_provision",
			     	values: taxProvisionData,
			     	format: { type: "json" },
			        transform: [{type:"collect", sort: {order: "ascending", field: "year" }}]
				}],
				scales: [
					{name: "xscale", type: "band", domain: {data: "tax_provision", field: "year"},
						range: "width", padding: 0.05, round: true },
				    {name: "yscale", domain: {data: "tax_provision", field: "final_balance"},
						nice: true, range: "height"}
				],
				axes: [
					{orient: "bottom", scale: "xscale" },
					{orient: "left", scale: "yscale" }
				],				
				marks: [
					{type: "rect", from: {data: "tax_provision"},
						encode: { 
							enter: {
								x: {scale: "xscale", field: "year"},
					          	width: {scale: "xscale", band: 1},
					          	y: {scale: "yscale", field: "final_balance"},
					          	y2: {scale: "yscale", value: 0}
					        },
					        update: { fill: {value: "steelblue"} },
					        hover: { fill: {value: "orange"},
					        	tooltip: {
									signal: '{ [[#{account.finalBalance}]]: format(datum.final_balance,"$,.2f")}',
						        }
					       	}
						}
					},
				]
    
			})			
				
			vegaEmbed('#visTaxProvision', spec, {"actions": { "export": true, "source": false, "compiled": false, "editor": false } });
			$("#visTaxProvision").show()				
			
			
		}		
		
	</script>
</html>