 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

	<div th:fragment="analyticsAccounts" class="ui segment">
		<div class="ui fluid accordion">
			<div class="active title">				
				<i class="dropdown icon"></i> 
				<span id="titleAnalyticsAccounts" th:text="#{taxpayers.analysis.general.view.major.analytics.accounts}"></span>							
			</div>							
			<div class="content">
				<div id="tableAnalyticsAccounts" class="ui orange table"></div>				
			</div>
		</div>
	</div>	

	<script th:nonce="${cspNonce}" th:inline="javascript">
	
		// Keeps data for graph use
		var analyticsAccountsData = [];
	
		//Custom accessor
		function nullConvert(value, data, type, component){
		    if ( value == null )
		    	return "";
		    return value;
		}	
	
		function updateAnalyticsAccounts() {
			
			let tableAnalyticsAccounts = new Tabulator('#tableAnalyticsAccounts', {
				index: 'id',			
				layout: "fitDataTable", //fit columns to width of table (optional)
			    pagination: false,
				paginationMode: "local", //enable local pagination
				paginationSize: 5,
				paginationSizeSelector:[5, 10, /*[[${@environment.getProperty('default.page.size')}]]*/ 15, 25, 50, 1000],
				ajaxURL: /*[[@{/api/analysis/taxpayer_general_view}]]*/ "/api/analysis/taxpayer_general_view", //set url for ajax request
				ajaxURLGenerator: function(url, config, params ){
					console.log(config)
					console.log(params)
					p = new URLSearchParams()
					p.set('searchType', '6')
					p.set('taxpayerId', document.getElementById("taxpayer").value)
					p.set('year', $('#year').val())
					console.log(url + '?' + p.toString())		
					return url + '?' + p.toString()
				},
				ajaxContentType: "json",
			    ajaxResponse:function(url, params, response){
			        //url - the URL of the request
			        //params - the parameters passed with the request
			        //response - the JSON object returned in the body of the response.
		
			        analyticsAccountsData = response;
			        console.log(response);
			        return response; //return the tableData property of a response json object
			    },
				footerElement: "<button id='exportXLSAnalyticsAccounts' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.xls})]</button>"+
								"<button id='showGraphShareholders' class='ui left floated compact button tabulator-footer'><i class='chart pie icon'></i>[(#{show.graph})]</button>",			
				locale:'xx',
				langs:{
			        "xx":{
			            "pagination":{
			                "first":/*[[#{pagination.first.button}]]*/ "First",
			                "first_title":/*[[#{pagination.first.tooltip}]]*/ "First Page",
			                "last":/*[[#{pagination.last.button}]]*/ "Last",
			                "last_title":/*[[#{pagination.last.tooltip}]]*/ "Last Page",
			                "prev":/*[[#{pagination.prev.button}]]*/ "Prev",
			                "prev_title":/*[[#{pagination.prev.tooltip}]]*/ "Prev Page",
			                "next":/*[[#{pagination.next.button}]]*/ "Next",
			                "next_title":/*[[#{pagination.next.tooltip}]]*/ "Next Page",
			                "all":/*[[#{pagination.all}]]*/ "All",
			                "page_size":/*[[#{pagination.page.size}]]*/ "Page Size",
			                "page_title":/*[[#{pagination.page.tooltip}]]*/ "Show Page"
			            }
			        }
			    },	
			    placeholder: /*[[#{no.data.available}]]*/ "No data available", //display message to user on empty table
			    groupBy:"year",
			    groupHeader:function(value, count, data, group){
			        //value - the value all members of this group share
			        //count - the number of rows in this group
			        //data - an array of all the row data objects in this group
			        //group - the group component for the group
			        return value;
			    },				    
				columns:[ //Define Table Columns
						{title: /*[[#{tax.year}]]*/ "Year", field:"year", hozAlign:"left", headerSort:true, headerHozAlign:"left", visible:false},
						{title: /*[[#{account.code}]]*/ "Account Code", field:"values.account_code", hozAlign:"left", headerSort:true, headerHozAlign:"left"},
						{title: /*[[#{account.name}]]*/ "Account Name", field:"values.account_name", hozAlign:"left", headerSort:true, headerHozAlign:"left"},
						{title: /*[[#{account.finalBalance}]]*/ "Final Balance", field:"values.value", headerSort:true, formatter: "money", hozAlign:"right", headerSort:true, 
							headerHozAlign:"right", 
							formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, symbol:"$", symbolAfter:true, precision:"2"}},
				],
			    initialSort:[
			    	{column:"year", dir:"desc"}
			    ]
			});
			
			tableAnalyticsAccounts.on("tableBuilt", function(){
				document.getElementById('exportXLSAnalyticsAccounts').addEventListener("click", function(){
					tableAnalyticsAccounts.download("xlsx", getFileName(6/*seach type*/), 
							{sheetName: getSheetName(6/*search type*/)});				    
				});
				document.getElementById('showGraphShareholders').addEventListener("click", function(){					
					$('#modal_analytics_accounts_graph').modal('show');
					let width = $("#modal_analytics_accounts_graph").width() * .9;
					let height = window.screen.height * .5;
					window.dispatchEvent(new Event('height'));
					showAnalyticsAccountsGraph(width,height);
					window.dispatchEvent(new Event('resize'));					
					
				});				
			});
		
		}
		
	</script>
</html>