 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

	<div th:fragment="shareholders" class="ui segment">
		<div class="ui fluid accordion">			
			<div class="active title">				
				<i class="dropdown icon"></i>							
				<span id="titleShareholder" th:text="#{taxpayers.analysis.general.view.shareholders}"></span>
			</div>
			<div class="content">
				<div id="tableShareholders" class="ui orange table"></div>	
			</div>
		</div>
	</div>	

	<script th:nonce="${cspNonce}" th:inline="javascript">
	
		// Keeps data for graph use
		var shareholdersData = [];	
	
		//Custom accessor
		function nullConvert(value, data, type, component){
		    if ( value == null )
		    	return "";
		    return value;
		}

		function updateShareHolders() {
	
			let tableShareholders = new Tabulator('#tableShareholders', {
				index: 'shareholderName',			
				layout: "fitColumns", //fit columns to width of table (optional)
			    pagination: true,
				paginationMode: "local", //enable local pagination
				paginationSize: 5,
				paginationSizeSelector:[5, 10, /*[[${@environment.getProperty('default.page.size')}]]*/ 15, 25, 50, 1000],
				ajaxURL: /*[[@{/api/analysis/taxpayer_general_view}]]*/ "/api/analysis/taxpayer_general_view", //set url for ajax request
				ajaxURLGenerator: function(url, config, params ){
					console.log(config)
					console.log(params)
					p = new URLSearchParams()
					p.set('searchType', '2') //Shareholders
					p.set('taxpayerId', document.getElementById("taxpayer").value)
					p.set('year', $('#year').val())
					console.log(url + '?' + p.toString())		
					return url + '?' + p.toString()
				},	
				ajaxContentType: "json",
			    ajaxResponse:function(url, params, response){
			        //url - the URL of the request
			        //params - the parameters passed with the request
			        //response - the JSON object returned in the body of the response.
	
			        shareholdersData = response;
			        console.log(response);
			        return response; //return the tableData property of a response json object
			    },
				footerElement: "<button id='exportXLSShareholders' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.xls})]</button>"+
								"<button id='showGraphAnalyticsAccounts' class='ui left floated compact button tabulator-footer'><i class='chart pie icon'></i>[(#{show.graph})]</button>",			
				locale:'xx',
				langs:{
			        "xx":{
			            "pagination":{
			                "first":/*[[#{pagination.first.button}]]*/ "First",
			                "first_title":/*[[#{pagination.first.tooltip}]]*/ "First Page",
			                "last":/*[[#{pagination.last.button}]]*/ "Last",
			                "last_title":/*[[#{pagination.last.tooltip}]]*/ "Last Page",
			                "prev":/*[[#{pagination.prev.button}]]*/ "Prev",
			                "prev_title":/*[[#{pagination.prev.tooltip}]]*/ "Prev Page",
			                "next":/*[[#{pagination.next.button}]]*/ "Next",
			                "next_title":/*[[#{pagination.next.tooltip}]]*/ "Next Page",
			                "all":/*[[#{pagination.all}]]*/ "All",
			                "page_size":/*[[#{pagination.page.size}]]*/ "Page Size",
			                "page_title":/*[[#{pagination.page.tooltip}]]*/ "Show Page"
			            }
			        }
			    },		    
			    placeholder: /*[[#{no.data.available}]]*/ "No data available", //display message to user on empty table
				columns:[ //Define Table Columns
						{title: /*[[#{shareholder.name}]]*/ "Shareholder Name", field:"shareholderName", hozAlign:"left", headerSort:true},
						{title: /*[[#{share.class}]]*/ "Share Class", field:"shareClass", hozAlign:"left", headerSort:true, accessorDownload:nullConvert},
						{title: /*[[#{share.type}]]*/ "Share Type", field:"shareType", hozAlign:"left", headerSort:true, accessorDownload:nullConvert},
						{title: /*[[#{share.amount}]]*/ "Share Amout", field:"shareAmount", headerSort:true, formatter: "money", 
							formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, symbol:currencySymbol, symbolAfter:symbolAfter, precision:"2"}, 
							hozAlign:"right", headerSort:true, headerHozAlign:"right"},
						{title: /*[[#{share.percentage}]]*/ "Share %", field:"sharePercentage", headerSort:false, formatter: "money", 
								formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, symbol:"%", symbolAfter:true, precision:"2"}, 
								hozAlign:"right", headerSort:true, headerHozAlign:"right"},
						{title: /*[[#{share.quantity}]]*/ "Share Quantity", field:"shareQuantity", formatter: "money", 
							formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, precision:"2"}, 
							hozAlign:"right", headerSort:true, headerHozAlign:"right"}
				],
			    initialSort:[
			        {column:"shareAmount", dir:"desc"}, //sort by this first
			    ]
			});
			
			tableShareholders.on("tableBuilt", function(){
				document.getElementById('exportXLSShareholders').addEventListener("click", function(){
					tableShareholders.download("xlsx", getFileName(2), {sheetName:getSheetName(2)});				    
				});
				document.getElementById('showGraphAnalyticsAccounts').addEventListener("click", function(){					
					$('#modal_shareholders_graph').modal('show');
					let width = $("#modal_shareholders_graph").width() * .9;
					let height = window.screen.height * .5;
					window.dispatchEvent(new Event('height'));
					showShareholdersGraph(width,height);
					window.dispatchEvent(new Event('resize'));					
					
				});
			});		
			
		}
		
	</script>
</html>