<!DOCTYPE HTML>
<!--/*
 Copyright © [2021]. Banco Interamericano de Desarrollo ("BID"). Uso autorizado.
 Los procedimientos y resultados obtenidos en base a la ejecución de este software son los programados por los desarrolladores y no necesariamente reflejan el punto de vista del BID, de su Directorio Ejecutivo ni de los países que representa.
 
 This software uses third-party components, distributed accordingly to their own licenses.
*/-->
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<head
	th:replace="fragments/page_fragments :: header(more_links=~{this::link}, more_scripts=~{this::script[src]})">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Taxpayer General View</title>
<link rel="stylesheet" type="text/css" class="ui"
	href="/css/tabulator_semantic-ui.min.css">
<script src="/js/tabulator.min.js"></script>
<script src="/js/luxon.min.js"></script>
<script src="/js/d3.v7.min.js"></script>
<script type="text/javascript" src="/js/xlsx.full.min.js"></script>
<script type="text/javascript" src="/js/jspdf.umd.min.js"></script>
<script type="text/javascript" src="/js/jspdf.plugin.autotable.js"></script>
<script src="/js/vega.min.js"></script>
<script src="/js/vega-lite.min.js"></script>
<script src="/js/vega-embed.min.js"></script>
</head>
<body>

	<!--/* Fix to avoid overlap from the Menu */-->
	<div>
		<br>
	</div>
	<div class="ui container">
		<div class="ui breadcrumb">
			<a class="section" th:text="#{menu.homepage}" th:href="@{/cards}">Home</a>
			<div class="divider">/</div>
			<div class="active section" th:text="#{taxpayers.analysis}">Analysis</div>
		</div>
		<h2 class="ui header">
			<i class="street view icon"></i> <span class="content"
				th:text="#{taxpayers.analysis.general.view}">Taxpayer General View</span>
		</h2>
		<div class="ui container">
			<div class="ui orange segment">
				<form action="#" name="form" id="form" th:action="@{/general-analysis-data}"
					class="ui form" method="post">

					<div class="ui field" id="search1">
						<label th:text="#{taxpayer.name}">TaxPayer name</label>
                        <div style="width: 100%">
						   <div class="ui search selection dropdown" id="select"  style="width:calc(100% - 35px)">
							<input id="taxpayer" type="hidden" name="personId">
							<div class="default text" th:text="#{select}">Select</div>
							<i class="dropdown icon"></i>
							<div class="menu"></div>
						  </div>
                         <i class="large link copy outline icon" id="copyTaxpayer" th:title="#{copy}"></i>
                       </div> 
					</div>

					<div class="ui field">
						<label th:text="#{base.period}">Base Period</label> <select
							class="ui dropdown" id="year">
						</select>
					</div>

					<div class="row">
						<input type="submit" class="ui blue button" th:value="#{search}"
							value="Search">
					</div>
				</form>
			</div>
		</div>
		
		<div>
			<br>
		</div>
		
		<div id="showtable" style="display: none">
			<div class="ui container">
				<div th:replace="analysis/taxpayer_general_view_shareholding"></div>
				<div th:replace="analysis/taxpayer_general_view_shareholders"></div>
				<div th:replace="analysis/taxpayer_general_view_revenue_net_and_gross_profit"></div>
				<div th:replace="analysis/taxpayer_general_view_tax_provision"></div>
				<div th:replace="analysis/taxpayer_general_view_analytics_accounts"></div>
				<div th:replace="analysis/taxpayer_general_view_customers_suppliers"></div>
			</div>
		</div>
	</div>
	
	<div th:replace="analysis/taxpayer_general_view_shareholding_graph"></div>
	<div th:replace="analysis/taxpayer_general_view_shareholders_graph"></div>
	<div th:replace="analysis/taxpayer_general_view_revenue_net_and_gross_profit_graph"></div>
	<div th:replace="analysis/taxpayer_general_view_tax_provision_graph"></div>
	<div th:replace="analysis/taxpayer_general_view_analytics_accounts_graph"></div>
	<div th:replace="analysis/taxpayer_general_view_customers_graph"></div>
	<div th:replace="analysis/taxpayer_general_view_suppliers_graph"></div>
	
	<div th:replace="fragments/modals :: successful">MODAL DIALOG FOR
		SUCCESSFUL ALERT</div>
	<div th:replace="fragments/modals :: failed">MODAL DIALOG FOR FAILURE
		ALERT</div>
		
	<div th:replace="fragments/tabulator_commons"></div>
	<div th:replace="fragments/dropdown :: taxpayer"></div>
	<div th:replace="fragments/dropdown :: update_years(sourceData='5')"></div>
	
	<script th:nonce="${cspNonce}" th:inline="javascript">
	
		vegaEmbed.vega.formatLocale({
			"decimal": decimalChar,
	      	"thousands": decimalGroupSeparator,
	      	"grouping": [3],
	      	"currency": [leftSymbol, rightSymbol]
		});
	
		$('.ui.accordion')
		  .accordion()
		;
		
		//Define error message var
		var errorYearsNotFound = /*[[#{years.missing}]]*/ '';
		var errorNoDataAvailable = /*[[#{no.data.available}]]*/ '';
	
    	$('#copyTaxpayer').click( function() {
    	    navigator.clipboard.writeText($('#taxpayer').val())
    	})
    	
		$('#year').on('change', function() {
			$("#showtable").hide();
			$('#form').submit();
	    });
		
		$(document).ready(function() {
			updateYears();
			updateAll();
	    });
		
		function updateAll() {
			$('.ui.form').form({
				fields: {
					taxpayer: {
	                	identifier  : 'taxpayer',
	                	rules: [{
	                    	type   : 'empty',
	                    	prompt : /*[[#{taxpayer.missing.taxpayer.id}]]*/ ''
	                  	}]
	              	},					
					year: {
	                	identifier  : 'year',
	                	rules: [{
	                    	type   : 'empty',
	                    	prompt : /*[[#{year.missing}]]*/ ''
	                  	}]
	              	},
	          	},
				onSuccess: (function(event,fields){
					event.preventDefault();
					
					updateShareHolding();
					updateShareHolders();
					updateRevenueNetAndGrossProfit();
					updateTaxProvision();
					updateAnalyticsAccounts();
					updateCustomersAndSuppliers();
					$("#showtable").show();
					
	          	})
	        });
		}

		function getFileName(searchType, ext) {
			
			let fileName = $('#taxpayer').val() + "_" + $('#year').val() + "_";

			if ( searchType == 1 ) 
				fileName = fileName + /*[[#{taxpayers.analysis.general.view.shareholdings}]]*/ 'shareholdings';
			else if ( searchType == 2 ) 
				fileName = fileName + /*[[#{taxpayers.analysis.general.view.shareholders}]]*/ 'shareholders';
			else if ( searchType == 3 ) {
				fileName = fileName + /*[[#{taxpayers.analysis.general.view.revenue}]]*/ 'revenue';
				fileName += "_";
				fileName += /*[[#{taxpayers.analysis.statement.income.declared.values}]]*/ 'declared.values';
			}
			else if ( searchType == 4 ) {
				fileName = fileName + /*[[#{taxpayers.analysis.general.view.revenue}]]*/ 'revenue';
				fileName += "_";
				fileName += /*[[#{taxpayers.analysis.statement.income.calculated.values}]]*/ 'calculated.values';
			}
			else if ( searchType == 5 ) 
				fileName = fileName + /*[[#{taxpayers.analysis.general.view.tax.provision}]]*/ 'tax.provision';
			else if ( searchType == 6 ) 
				fileName = fileName + /*[[#{taxpayers.analysis.general.view.major.analytics.accounts}]]*/ 'analytics.accounts';
			else if ( searchType == 7 ) 
				fileName = fileName + /*[[#{taxpayers.analysis.general.view.major.customers}]]*/ 'customers';
			else if ( searchType == 8 ) 
				fileName = fileName + /*[[#{taxpayers.analysis.general.view.major.suppliers}]]*/ 'suppliers';
			else if ( searchType == 9 ) 
				fileName = fileName + /*[[#{taxpayers.analysis.general.view.equity.interests.results}]]*/ 'equity.interests';
			else if ( searchType == 10 ) 
				fileName = fileName + /*[[#{taxpayers.analysis.general.view.goodwill.incorporation.companies}]]*/ 'goodwill';
			else if ( searchType == 11 ) 
				fileName = fileName + /*[[#{taxpayers.analysis.general.view.tax.exclusions}]]*/ 'tax.exclusions';
			
			return fileName + "." + ext;
			
		}
		
		function getSheetName(searchType, cut) {
			
			let sheetName = "Sheet 1";
			
			if ( searchType == 1 ) 
				sheetName = /*[[#{taxpayers.analysis.general.view.shareholdings}]]*/ '';
			else if ( searchType == 2 ) 
				sheetName = /*[[#{taxpayers.analysis.general.view.shareholders}]]*/ '';
			else if ( searchType == 3 ) 
				sheetName = /*[[#{taxpayers.analysis.statement.income.declared.values}]]*/ '';
			else if ( searchType == 4 ) 
				sheetName = /*[[#{taxpayers.analysis.statement.income.calculated.values}]]*/ '';
			else if ( searchType == 5 ) 
				sheetName = /*[[#{taxpayers.analysis.general.view.tax.provision}]]*/ '';
			else if ( searchType == 6 ) 
				sheetName = /*[[#{taxpayers.analysis.general.view.major.analytics.accounts}]]*/ '';
			else if ( searchType == 7 ) 
				sheetName = /*[[#{taxpayers.analysis.general.view.major.customers}]]*/ '';
			else if ( searchType == 8 ) 
				sheetName = /*[[#{taxpayers.analysis.general.view.major.suppliers}]]*/ '';
			else if ( searchType == 9 ) 
				sheetName = /*[[#{taxpayers.analysis.general.view.equity.interests.results}]]*/ '';
			else if ( searchType == 10 ) 
				sheetName = /*[[#{taxpayers.analysis.general.view.goodwill.incorporation.companies}]]*/ '';
			else if ( searchType == 11 ) 
				sheetName = /*[[#{taxpayers.analysis.general.view.tax.exclusions}]]*/ '';
			
			if (cut && sheetName.length > 31)
				sheetName = sheetName.substring(0,30);
		
			return sheetName;
			
		}
		
	</script>
</body>
</html>