<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<head
	th:replace="fragments/page_fragments :: header(more_links=~{this::link}, more_scripts=~{this::script[src]})">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" class="ui"
	href="/css/tabulator_semantic-ui.min.css">
<script src="/js/tabulator.min.js"></script>
<script src="/js/luxon.min.js"></script>
<script type="text/javascript" src="/js/xlsx.full.min.js"></script>
<script src="/js/vega.min.js"></script>
<script src="/js/vega-lite.min.js"></script>
<script src="/js/vega-embed.min.js"></script>
</head>
<body>

	<!-- Fix to avoid overlap from the Menu -->
	<div>
		<br>
	</div>
	<div class="ui container">
		<div class="ui breadcrumb">
			<a class="section" th:text="#{menu.homepage}" th:href="@{/cards}">Home</a>
			<div class="divider">/</div>
			<div class="active section" th:text="#{taxpayers.analysis}">Analysis</div>
		</div>
		<h2 class="ui header">
			<i class="street view icon"></i> <span class="content"
				th:text="#{taxpayers.analysis.general.view}">Taxpayer General View</span>
		</h2>
		<div class="ui container">
			<div class="ui orange segment">
				<form action="#" name="form" id="form" th:action="@{/general-analysis-data}"
					class="ui form" method="post">

					<div class="ui field" id="search1">
						<label th:text="#{taxpayer.name}">TaxPayer name</label>
                        <div style="width: 100%">
						   <div class="ui search selection dropdown" id="select"  style="width:calc(100% - 35px)">
							<input id="taxpayer" type="hidden" name="personId">
							<div class="default text" th:text="#{select}">Select</div>
							<i class="dropdown icon"></i>
							<div class="menu"></div>
						  </div>
                         <i class="large link copy outline icon" id="copyTaxpayer" th:title="#{copy}"></i>
                       </div> 
					</div>

					<div class="ui field">
						<label th:text="#{base.period}">Base Period</label> <select
							class="ui dropdown" id="year">
						</select>
					</div>

					<div class="row">
						<input type="submit" class="ui blue button" th:value="#{search}"
							value="Search">
					</div>
				</form>
			</div>
		</div>
		
		<div>
			<br>
		</div>
		
		<div id="showtable" style="display: none">
			<div class="ui container">
				<div th:replace="analysis/taxpayer_general_view_shareholding"></div>
				<div th:replace="analysis/taxpayer_general_view_shareholders"></div>				
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/modals :: successful">MODAL DIALOG FOR
		SUCCESSFUL ALERT</div>
	<div th:replace="fragments/modals :: failed">MODAL DIALOG FOR FAILURE
		ALERT</div>

	<script th:nonce="${cspNonce}" th:inline="javascript">
	
		$('.ui.accordion')
		  .accordion()
		;
		
		//Define number format
		decimalChar = /*[[${decimalChar}]]*/ ',';
		decimalGroupSeparator = /*[[${decimalGroupSeparator}]]*/ '.';
		
		//Define error message var
		errorYearsNotFound = /*[[${errorYearsNotFound}]]*/ '';
		errorNoDataAvailable = /*[[${errorNoDataAvailable}]]*/ '';
	
    	$('#copyTaxpayer').click( function() {
    	    navigator.clipboard.writeText($('#taxpayer').val())
    	})
    	
		$('#select').dropdown({
			apiSettings: {
	        	url: '/api/taxpayers/autocomplete?term={query}',
	        	method: 'GET',
	        	//dataType: 'text',
	        	cache: false,
	        	onResponse: function(result) {
					results = []
	            	$.each(result.results, function(index, item) {
	            		results.push({ name: '<b>' + item.id + "</b> : " + item.name, value:item.id })
					})
					result.results = results
					return result
	        	},
	     	},
	     	onChange: function(value) {
				$("#showtable").hide() 
				$('#form').submit();
	     	},
	    	action: 'activate',
	    	clearable: true
		})    	
		
		$('#year').on('change', function() {
			$("#showtable").hide();
			$('#form').submit();
	    });
		
		function updateYears() {		
			$('#year').find('option').remove();
			$.get('/api/analysis/years', {sourceData: '4'}, //data to submit
			    function (data, status, xhr) {
					if ( data.length == 0 ) {						
						$('#modal_failed').find('.description').html(errorYearsNotFound);
						$('#modal_failed').modal('show');
						console.log("ERROR : "+errorYearsNotFound);	
					}
					else {
						$.each(data, function (i, item) {						
						    $('#year').append($('<option>', { 
					        	value: item,
					        	text : item
					    	}));
						});
					}
			    }
			);			
		}
		
		$(document).ready(function() {
			updateYears();
			updateAll();
	    });
		
		function updateAll() {
			$('.ui.form').form({
				fields: {
					taxpayer: {
	                	identifier  : 'taxpayer',
	                	rules: [{
	                    	type   : 'empty',
	                    	prompt : /*[[#{taxpayer.missing.taxpayer.id}]]*/ ''
	                  	}]
	              	},					
					year: {
	                	identifier  : 'year',
	                	rules: [{
	                    	type   : 'empty',
	                    	prompt : /*[[#{year.missing}]]*/ ''
	                  	}]
	              	},
	          	},
				onSuccess: (function(event,fields){
					event.preventDefault();
					
					updateShareHolding();
					updateShareHolders();						
					$("#showtable").show();
					
	          	})
	        });
		}
		
	</script>
</body>
</html>