<!DOCTYPE HTML>
<!--/*
 Copyright © [2021]. Banco Interamericano de Desarrollo ("BID"). Uso autorizado.
 Los procedimientos y resultados obtenidos en base a la ejecución de este software son los programados por los desarrolladores y no necesariamente reflejan el punto de vista del BID, de su Directorio Ejecutivo ni de los países que representa.
 
 This software uses third-party components, distributed accordingly to their own licenses.
*/-->
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

	<div th:fragment="revenue" class="ui segment">
		<div class="ui fluid accordion">
			<div class="active title">				
				<i class="dropdown icon"></i> 
				<span id="titleRevenueNetGrossProfit" th:text="#{taxpayers.analysis.general.view.revenue}"></span>							
			</div>							
			<div class="content">
				<div class="ui segment">
					<div class="ui two column very relaxed grid unbounded">
					    <div class="column unbounded">
					      <div id="tableRevenueNetGrossProfitDeclared" class="ui orange table"></div>
					    </div>
					    <div class="column unbounded">
					      <div id="tableRevenueNetGrossProfitCalculated" class="ui orange table"></div>
					    </div>
					</div>
					<div class="ui vertical divider">
					    <span th:text="#{versus}">vs</span>
					</div>	
				</div>
			</div>
		</div>
	</div>	

	<script th:nonce="${cspNonce}" th:inline="javascript">
	
		// Keeps data for graph use
		var declaredData = [];
		var calculatedData = [];
		
		var exportType = '';
	
		//Custom accessor
		function nullConvert(value, data, type, component){
		    if ( value == null )
		    	return "";
		    return value;
		}
		
		function updateRevenueNetAndGrossProfit() {
			updateRevenueNetAndGrossProfitDeclared();
			updateRevenueNetAndGrossProfitCalculated();
		}
	
		function updateRevenueNetAndGrossProfitDeclared() {
			
			let tableRevenueNetGrossProfitDeclared = new Tabulator('#tableRevenueNetGrossProfitDeclared', {
				index: 'statementOrder',			
				layout: "fitColumns", //fit columns to width of table (optional)
			    pagination: false,
				paginationMode: "local", //enable local pagination
				paginationSize: tabulatorPaginationSize,
				paginationSizeSelector: tabulatorPaginationSizeSelector,				
				langs: tabulatorLanguageSpecs,
				ajaxURL: /*[[@{/api/analysis/taxpayer-general-view}]]*/ "/api/analysis/taxpayer-general-view", //set url for ajax request
				ajaxURLGenerator: function(url, config, params ){
					var p = new URLSearchParams()
					p.set('searchType', '3')
					p.set('taxpayerId', document.getElementById("taxpayer").value)
					p.set('year', $('#year').val())
					return url + '?' + p.toString()
				},
				ajaxContentType: "json",
			    ajaxResponse:function(url, params, response){
			        //url - the URL of the request
			        //params - the parameters passed with the request
			        //response - the JSON object returned in the body of the response.
		
			        declaredData = response;
			        return response; //return the tableData property of a response json object
			    },
				footerElement: "<button id='exportXLSRevenueNetGrossProfitDeclared' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.xls})]</button>"+
								"<button id='exportCSVRevenueNetGrossProfitDeclared' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.csv})]</button>"+
								"<button id='exportPDFRevenueNetGrossProfitDeclared' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.pdf})]</button>"+
								"<button id='showGraphRevenueNetGrossProfitDeclared' class='ui left floated compact button tabulator-footer'><i class='chart pie icon'></i>[(#{show.graph})]</button>",			
				locale:'xx',
			    placeholder: /*[[#{no.data.available}]]*/ "No data available", //display message to user on empty table
			    groupBy:"statementName",
			    groupHeader:function(value, count, data, group){
			        //value - the value all members of this group share
			        //count - the number of rows in this group
			        //data - an array of all the row data objects in this group
			        //group - the group component for the group
			        return value;
			    },			    
			    columns:[ //Define Table Columns
					{ title: /*[[#{taxpayers.analysis.statement.income.declared.values}]]*/ "Declared Values", headerHozAlign:"center", cssClass:"my-background",
						columns:[
							{title: /*[[#{account.statement}]]*/ "Statement Order", field:"statementOrder", hozAlign:"left", headerSort:true, visible:false},
							{title: /*[[#{account.statement}]]*/ "Statement", field:"statementName", hozAlign:"left", headerSort:true, visible:false},
							{title: /*[[#{tax.year}]]*/ "Year", field:"year", hozAlign:"center", headerSort:true, headerHozAlign:"center"},
							{title: /*[[#{value}]]*/ "Value", field:"value", headerHozAlign:"center", accessorDownload: valueConvertWithFractionDigits, 
								formatter: "money", hozAlign:"right", headerSort:true, 
								formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, precision:"2", symbol:currencySymbol, symbolAfter:symbolAfter}},
						],
					},
				],
			    initialSort:[
			        {column:"statementOrder", dir:"asc"},
			        {column:"year", dir:"desc"},
			    ],
			});
			
			tableRevenueNetGrossProfitDeclared.on("tableBuilt", function(){
				document.getElementById('exportXLSRevenueNetGrossProfitDeclared').addEventListener("click", function(){
					tableRevenueNetGrossProfitDeclared.download("xlsx", getFileName(3,"xlsx"), {sheetName:getSheetName(3,true)});				    
				});
				
				document.getElementById('showGraphRevenueNetGrossProfitDeclared').addEventListener("click", function(){					
					$('#modal_revenue_net_and_gross_profit_graph').modal('show');
					let width = $("#modal_revenue_net_and_gross_profit_graph").width() * .25;
					let height = window.screen.height * .25;
					window.dispatchEvent(new Event('height'));
					showRevenueNetAndGrossProfitGraph(width,height);
					window.dispatchEvent(new Event('resize'));					
					
				});
				document.getElementById('exportCSVRevenueNetGrossProfitDeclared').addEventListener("click", function(){
					exportType = "CSV";
					tableRevenueNetGrossProfitDeclared.download("csv", getFileName(3,"csv"));									    
				});				
				document.getElementById('exportPDFRevenueNetGrossProfitDeclared').addEventListener("click", function(){
					exportType = "PDF";
					let author = /*[[${#authentication.name}]]*/'';					
					let year = $('#year').val();
					let taxpayer = getTaxpayer($('#select').dropdown("get text"));
					let title = /*[[#{taxpayers.analysis.general.view.revenue}]]*/'';
					title = title + " " + /*[[#{taxpayers.analysis.statement.income.declared.values}]]*/'';
					tableRevenueNetGrossProfitDeclared.download("pdf", getFileName(3,"pdf"), {
						orientation:"portrait", //set page orientation to portrait
				    	autoTable:function(doc) { 
				            doc.setFontSize(8); //Want the tables font to be this size
				         	// Optional - set properties on the document
				            doc.setProperties({
				            	title: title,
				            	author: author,
				            	subject: taxpayer[0] + " " + taxpayer[1] + " " + year,					            	
				            	keywords: 'generated, javascript, web 2.0, ajax',
				            	creator: 'CACAO'
				            });
				            return {
				                styles: {cellPadding: 2, fontSize: 8},
				                headStyles: { valign: 'middle', lineWidth: 1 },
				                columnStyles: { 0: {halign: 'center'}, 1: {halign: 'right'} },
				                margin: { left: 15, right: 250, top: 45, botton: 15 },
				                willDrawCell: function(data) {					                	
									if (data.row.section === 'head' ) {
										if ( data.column.dataKey == 0)  {
											data.cell.styles.halign = 'center';
										}
										else if ( data.column.dataKey == 1 )  {
											data.cell.styles.halign = 'right';
										}
					                }
								},
								didDrawPage: function (data) {
									//Add header
									doc.setFont(undefined, 'bold');
									doc.text(title, 15, 20);						            
									doc.text(taxpayer[0] + " " + taxpayer[1],15, 30);
						            doc.text(year,15, 40).setFont(undefined, 'normal');
						            
						            //Add page number
						            let str = /*[[#{page}]]*/'';
						            str = str + " " + doc.internal.getNumberOfPages();
						            let textWidth = doc.getStringUnitWidth(str) * doc.internal.getFontSize() / doc.internal.scaleFactor;
						            let textOffset = (doc.internal.pageSize.width - textWidth) / 2;							            
						            doc.text(str, textOffset, doc.internal.pageSize.height - 10);							            
								}
				            };
				        },						        
					});					
				});				
			});
		
		}
		
		function updateRevenueNetAndGrossProfitCalculated() {
			
			let tableRevenueNetGrossProfitCalculated = new Tabulator('#tableRevenueNetGrossProfitCalculated', {
				index: 'statementOrder',			
				layout: "fitColumns", //fit columns to width of table (optional)
			    pagination: false,
				paginationMode: "local", //enable local pagination
				paginationSize: tabulatorPaginationSize,
				paginationSizeSelector: tabulatorPaginationSizeSelector,				
				langs: tabulatorLanguageSpecs,
				ajaxURL: /*[[@{/api/analysis/taxpayer-general-view}]]*/ "/api/analysis/taxpayer-general-view", //set url for ajax request
				ajaxURLGenerator: function(url, config, params ){
					var p = new URLSearchParams()
					p.set('searchType', '4')
					p.set('taxpayerId', document.getElementById("taxpayer").value)
					p.set('year', $('#year').val())
					return url + '?' + p.toString()
				},
				ajaxContentType: "json",
			    ajaxResponse:function(url, params, response){
			        //url - the URL of the request
			        //params - the parameters passed with the request
			        //response - the JSON object returned in the body of the response.
		
			        calculatedData = response;
			        return response; //return the tableData property of a response json object
			    },
				footerElement: "<button id='exportXLSRevenueNetGrossProfitCalculated' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.xls})]</button>"+
								"<button id='exportCSVRevenueNetGrossProfitCalculated' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.csv})]</button>"+
								"<button id='exportPDFRevenueNetGrossProfitCalculated' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.pdf})]</button>"+
								"<button id='showGraphRevenueNetGrossProfitCalculated' class='ui left floated compact button tabulator-footer'><i class='chart pie icon'></i>[(#{show.graph})]</button>",	
				locale:'xx',
			    placeholder: /*[[#{no.data.available}]]*/ "No data available", //display message to user on empty table
			    groupBy:"statementName",
			    groupHeader:function(value, count, data, group){
			        //value - the value all members of this group share
			        //count - the number of rows in this group
			        //data - an array of all the row data objects in this group
			        //group - the group component for the group
			        return value;
			    },			    
			    columns:[ //Define Table Columns
					{ title: /*[[#{taxpayers.analysis.statement.income.calculated.values}]]*/ "Calculated Values", headerHozAlign:"center", cssClass:"my-background",
						columns:[
							{title: /*[[#{account.statement}]]*/ "Statement Order", field:"statementOrder", hozAlign:"left", headerSort:true, visible:false},
							{title: /*[[#{account.statement}]]*/ "Statement", field:"statementName", hozAlign:"left", headerSort:true, visible:false},
							{title: /*[[#{tax.year}]]*/ "Year", field:"year", hozAlign:"center", headerSort:true, headerHozAlign:"center"},
							{title: /*[[#{value}]]*/ "Value", field:"value", headerHozAlign:"center", accessorDownload: valueConvertWithFractionDigits,
								formatter: "money", hozAlign:"right", headerSort:true, 
								formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, precision:"2", symbol:currencySymbol, symbolAfter:symbolAfter}},
						],
					},
				],
			    initialSort:[
			        {column:"statementOrder", dir:"asc"}, //sort by this first
			        {column:"year", dir:"desc"}, //sort by this first
			    ],
			});
			
			tableRevenueNetGrossProfitCalculated.on("tableBuilt", function(){
				document.getElementById('exportXLSRevenueNetGrossProfitCalculated').addEventListener("click", function(){
					tableRevenueNetGrossProfitCalculated.download("xlsx", getFileName(4,"xlsx"), {sheetName:getSheetName(4,true)});				    
				});
				
				document.getElementById('showGraphRevenueNetGrossProfitCalculated').addEventListener("click", function(){
					$('.large.modal');
					$('#modal_revenue_net_and_gross_profit_graph').modal('show');
					let width = $("#modal_revenue_net_and_gross_profit_graph").width() * .25;
					let height = window.screen.height * .25;
					window.dispatchEvent(new Event('height'));
					showRevenueNetAndGrossProfitGraph(width,height);
					window.dispatchEvent(new Event('resize'));					
					
				});
				document.getElementById('exportCSVRevenueNetGrossProfitCalculated').addEventListener("click", function(){
					exportType = "CSV";
					tableRevenueNetGrossProfitCalculated.download("csv", getFileName(4,"csv"));									    
				});				
				document.getElementById('exportPDFRevenueNetGrossProfitCalculated').addEventListener("click", function(){
					exportType = "PDF";
					let author = /*[[${#authentication.name}]]*/'';					
					let year = $('#year').val();
					let taxpayer = getTaxpayer($('#select').dropdown("get text"));
					let title = /*[[#{taxpayers.analysis.general.view.revenue}]]*/'';
					title = title + " " + /*[[#{taxpayers.analysis.statement.income.calculated.values}]]*/'';
					tableRevenueNetGrossProfitCalculated.download("pdf", getFileName(4,"pdf"), {
						orientation:"portrait", //set page orientation to portrait
				    	autoTable:function(doc) { 
				            doc.setFontSize(8); //Want the tables font to be this size
				         	// Optional - set properties on the document
				            doc.setProperties({
				            	title: title,
				            	author: author,
				            	subject: taxpayer[0] + " " + taxpayer[1] + " " + year,					            	
				            	keywords: 'generated, javascript, web 2.0, ajax',
				            	creator: 'CACAO'
				            });
				            return {
				                styles: {cellPadding: 2, fontSize: 8},
				                headStyles: { valign: 'middle', lineWidth: 1 },
				                columnStyles: { 0: {halign: 'center'}, 1: {halign: 'right'} },
				                margin: { left: 15, right: 250, top: 45, botton: 15 },
				                willDrawCell: function(data) {					                	
									if (data.row.section === 'head' ) {
										if ( data.column.dataKey == 0)  {
											data.cell.styles.halign = 'center';
										}
										else if ( data.column.dataKey == 1 )  {
											data.cell.styles.halign = 'right';
										}
					                }
								},
								didDrawPage: function (data) {
									//Add header
									doc.setFont(undefined, 'bold');
									doc.text(title, 15, 20);						            
									doc.text(taxpayer[0] + " " + taxpayer[1],15, 30);
						            doc.text(year,15, 40).setFont(undefined, 'normal');
						            
						            //Add page number
						            let str = /*[[#{page}]]*/'';
						            str = str + " " + doc.internal.getNumberOfPages();
						            let textWidth = doc.getStringUnitWidth(str) * doc.internal.getFontSize() / doc.internal.scaleFactor;
						            let textOffset = (doc.internal.pageSize.width - textWidth) / 2;							            
						            doc.text(str, textOffset, doc.internal.pageSize.height - 10);							            
								}
				            };
				        },						        
					});					
				});					
			});
		
		}		
		
	</script>
</html>