 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

	<div class="ui large modal one column unbounded centered aligned grid" id="modal_tax_provision_graph" th:fragment="tax_provision_graph">
		<i class="close icon"></i>
		   <div class="column aligned grid">
       			<h1><span th:text="#{taxpayers.analysis.general.view.tax.provision}"></span></h1>	
   			</div>	
		<div style="width: 100%; display: flex;" id="visTaxProvision"></div>
	</div>		

	<script th:nonce="${cspNonce}" th:inline="javascript">
	
		function showTaxProvisionGraph(width,height) {
			
		 	let spec = ({
				$schema: "https://vega.github.io/schema/vega-lite/v5.json",
			 	width: width,
			 	height: height,			  	
			 	padding: 1,
			 	center: true,
			 	data: {
			   		name: "tax_provision",
			     	values: taxProvisionData,
			     	format: { type: "json" }				     				      
				},					
			  	mark: "bar",
			  	encoding: {
			    	x: {field: "year", title: /*[[#{tax.year}]]*/''},
			    	y: {field: "final_balance", type: "quantitative", title: /*[[#{account.finalBalance}]]*/''},
			        tooltip: {field: "finalBalanceAsString"}			    	
			  	}
			})			
				
			vegaEmbed('#visTaxProvision', spec, {"actions": { "export": true, "source": false, "compiled": false, "editor": true } });
			$("#visTaxProvision").show()				
			
		}
		
	</script>
</html>