<!DOCTYPE HTML>
<!--/*
 Copyright © [2021]. Banco Interamericano de Desarrollo ("BID"). Uso autorizado.
 Los procedimientos y resultados obtenidos en base a la ejecución de este software son los programados por los desarrolladores y no necesariamente reflejan el punto de vista del BID, de su Directorio Ejecutivo ni de los países que representa.
 
 This software uses third-party components, distributed accordingly to their own licenses.
*/-->
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

	<div class="ui large modal one column unbounded centered aligned grid" id="modal_shareholders_graph" th:fragment="shareholders_graph">
		<i class="close icon"></i>
		   <div class="column aligned grid">
       			<h1><span th:text="#{taxpayers.analysis.general.view.shareholders}"></span></h1>	
   			</div>	
		<div style="width: 100%; display: flex;" id="visShareholders"></div>
	</div>		

	<script th:nonce="${cspNonce}" th:inline="javascript">
	
		function showShareholdersGraph(width,height) {
		
		 	let spec = ({
				$schema: "https://vega.github.io/schema/vega/v5.json",
			  	"width": width,
			  	"height": height,			  	
			  	padding: 5,
			  	center: true,
			  	data: [
			    {
			      name: "shareholders",
			      values: shareholdersData,
			      format: { type: "json" },
			      transform: [
			        { type: "nest", keys: ["shareholderId"] },
			        {
			          type: "treemap",
			          field: "shareAmount",
			          paddingInner: 1,
			          size: [{ signal: "width" }, { signal: "height" }]
			        }
			      ]
			    }
			  ],

			  scales: [
			    {
			      name: "color",
			      type: "ordinal",
			      domain: { data: "shareholders", field: "shareholderName" },
			      range: { scheme: "category20" }
			    }
			  ],

			  marks: [
			    {
			      type: "rect",
			      from: { data: "shareholders" },
			      encode: {
					enter: {          
						tooltip: {
							signal: '{ [[#{shareholder.id}]]: datum.shareholderId, [[#{share.class}]]: datum.shareClass, [[#{share.type}]]: datum.shareType, [[#{share.amount}]]: format(datum.shareAmount,"$,.2f"), [[#{share.percentage}]]: format(datum.sharePercentage,",.2%"), [[#{share.quantity}]]: format(datum.shareQuantity,"$,.0f")}',
			            }
			        },
			        update: {
			          fill: { scale: "color", field: "shareholderName", opacity: 0.4 },
			          x: { field: "x0" },
			          x2: { field: "x1" },
			          y: { field: "y0" },
			          y2: { field: "y1" }
			        }
			      }
			    },
			    {
		        type: "text",
		        from: {"data": "shareholders"},
		        interactive: false,
		        encode: {
		          enter: {
		            font: {"value": "Helvetica Neue, Arial"},
		            align: {"value": "center"},
		            baseline: {"value": "middle"},
		            fill: {"value": "#000"},
		            text: {"field": "shareholderName"}
		          },
		          update: {
		            x: {"signal": "0.5 * (datum.x0 + datum.x1)"},
		            y: {"signal": "0.5 * (datum.y0 + datum.y1)"}
		          }
		        }
		      }
			  ]
			})			
				
			vegaEmbed('#visShareholders', spec, {"actions": { "export": true, "source": false, "compiled": false, "editor": false } });
			$("#visShareholders").show()				
			
		}
		
	</script>
</html>