 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

	<div th:fragment="taxProvision" class="ui segment">
		<div class="ui fluid accordion">
			<div class="active title">				
				<i class="dropdown icon"></i> 
				<span id="titleTaxProvision" th:text="#{taxpayers.analysis.general.view.tax.provision}"></span>							
			</div>							
			<div class="content">
				<div id="tableTaxProvision" class="ui orange table"></div>				
			</div>
		</div>
	</div>	

	<script th:nonce="${cspNonce}" th:inline="javascript">
	
		// Keeps data for graph use
		var taxProvisionData = [];	
	
		//Custom accessor
		function nullConvert(value, data, type, component){
		    if ( value == null )
		    	return "";
		    return value;
		}	
	
		function updateTaxProvision() {
			
			let tableTaxProvision = new Tabulator('#tableTaxProvision', {
				index: 'year',			
				layout: "fitData", //fit columns to width of table (optional)
			    pagination: false,
				paginationMode: "local", //enable local pagination
				paginationSize: 5,
				paginationSizeSelector:[5, 10, /*[[${@environment.getProperty('default.page.size')}]]*/ 15, 25, 50, 1000],
				ajaxURL: /*[[@{/api/analysis/taxpayer-general-view}]]*/ "/api/analysis/taxpayer-general-view", //set url for ajax request
				ajaxURLGenerator: function(url, config, params ){
					console.log(config)
					console.log(params)
					p = new URLSearchParams()
					p.set('searchType', '5')
					p.set('taxpayerId', document.getElementById("taxpayer").value)
					p.set('year', $('#year').val())
					console.log(url + '?' + p.toString())		
					return url + '?' + p.toString()
				},
				ajaxContentType: "json",
			    ajaxResponse:function(url, params, response){
			        //url - the URL of the request
			        //params - the parameters passed with the request
			        //response - the JSON object returned in the body of the response.
		
			        taxProvisionData = response;
			        console.log(response);
			        return response; //return the tableData property of a response json object
			    },
				footerElement: "<button id='exportXLSTaxProvision' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.xls})]</button>"+
								"<button id='showGraphTaxProvision' class='ui left floated compact button tabulator-footer'><i class='chart pie icon'></i>[(#{show.graph})]</button>",			
				locale:'xx',
				langs:{
			        "xx":{
			            "pagination":{
			                "first":/*[[#{pagination.first.button}]]*/ "First",
			                "first_title":/*[[#{pagination.first.tooltip}]]*/ "First Page",
			                "last":/*[[#{pagination.last.button}]]*/ "Last",
			                "last_title":/*[[#{pagination.last.tooltip}]]*/ "Last Page",
			                "prev":/*[[#{pagination.prev.button}]]*/ "Prev",
			                "prev_title":/*[[#{pagination.prev.tooltip}]]*/ "Prev Page",
			                "next":/*[[#{pagination.next.button}]]*/ "Next",
			                "next_title":/*[[#{pagination.next.tooltip}]]*/ "Next Page",
			                "all":/*[[#{pagination.all}]]*/ "All",
			                "page_size":/*[[#{pagination.page.size}]]*/ "Page Size",
			                "page_title":/*[[#{pagination.page.tooltip}]]*/ "Show Page"
			            }
			        }
			    },	
			    placeholder: /*[[#{no.data.available}]]*/ "No data available", //display message to user on empty table
				columns:[ //Define Table Columns
						{title: /*[[#{tax.year}]]*/ "Year", field:"year", hozAlign:"center", headerSort:true, headerHozAlign:"center"},
						{title: /*[[#{account.finalBalance}]]*/ "Final Balance", field:"final_balance", headerSort:true, formatter: "money", hozAlign:"right", headerSort:true, 
							headerHozAlign:"right", 
							formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, symbol:currencySymbol, symbolAfter:symbolAfter, precision:"2"}},
				],
			    initialSort:[			    	
			        {column:"year", dir:"desc"}, //sort by this first
			    ]
			});
			
			tableTaxProvision.on("tableBuilt", function(){
				document.getElementById('exportXLSTaxProvision').addEventListener("click", function(){
					tableTaxProvision.download("xlsx", getFileName(5), {sheetName:getSheetName(5)});				    
				});
				document.getElementById('showGraphTaxProvision').addEventListener("click", function(){					
					$('#modal_tax_provision_graph').modal('show');
					let width = $("#modal_tax_provision_graph").width() * .9;
					let height = window.screen.height * .5;
					window.dispatchEvent(new Event('height'));
					showTaxProvisionGraph(width,height);
					window.dispatchEvent(new Event('resize'));					
					
				});
			});
		
		}
		
	</script>
</html>