 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

	<div th:fragment="customersSuppliers" class="ui segment">
		<div class="ui fluid accordion">
			<div class="active title">				
				<i class="dropdown icon"></i> 
				<span id="titleRevenueNetGrossProfit" th:text="#{taxpayers.analysis.general.view.major.customers.suppliers}"></span>							
			</div>							
			<div class="content">
				<div class="ui segment">
					<div class="ui two column very relaxed grid unbounded">
					    <div class="column unbounded">
					      <div id="tableCustomers" class="ui orange table"></div>
					    </div>
					    <div class="column unbounded">
					      <div id="tableSuppliers" class="ui orange table"></div>
					    </div>
					</div>
					<div class="ui vertical divider">
					    <span th:text="#{versus}">vs</span>
					</div>	
				</div>
			</div>			
		</div>
	</div>	

	<script th:nonce="${cspNonce}" th:inline="javascript">
	
		function updateCustomersAndSuppliers() {
			upadateCustomers();
			updateSuppliers();
		}
	
		function upadateCustomers() {
			
			let tableCustomers = new Tabulator('#tableCustomers', {
				index: 'id',			
				layout: "fitColumns", //fit columns to width of table (optional)
			    pagination: false,
				paginationMode: "local", //enable local pagination
				paginationSize: /*[[${@environment.getProperty('default.page.size')}]]*/ 15,
				paginationSizeSelector:[5, 10, /*[[${@environment.getProperty('default.page.size')}]]*/ 15, 25, 50, 1000],
				ajaxURL: /*[[@{/api/analysis/taxpayer_general_view}]]*/ "/api/analysis/taxpayer_general_view", //set url for ajax request
				ajaxURLGenerator: function(url, config, params ){
					console.log(config)
					console.log(params)
					p = new URLSearchParams()
					p.set('searchType', '7')
					p.set('taxpayerId', document.getElementById("taxpayer").value)
					p.set('year', $('#year').val())
					console.log(url + '?' + p.toString())		
					return url + '?' + p.toString()
				},
				ajaxContentType: "json",
			    ajaxResponse:function(url, params, response){
			        //url - the URL of the request
			        //params - the parameters passed with the request
			        //response - the JSON object returned in the body of the response.
		
			        console.log(response);
			        return response; //return the tableData property of a response json object
			    },
				footerElement: "<button id='exportXLSCustomers' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.xls})]</button>",			
				locale:'xx',
				langs:{
			        "xx":{
			            "pagination":{
			                "first":/*[[#{pagination.first.button}]]*/ "First",
			                "first_title":/*[[#{pagination.first.tooltip}]]*/ "First Page",
			                "last":/*[[#{pagination.last.button}]]*/ "Last",
			                "last_title":/*[[#{pagination.last.tooltip}]]*/ "Last Page",
			                "prev":/*[[#{pagination.prev.button}]]*/ "Prev",
			                "prev_title":/*[[#{pagination.prev.tooltip}]]*/ "Prev Page",
			                "next":/*[[#{pagination.next.button}]]*/ "Next",
			                "next_title":/*[[#{pagination.next.tooltip}]]*/ "Next Page",
			                "all":/*[[#{pagination.all}]]*/ "All",
			                "page_size":/*[[#{pagination.page.size}]]*/ "Page Size",
			                "page_title":/*[[#{pagination.page.tooltip}]]*/ "Show Page"
			            }
			        }
			    },	
			    placeholder: /*[[#{no.data.available}]]*/ "No data available", //display message to user on empty table
			    groupBy:"year",
			    groupStartOpen: true,
			    groupHeader:function(value, count, data, group){
			        //value - the value all members of this group share
			        //count - the number of rows in this group
			        //data - an array of all the row data objects in this group
			        //group - the group component for the group
			        return value;
			    },			    
			    columns:[ //Define Table Columns
			    	{title: /*[[#{tax.year}]]*/ "Year", field:"year", hozAlign:"center", headerSort:true, headerHozAlign:"center", visible:false},
					{ title: /*[[#{taxpayers.analysis.general.view.major.customers}]]*/ "Customers", headerHozAlign:"center", cssClass:"my-background",
						columns:[
							{title: /*[[#{customer.id}]]*/ "Customer Id", field:"customer_id", hozAlign:"left", headerSort:true, visible:false},
							{title: /*[[#{customer.name}]]*/ "Customer Name", field:"customer_name", hozAlign:"left", headerSort:true},							
							{title: /*[[#{value}]]*/ "Value", field:"value", headerHozAlign:"right", formatter: "money", hozAlign:"right", headerSort:true, 
								formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, precision:"2", symbol:"$", symbolAfter:true}},
						],
					},
				],
			    initialSort:[			        
			        {column:"year", dir:"desc"}, //sort by this first
			    ],
			});
			
			tableCustomers.on("tableBuilt", 
					function() {
						document.getElementById('exportXLSCustomers').addEventListener("click", 
								function() {
									tableCustomers.download("xlsx", getFileName(7), {sheetName:getSheetName(7)});				    
								});						
					});
			
			tableCustomers.on("renderComplete", function(data){				
				hideGroups(tableCustomers);
			});
		
		}	
		
		function hideGroups(table) {
			
			//alert("complete");
			
			if (table == null)
				return;
			
			table.off("renderComplete");
			//table.setGroupStartOpen(false);
			//table.getGroups().forEach(x => x._group.hide());
			
 			groups = table.getGroups(); 		
 			
 			//alert(groups.length);
 			 			
 			if ( groups == null || groups.length == 1 )
 				return;
				
 			//groups.forEach(x => x._group.hide());
 			//groups[0]._group.show();
 			for ( i = 1; i < groups.length; i++ ) { 				
  				//groups[i]._group.hide();
 			}
 			
 			table.redraw(true);
			
		}
		
		function updateSuppliers() {
			
			let tableSuppliers = new Tabulator('#tableSuppliers', {
				index: 'id',			
				layout: "fitColumns", //fit columns to width of table (optional)
			    pagination: false,
				paginationMode: "local", //enable local pagination
				paginationSize: /*[[${@environment.getProperty('default.page.size')}]]*/ 15,
				paginationSizeSelector:[5, 10, /*[[${@environment.getProperty('default.page.size')}]]*/ 15, 25, 50, 1000],
				ajaxURL: /*[[@{/api/analysis/taxpayer_general_view}]]*/ "/api/analysis/taxpayer_general_view", //set url for ajax request
				ajaxURLGenerator: function(url, config, params ){
					console.log(config)
					console.log(params)
					p = new URLSearchParams()
					p.set('searchType', '8')
					p.set('taxpayerId', document.getElementById("taxpayer").value)
					p.set('year', $('#year').val())
					console.log(url + '?' + p.toString())		
					return url + '?' + p.toString()
				},
				ajaxContentType: "json",
			    ajaxResponse:function(url, params, response){
			        //url - the URL of the request
			        //params - the parameters passed with the request
			        //response - the JSON object returned in the body of the response.
		
			        console.log(response);
			        return response; //return the tableData property of a response json object
			    },
				footerElement: "<button id='exportXLSSuppliers' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.xls})]</button>",			
				locale:'xx',
				langs:{
			        "xx":{
			            "pagination":{
			                "first":/*[[#{pagination.first.button}]]*/ "First",
			                "first_title":/*[[#{pagination.first.tooltip}]]*/ "First Page",
			                "last":/*[[#{pagination.last.button}]]*/ "Last",
			                "last_title":/*[[#{pagination.last.tooltip}]]*/ "Last Page",
			                "prev":/*[[#{pagination.prev.button}]]*/ "Prev",
			                "prev_title":/*[[#{pagination.prev.tooltip}]]*/ "Prev Page",
			                "next":/*[[#{pagination.next.button}]]*/ "Next",
			                "next_title":/*[[#{pagination.next.tooltip}]]*/ "Next Page",
			                "all":/*[[#{pagination.all}]]*/ "All",
			                "page_size":/*[[#{pagination.page.size}]]*/ "Page Size",
			                "page_title":/*[[#{pagination.page.tooltip}]]*/ "Show Page"
			            }
			        }
			    },	
			    placeholder: /*[[#{no.data.available}]]*/ "No data available", //display message to user on empty table
			    groupBy:"year",
			    groupStartOpen: true,
			    groupHeader:function(value, count, data, group){
			        //value - the value all members of this group share
			        //count - the number of rows in this group
			        //data - an array of all the row data objects in this group
			        //group - the group component for the group
			        return value;
			    },			    
			    columns:[ //Define Table Columns
			    	{title: /*[[#{tax.year}]]*/ "Year", field:"year", hozAlign:"center", headerSort:true, headerHozAlign:"center", visible:false},
					{title: /*[[#{taxpayers.analysis.general.view.major.suppliers}]]*/ "Suppliers", headerHozAlign:"center", cssClass:"my-background",
						columns:[							
							{title: /*[[#{supplier.id}]]*/ "Supplier Id", field:"supplier_id", hozAlign:"left", headerSort:true, visible:false},
							{title: /*[[#{supplier.name}]]*/ "Supplier Name", field:"supplier_name", hozAlign:"left", headerSort:true},							
							{title: /*[[#{value}]]*/ "Value", field:"value", headerHozAlign:"right", formatter: "money", hozAlign:"right", headerSort:true, 
								formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, precision:"2", symbol:"$", symbolAfter:true}},
						],
					},
				],
			    initialSort:[			        
			        {column:"year", dir:"desc"}, //sort by this first
			    ],
			});
			
			tableSuppliers.on("tableBuilt", 
				function() {					
					document.getElementById('exportXLSSuppliers').addEventListener("click", 
						function() {
						tableSuppliers.download("xlsx", getFileName(8), {sheetName:getSheetName(8)});				    
					});					
				});
		
			tableSuppliers.on("renderComplete", function(){
				//hideGroups(tableSuppliers);		
			});			
		}		
		
	</script>
</html>