<!DOCTYPE HTML>
<!--/*
 Copyright © [2021]. Banco Interamericano de Desarrollo ("BID"). Uso autorizado.
 Los procedimientos y resultados obtenidos en base a la ejecución de este software son los programados por los desarrolladores y no necesariamente reflejan el punto de vista del BID, de su Directorio Ejecutivo ni de los países que representa.
 
 This software uses third-party components, distributed accordingly to their own licenses.
*/-->
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

	<div class="ui large modal one column unbounded centered aligned grid" id="modal_major_customers_graph" th:fragment="major_customers_graph">
		<i class="close icon"></i>
		   <div class="column aligned grid">
       			<h1><span th:text="#{taxpayers.analysis.general.view.major.customers}"></span></h1>	
   			</div>	
		<div style="width: 100%; display: flex;" id="visMajorCustomers"></div>
	</div>		

	<script th:nonce="${cspNonce}" th:inline="javascript">
	
		function showMajorCustomersGraph(width,height,) {
			
		 	let spec = ({
				$schema: "https://vega.github.io/schema/vega/v5.json",
			  	"width": width,
			  	"height": height,			  	
			  	padding: 1,
			  	center: true,
			  	data: [
			    	{name: "majorCustomers",
			      	values: majorCustomersData,
			      	format: { type: "json" },
			      	transform: [
			        	{ type: "nest", keys: ["year"] },
			        	{ type: "treemap",
						field: "values.value",
			        	paddingInner: 1,
			        	size: [{ signal: "width" }, { signal: "height" }]}
			        ]},
			        {name: "values",
			        source: "majorCustomers",
			        transform: [{ type: "filter", expr: "datum.values" }]
			        }
			  ],

			  scales: [
			    {
			      name: "color",
			      type: "ordinal",
			      domain: { data: "majorCustomers", field: "year" },
			      range: { scheme: "category20" }
			    }		    
			  ],

			  marks: [
			    {type: "rect",
			     from: {data: "majorCustomers"},
			     encode: {					
					update: {
			        	fill: { scale: "color", field: "year", opacity: 0.4 },
						x: {field: "x0"},
						x2: {field: "x1"},
						y: {field: "y0"},
						y2: {field: "y1"} 
					}
				}
			    },
			    {type: "rect",
				from: { data: "values" },
				encode: {	
					enter: { stroke: {value: "#fff"} },
					update: {
						fill: { value: "transparent" },
			          	x: { field: "x0" },
			          	x2: { field: "x1" },
			          	y: { field: "y0" },
			          	y2: { field: "y1" }
					},
					hover: {
						fill: {value: "orange"},
						tooltip: {
							signal: '{ [[#{tax.year}]]: datum.year, [[#{year.value}]]: format(datum.yearValue,"$,.2f"), [[#{customer.name}]]: datum.values.customer_name, [[#{customer.value}]]: format(datum.values.value,"$,.2f")}',
				        }
					}
				}
			    },
			    {type: "text",
		        from: {data: "majorCustomers"},
		        interactive: false,
		        encode: {
		          enter: {
		            font: {value: "Helvetica Neue, Arial"},
		            align: {value: "center"},
		            baseline: {value: "middle"},
		            fill: {value: "#000"},
		            text: {field: "values.title"}
		          },
		          update: {
		            x: {signal: "0.5 * (datum.x0 + datum.x1)"},
		            y: {signal: "0.5 * (datum.y0 + datum.y1)"}
		          }
		        }
		      }
				  ]
			})			
					
			vegaEmbed('#visMajorCustomers', spec, {"actions": { "export": true, "source": false, "compiled": false, "editor": false } });
			$('#visMajorCustomers').show()				
			
		}
		
	</script>
</html>