<!DOCTYPE HTML>
<!--/*
 Copyright © [2021]. Banco Interamericano de Desarrollo ("BID"). Uso autorizado.
 Los procedimientos y resultados obtenidos en base a la ejecución de este software son los programados por los desarrolladores y no necesariamente reflejan el punto de vista del BID, de su Directorio Ejecutivo ni de los países que representa.
 
 This software uses third-party components, distributed accordingly to their own licenses.
*/-->
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

	<div th:fragment="analyticsAccounts" class="ui segment">
		<div class="ui fluid accordion">
			<div class="active title">				
				<i class="dropdown icon"></i> 
				<span id="titleAnalyticsAccounts" th:text="#{taxpayers.analysis.general.view.major.analytics.accounts}"></span>							
			</div>							
			<div class="content">
				<div id="tableAnalyticsAccounts" class="ui orange table"></div>				
			</div>
		</div>
	</div>	
	
	<script th:nonce="${cspNonce}" th:inline="javascript">
	
		// Keeps data for graph use
		var analyticsAccountsData = [];
		
		var exportType = '';
	
		//Custom accessor
		function nullConvert(value, data, type, component){
		    if ( value == null )
		    	return "";
		    return value;
		}	
	
		function updateAnalyticsAccounts() {
			
			let tableAnalyticsAccounts = new Tabulator('#tableAnalyticsAccounts', {
				index: 'id',			
				layout: "fitDataTable", //fit columns to width of table (optional)
			    pagination: false,
				paginationMode: "local", //enable local pagination
				paginationSize: 5,
				paginationSizeSelector: tabulatorPaginationSizeSelector,				
				langs: tabulatorLanguageSpecs,
				ajaxURL: /*[[@{/api/analysis/taxpayer-general-view}]]*/ "/api/analysis/taxpayer-general-view", //set url for ajax request
				ajaxURLGenerator: function(url, config, params ){
					var p = new URLSearchParams()
					p.set('searchType', '6')
					p.set('taxpayerId', document.getElementById("taxpayer").value)
					p.set('year', $('#year').val())
					return url + '?' + p.toString()
				},
				ajaxContentType: "json",
			    ajaxResponse:function(url, params, response){
			        //url - the URL of the request
			        //params - the parameters passed with the request
			        //response - the JSON object returned in the body of the response.
		
			        analyticsAccountsData = response;
			        return response; //return the tableData property of a response json object
			    },
				footerElement: "<button id='exportXLSAnalyticsAccounts' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.xls})]</button>"+
								"<button id='exportCSVAnalyticsAccounts' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.csv})]</button>"+
								"<button id='exportPDFAnalyticsAccounts' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.pdf})]</button>"+
								"<button id='showGraphShareholders' class='ui left floated compact button tabulator-footer'><i class='chart pie icon'></i>[(#{show.graph})]</button>",			
				locale:'xx',
			    placeholder: /*[[#{no.data.available}]]*/ "No data available", //display message to user on empty table
			    groupBy:"year",
			    groupHeader:function(value, count, data, group){
			        //value - the value all members of this group share
			        //count - the number of rows in this group
			        //data - an array of all the row data objects in this group
			        //group - the group component for the group
			        return value;
			    },				    
				columns:[ //Define Table Columns
						{title: /*[[#{tax.year}]]*/ "Year", field:"year", hozAlign:"left", headerSort:true, headerHozAlign:"left", visible:false},
						{title: /*[[#{account.code}]]*/ "Account Code", field:"values.account_code", hozAlign:"left", headerSort:false, headerHozAlign:"left"},
						{title: /*[[#{account.name}]]*/ "Account Name", field:"values.account_name", hozAlign:"left", headerSort:false, headerHozAlign:"left"},
						{title: /*[[#{account.finalBalance}]]*/ "Final Balance", field:"values.value", headerSort:true, formatter: "money",  
							headerHozAlign:"right", accessorDownload: valueConvertWithFractionDigits, hozAlign:"right", 
							formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, symbol:currencySymbol, symbolAfter:symbolAfter, precision:"2"}},
				],
			    initialSort:[
			    	{column:"year", dir:"desc"}
			    ]
			});
			
			tableAnalyticsAccounts.on("tableBuilt", function(){
				document.getElementById('exportXLSAnalyticsAccounts').addEventListener("click", function(){
					tableAnalyticsAccounts.download("xlsx", getFileName(6/*seach type*/,"xlsx"), 
							{sheetName: getSheetName(6/*search type*/, true)});				    
				});
				document.getElementById('showGraphShareholders').addEventListener("click", function(){					
					$('#modal_analytics_accounts_graph').modal('show');
					let width = $("#modal_analytics_accounts_graph").width() * .9;
					let height = window.screen.height * .5;
					window.dispatchEvent(new Event('height'));
					showAnalyticsAccountsGraph(width,height);
					window.dispatchEvent(new Event('resize'));					
					
				});
				document.getElementById('exportCSVAnalyticsAccounts').addEventListener("click", function(){
					exportType = "CSV";
					tableAnalyticsAccounts.download("csv", getFileName(6,"csv"));									    
				});				
				document.getElementById('exportPDFAnalyticsAccounts').addEventListener("click", function(){
					exportType = "PDF";
					let author = /*[[${#authentication.name}]]*/'';					
					let year = $('#year').val();
					let taxpayer = getTaxpayer($('#select').dropdown("get text"));
					let title = /*[[#{taxpayers.analysis.general.view.major.analytics.accounts}]]*/'';
					tableAnalyticsAccounts.download("pdf", getFileName(6,"pdf"), {
						orientation:"portrait", //set page orientation to portrait
				    	autoTable:function(doc) { 
				            doc.setFontSize(8); //Want the tables font to be this size
				         	// Optional - set properties on the document
				            doc.setProperties({
				            	title: title,
				            	author: author,
				            	subject: taxpayer[0] + " " + taxpayer[1] + " " + year,					            	
				            	keywords: 'generated, javascript, web 2.0, ajax',
				            	creator: 'CACAO'
				            });
				            return {
				                styles: {cellPadding: 2, fontSize: 8},
				                headStyles: { valign: 'middle', lineWidth: 1 },
				                columnStyles: { 2: {halign: 'right'} },
				                margin: { left: 15, right: 250, top: 45, botton: 15 },
				                willDrawCell: function(data) {					                	
									if (data.row.section === 'head' ) {
										if ( data.column.dataKey == 2 )  {
											data.cell.styles.halign = 'right';
										}
					                }
								},
								didDrawPage: function (data) {
									//Add header
									doc.setFont(undefined, 'bold');
									doc.text(title, 15, 20);						            
									doc.text(taxpayer[0] + " " + taxpayer[1],15, 30);
						            doc.text(year,15, 40).setFont(undefined, 'normal');
						            
						            //Add page number
						            let str = /*[[#{page}]]*/'';
						            str = str + " " + doc.internal.getNumberOfPages();
						            let textWidth = doc.getStringUnitWidth(str) * doc.internal.getFontSize() / doc.internal.scaleFactor;
						            let textOffset = (doc.internal.pageSize.width - textWidth) / 2;							            
						            doc.text(str, textOffset, doc.internal.pageSize.height - 10);							            
								}
				            };
				        },						        
					});					
				});						
			});
		
		}
		
	</script>
</html>