 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

	<div th:fragment="customersSuppliers" class="ui segment">
		<div class="ui fluid accordion">
			<div class="active title">				
				<i class="dropdown icon"></i> 
				<span id="titleRevenueNetGrossProfit" th:text="#{taxpayers.analysis.general.view.major.customers.suppliers}"></span>							
			</div>							
			<div class="content">
				<div class="ui segment">
					<div class="ui two column very relaxed grid unbounded">
					    <div class="column unbounded">
					      <div id="tableCustomers" class="ui orange table"></div>
					    </div>
					    <div class="column unbounded">
					      <div id="tableSuppliers" class="ui orange table"></div>
					    </div>
					</div>
					<div class="ui vertical divider">
					    <span th:text="#{versus}">vs</span>
					</div>	
				</div>
			</div>			
		</div>
	</div>	
	
	<script th:nonce="${cspNonce}" th:inline="javascript">
	
		// Keeps data for graph use
		var majorCustomersData = [];		
		var majorSuppliersData = [];
		
		var exportType = '';
		
		function updateCustomersAndSuppliers() {
			upadateCustomers();
			updateSuppliers();
		}
	
		function upadateCustomers() {
			
			let tableCustomers = new Tabulator('#tableCustomers', {
				index: 'id',			
				layout: "fitColumns", //fit columns to width of table (optional)
			    pagination: false,
				paginationMode: "local", //enable local pagination
				paginationSize: tabulatorPaginationSize,
				paginationSizeSelector: tabulatorPaginationSizeSelector,				
				langs: tabulatorLanguageSpecs,
				ajaxURL: /*[[@{/api/analysis/taxpayer-general-view}]]*/ "/api/analysis/taxpayer-general-view", //set url for ajax request
				ajaxURLGenerator: function(url, config, params ){
					var p = new URLSearchParams()
					p.set('searchType', '7')
					p.set('taxpayerId', document.getElementById("taxpayer").value)
					p.set('year', $('#year').val())
					return url + '?' + p.toString()
				},
				ajaxContentType: "json",
			    ajaxResponse:function(url, params, response){
			        //url - the URL of the request
			        //params - the parameters passed with the request
			        //response - the JSON object returned in the body of the response.
		
			        majorCustomersData = response;
			        return response; //return the tableData property of a response json object
			    },
				footerElement: "<button id='exportXLSCustomers' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.xls})]</button>"+
								"<button id='exportCSVCustomers' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.csv})]</button>"+
								"<button id='exportPDFCustomers' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.pdf})]</button>"+
								"<button id='showGraphCustomers' class='ui left floated compact button tabulator-footer'><i class='chart pie icon'></i>[(#{show.graph})]</button>",			
				locale:'xx',
			    placeholder: /*[[#{no.data.available}]]*/ "No data available", //display message to user on empty table
			    groupBy:"year",
			    groupStartOpen: true,
			    groupHeader:function(value, count, data, group){
			        //value - the value all members of this group share
			        //count - the number of rows in this group
			        //data - an array of all the row data objects in this group
			        //group - the group component for the group
			        return value;
			    },			    
			    columns:[ //Define Table Columns
			    	{title: /*[[#{tax.year}]]*/ "Year", field:"year", hozAlign:"center", headerSort:true, headerHozAlign:"center", visible:false},
					{ title: /*[[#{taxpayers.analysis.general.view.major.customers}]]*/ "Customers", headerHozAlign:"center", cssClass:"my-background",
						columns:[
							{title: /*[[#{customer.id}]]*/ "Customer Id", field:"values.customer_id", hozAlign:"left", headerSort:true, visible:false},
							{title: /*[[#{customer.name}]]*/ "Customer Name", field:"values.customer_name", hozAlign:"left", headerSort:true},							
							{title: /*[[#{value}]]*/ "Value", field:"values.value", headerHozAlign:"right", accessorDownload: valueConvertWithFractionDigits, 
								formatter: "money", hozAlign:"right", headerSort:true, 
								formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, precision:"2", symbol:currencySymbol, symbolAfter:symbolAfter}},
						],
					},
				],
			    initialSort:[			        
			        {column:"year", dir:"desc"}, //sort by this first
			    ],
			});
			
			tableCustomers.on("tableBuilt", 
				function() {
					document.getElementById('exportXLSCustomers').addEventListener("click", 
						function() {
							tableCustomers.download("xlsx", getFileName(7,"xlsx"), {sheetName:getSheetName(7,true)});				    
						});
					
					document.getElementById('showGraphCustomers').addEventListener("click", function(){					
						$('#modal_major_customers_graph').modal('show');
						let width = $("#modal_major_customers_graph").width() * .9;
						let height = window.screen.height * .5;
						window.dispatchEvent(new Event('height'));
						showMajorCustomersGraph(width,height);
						window.dispatchEvent(new Event('resize'));
					});
					document.getElementById('exportCSVCustomers').addEventListener("click", function(){
						exportType = "CSV";
						tableCustomers.download("csv", getFileName(7,"csv"));									    
					});				
					document.getElementById('exportPDFCustomers').addEventListener("click", function(){
						exportType = "PDF";
						let author = /*[[${#authentication.name}]]*/'';					
						let year = $('#year').val();
						let taxpayer = getTaxpayer($('#select').dropdown("get text"));
						let title = /*[[#{taxpayers.analysis.general.view.major.customers}]]*/'';
						tableCustomers.download("pdf", getFileName(7,"pdf"), {
							orientation:"portrait", //set page orientation to portrait
					    	autoTable:function(doc) { 
					            doc.setFontSize(8); //Want the tables font to be this size
					         	// Optional - set properties on the document
					            doc.setProperties({
					            	title: title,
					            	author: author,
					            	subject: taxpayer[0] + " " + taxpayer[1] + " " + year,					            	
					            	keywords: 'generated, javascript, web 2.0, ajax',
					            	creator: 'CACAO'
					            });
					           	let first = true;
					            return {
					                styles: {cellPadding: 2, fontSize: 8},
					                headStyles: { valign: 'middle', lineWidth: 1 },
					                columnStyles: { 1: {halign: 'right'} },
					                margin: { left: 15, right: 250, top: 45, botton: 15 },
					                willDrawCell: function(data) {					                	
										if (data.row.section === 'head' ) {
											if ( first && data.column.dataKey == 0 )  {
												first = false;
												data.cell.styles.halign = 'center';
											}
											else if ( data.column.dataKey == 1 )  {
												data.cell.styles.halign = 'right';
											}
						                }
									},
									didDrawPage: function (data) {
										//Add header
										doc.setFont(undefined, 'bold');
										doc.text(title, 15, 20);						            
										doc.text(taxpayer[0] + " " + taxpayer[1],15, 30);
							            doc.text(year,15, 40).setFont(undefined, 'normal');
							            
							            //Add page number
							            let str = /*[[#{page}]]*/'';
							            str = str + " " + doc.internal.getNumberOfPages();
							            let textWidth = doc.getStringUnitWidth(str) * doc.internal.getFontSize() / doc.internal.scaleFactor;
							            let textOffset = (doc.internal.pageSize.width - textWidth) / 2;							            
							            doc.text(str, textOffset, doc.internal.pageSize.height - 10);							            
									}
					            };
					        },						        
						});					
					});		
				});			
		
		}
		
		function updateSuppliers() {
			
			let tableSuppliers = new Tabulator('#tableSuppliers', {
				index: 'id',			
				layout: "fitColumns", //fit columns to width of table (optional)
			    pagination: false,
				paginationMode: "local", //enable local pagination
				paginationSize: tabulatorPaginationSize,
				paginationSizeSelector: tabulatorPaginationSizeSelector,				
				langs: tabulatorLanguageSpecs,
				ajaxURL: /*[[@{/api/analysis/taxpayer-general-view}]]*/ "/api/analysis/taxpayer-general-view", //set url for ajax request
				ajaxURLGenerator: function(url, config, params ){
					var p = new URLSearchParams()
					p.set('searchType', '8')
					p.set('taxpayerId', document.getElementById("taxpayer").value)
					p.set('year', $('#year').val())
					return url + '?' + p.toString()
				},
				ajaxContentType: "json",
			    ajaxResponse:function(url, params, response){
			        //url - the URL of the request
			        //params - the parameters passed with the request
			        //response - the JSON object returned in the body of the response.
		
			        majorSuppliersData = response;
			        return response; //return the tableData property of a response json object
			    },
				footerElement: "<button id='exportXLSSuppliers' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.xls})]</button>"+
								"<button id='exportCSVSuppliers' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.csv})]</button>"+
								"<button id='exportPDFSuppliers' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.pdf})]</button>"+
								"<button id='showGraphSuppliers' class='ui left floated compact button tabulator-footer'><i class='chart pie icon'></i>[(#{show.graph})]</button>",			
				locale:'xx',
			    placeholder: /*[[#{no.data.available}]]*/ "No data available", //display message to user on empty table
			    groupBy:"year",
			    groupStartOpen: true,
			    groupHeader:function(value, count, data, group){
			        //value - the value all members of this group share
			        //count - the number of rows in this group
			        //data - an array of all the row data objects in this group
			        //group - the group component for the group
			        return value;
			    },			    
			    columns:[ //Define Table Columns
			    	{title: /*[[#{tax.year}]]*/ "Year", field:"year", hozAlign:"center", headerSort:true, headerHozAlign:"center", visible:false},
					{title: /*[[#{taxpayers.analysis.general.view.major.suppliers}]]*/ "Suppliers", headerHozAlign:"center", cssClass:"my-background",
						columns:[							
							{title: /*[[#{supplier.id}]]*/ "Supplier Id", field:"values.supplier_id", hozAlign:"left", headerSort:true, visible:false},
							{title: /*[[#{supplier.name}]]*/ "Supplier Name", field:"values.supplier_name", hozAlign:"left", headerSort:true},							
							{title: /*[[#{value}]]*/ "Value", field:"values.value", headerHozAlign:"right", accessorDownload: valueConvertWithFractionDigits, 
								formatter: "money", hozAlign:"right", headerSort:true, 
								formatterParams: {decimal:decimalChar, thousand:decimalGroupSeparator, precision:"2", symbol:currencySymbol, symbolAfter:symbolAfter}},
						],
					},
				],
			    initialSort:[			        
			        {column:"year", dir:"desc"}, //sort by this first
			    ],
			});
			
			tableSuppliers.on("tableBuilt", 
				function() {					
					document.getElementById('exportXLSSuppliers').addEventListener("click", 
						function() {
						tableSuppliers.download("xlsx", getFileName(8,"xlsx"), {sheetName:getSheetName(8,true)});				    
					});
					document.getElementById('showGraphSuppliers').addEventListener("click", function(){					
						$('#modal_major_suppliers_graph').modal('show');
						let width = $("#modal_major_suppliers_graph").width() * .9;
						let height = window.screen.height * .5;
						window.dispatchEvent(new Event('height'));
						showMajorSuppliersGraph(width,height);
						window.dispatchEvent(new Event('resize'));
					});
					document.getElementById('exportCSVSuppliers').addEventListener("click", function(){
						exportType = "CSV";
						tableSuppliers.download("csv", getFileName(8,"csv"));									    
					});				
					document.getElementById('exportPDFSuppliers').addEventListener("click", function(){
						exportType = "PDF";
						let author = /*[[${#authentication.name}]]*/'';					
						let year = $('#year').val();
						let taxpayer = getTaxpayer($('#select').dropdown("get text"));
						let title = /*[[#{taxpayers.analysis.general.view.major.suppliers}]]*/'';
						tableSuppliers.download("pdf", getFileName(8,"pdf"), {
							orientation:"portrait", //set page orientation to portrait
					    	autoTable:function(doc) { 
					            doc.setFontSize(8); //Want the tables font to be this size
					         	// Optional - set properties on the document
					            doc.setProperties({
					            	title: title,
					            	author: author,
					            	subject: taxpayer[0] + " " + taxpayer[1] + " " + year,					            	
					            	keywords: 'generated, javascript, web 2.0, ajax',
					            	creator: 'CACAO'
					            });
					           	let first = true;
					            return {
					                styles: {cellPadding: 2, fontSize: 8},
					                headStyles: { valign: 'middle', lineWidth: 1 },
					                columnStyles: { 1: {halign: 'right'} },
					                margin: { left: 15, right: 250, top: 45, botton: 15 },
					                willDrawCell: function(data) {					                	
										if (data.row.section === 'head' ) {
											if ( first && data.column.dataKey == 0 )  {
												first = false;
												data.cell.styles.halign = 'center';
											}
											else if ( data.column.dataKey == 1 )  {
												data.cell.styles.halign = 'right';
											}
						                }
									},
									didDrawPage: function (data) {
										//Add header
										doc.setFont(undefined, 'bold');
										doc.text(title, 15, 20);						            
										doc.text(taxpayer[0] + " " + taxpayer[1],15, 30);
							            doc.text(year,15, 40).setFont(undefined, 'normal');
							            
							            //Add page number
							            let str = /*[[#{page}]]*/'';
							            str = str + " " + doc.internal.getNumberOfPages();
							            let textWidth = doc.getStringUnitWidth(str) * doc.internal.getFontSize() / doc.internal.scaleFactor;
							            let textOffset = (doc.internal.pageSize.width - textWidth) / 2;							            
							            doc.text(str, textOffset, doc.internal.pageSize.height - 10);							            
									}
					            };
					        },						        
						});					
					});					
				});	
		}		
		
	</script>
</html>