<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<head
	th:replace="fragments/page_fragments :: header(more_links=~{this::link}, more_scripts=~{this::script[src]})">
<!-- Although the entire head will be replaced, its necessary to establish the charset
	for all static content before the Thymeleaf processing. -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" class="ui"
	href="/css/tabulator_semantic-ui.min.css">
<script src="/js/tabulator.min.js"></script>
<script src="/js/luxon.min.js"></script>
<script type="text/javascript" src="/js/xlsx.full.min.js"></script>
</head>
<body>
	<!-- Fix to avoid overlap from the Menu -->
	<div>
		<br>
	</div>
	<div class="ui container">
        <div class="ui breadcrumb">
          <a class="section" th:text="#{menu.homepage}" th:href="@{/cards}">Home</a>
          <div class="divider"> / </div>
          <div class="active section" th:text="#{taxpayers.analysis}">Analysis</div>
        </div>	
		<h2 class="ui header">
			<i class="stream icon"></i>
			<span class="content" th:text="#{taxpayers.analysis.vertical.and.horizontal}">Vertical and Horizontal Analysis</span>			
		</h2>
		<div class="ui container">
			<div class="ui orange segment">
				<form action="#" name="form" id="form"
					th:action="@{/vertical-analysis-data}" class="ui form" method="post">
					<div class="ui field" id="search1">
						<label th:text="#{taxpayer.name}">TaxPayer name</label>
                        <div style="width: 100%">
						   <div class="ui search selection dropdown" id="select"  style="width:calc(100% - 35px)">
							<input id="taxpayer" type="hidden" name="personId">
							<div class="default text" th:text="#{select}">Select</div>
							<i class="dropdown icon"></i>
							<div class="menu"></div>
						  </div>
                         <i class="large link copy outline icon" id="copyTaxpayer"></i>
                       </div> 
					</div>

					<div class="ui field" id="type">
						<label th:text="#{taxpayers.analysis.type}">Analysis
							Type</label> <select class="ui dropdown" id="analysisType">
							<option value="1"
								th:text="#{taxpayers.analysis.type.vertical}">Vertical</option>
							<option value="2"
								th:text="#{taxpayers.analysis.type.horizontal}">Horizontal</option>
							<option value="3" th:text="#{taxpayers.analysis.type.both}">Both</option>
						</select>
					</div>

					<div class="ui calendar field" id="finalDate">
						<label th:text="#{base.period}">Base Period</label>
						<div class="ui input left icon">
							<i class="calendar icon"></i> <input type="text"
								th:placeholder="#{base.period}" id="date">
						</div>
					</div>

					<div class="ui field" id="periodicity">
						<label th:text="#{taxpayers.analysis.periodicity}">Date</label> <select
							class="ui dropdown" id="period">
							<option value="1" th:text="#{periodicity.one.month.before}">1
								month before</option>
							<option value="2" th:text="#{periodicity.three.months.before}">3
								months before</option>
							<option value="3" th:text="#{periodicity.six.months.before}">6
								months before</option>
							<option value="4" th:text="#{periodicity.twelve.months.before}">12
								months before</option>
							<option value="11" th:text="#{periodicity.one.year.before}">1
								year before</option>
							<option value="12" th:text="#{periodicity.two.years.before}">2
								years before</option>
							<option value="13" th:text="#{periodicity.three.years.before}">3
								years before</option>
							<option value="14" th:text="#{periodicity.four.years.before}">4
								years before</option>
							<option value="15" th:text="#{periodicity.five.years.before}">5
								years before</option>
							<option value="21" th:text="#{periodicity.one.month.after}">1
								month after</option>
							<option value="22" th:text="#{periodicity.three.months.after}">3
								months after</option>
							<option value="23" th:text="#{periodicity.six.months.after}">6
								months after</option>
							<option value="24" th:text="#{periodicity.twelve.months.after}">12
								months after</option>
							<option value="31" th:text="#{periodicity.one.year.after}">1
								year after</option>
							<option value="32" th:text="#{periodicity.two.years.after}">2
								years after</option>
							<option value="33" th:text="#{periodicity.three.years.after}">3
								years after</option>
							<option value="34" th:text="#{periodicity.four.years.after}">4
								years after</option>
							<option value="35" th:text="#{periodicity.five.years.after}">5
								years after</option>
						</select>
					</div>
					
					<div class="ui field" id="levelview">
						<label th:text="#{account.level.show}">Show Level</label> 
						<select class="ui dropdown" id="level">
							<option value="1" th:text="#{account.level.1}">Level 1</option>
							<option value="2" th:text="#{account.level.2}">Level 2</option>
							<option value="3" selected="selected" th:text="#{account.level.3}">Level 3</option>
						</select>
					</div>					

					<div class="ui field checkbox" id="showZeroBalanceAccount">
						<input type="checkbox" tabindex="0" name="zeroBalance" id="zeroBalance">
						<label th:text="#{show.zero.balance.accounts}">Show accounts with
							ZERO balance</label>
					</div>

					<div class="row">
						<input type="submit" class="ui blue button" th:value="#{search}"
							value="Search">
					</div>
				</form>
			</div>
			<div id="showtable" style="display: none">
				<div id="table" class="ui orange table"></div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/modals :: successful">MODAL DIALOG FOR
		SUCCESSFUL ALERT</div>
	<div th:replace="fragments/modals :: failed">MODAL DIALOG FOR FAILURE
		ALERT</div>

	<script th:nonce="${cspNonce}" th:inline="javascript">
	
		$('#qualifiers').on('change', function() {
			$("#dataView").hide();
			updateQualifiersValues(true);
	 	});	
	
    	$('#copyTaxpayer').click( function() {
    	    navigator.clipboard.writeText($('#taxpayer').val())
    	})
	
		$('#finalDate').calendar({
		  type: 'month',
		     onChange: function(value) {
		    	 $("#showtable").hide()
		    	 $('#form').submit();
		     },
		});
		
		$('#analysisType').on('change', function() {
			$("#showtable").hide()
			$('#form').submit();
	     });	
		
		$('#period').on('change', function() {
			$("#showtable").hide()
			$('#form').submit();
	     });
		
		$('#level').on('change', function() {
			var level = $('#level').val();
			if ( level == 3 )
				table.clearFilter();
			else {
				table.setFilter([
				    {field:"level", type:"<=", value:level}, //filter by level
				]);
			}
			table.redraw();   
	     });
		
		$('#zeroBalance').on('change', function() {
			$("#showtable").hide()   
	     });		
		
		$('#select').dropdown({
			apiSettings: {
	        	url: '/api/taxpayers/autocomplete?term={query}',
	        	method: 'GET',
	        	//dataType: 'text',
	        	cache: false,
	        	onResponse: function(result) {
					results = []
	            	$.each(result.results, function(index, item) {
	            		results.push({ name: '<b>' + item.id + "</b> : " + item.name, value:item.id })
					})
					result.results = results
					return result
	        	},
	     	},
	     	onChange: function(value) {
				$("#showtable").hide() 
				$('#form').submit();
	     	},
	    	action: 'activate',
	    	clearable: true
		})
	
		$(document).ready(function() {
			$('.ui.form').form({
				fields: {
					taxpayer: {
	                	identifier  : 'taxpayer',
	                	rules: [{
	                    	type   : 'empty',
	                    	prompt : /*[[#{taxpayer.missing.taxpayer.id}]]*/ ''
	                  	}]
	              	},
	              	date: {
	                	identifier  : 'date',
	                	rules: [{
	                    	type   : 'empty',
	                    	prompt : /*[[#{date.missing}]]*/ ''
	                  	}]
	              	}
	          	},
				onSuccess: (function(event,fields){
					event.preventDefault();					
					updateColumns();					
					table.replaceData()
						.then(function(){
							$("#showtable").show()	
						})					
	          	})
	        });
	    });
		
		//Remove all value columns 		
		function removePreviousColumns() {
			var cols = table.getColumns();
			for ( i = 5; i < cols.length; i++ ) {
				cols[i].delete();
			}			
		}
		
		//Add value columns according with selected parameters
		function updateVisibleColumns() {
			
			for (let i = 0; i < columnsFormat.length; ++i) {
				
				let data = columnsFormat[i];
				console.log(data);
				table.addColumn({title: data[0], field: data[1], hozAlign: data[2], headerSort: data[3] == "false" ? false : true, 
						formatter: data[4], 
						formatterParams: { 
							decimal: data[5], thousand: data[6], symbol: data[7], symbolAfter: 
								data[8] == "false" ? false : true, precision: data[9]} 
						}, 
						false, data[1]);			    
			}			
			
		}	
		
		var columnsFormat = {};		
		
		function updateColumns() {
			$.get('/api/analysis/vertical-horizontal-view-columns', 
					{ finalDate: $('#finalDate').calendar('get date'), 
			    	  comparisonPeriods: $('#period').val(),
			    	  analysisType: $('#analysisType').val() } ,  // data to submit
			    function (data, status, xhr) {
			    	columnsFormat = data;
			        removePreviousColumns();
					updateVisibleColumns();			        
			    }
			);	
		}
		
		//Custom accessor
		function nullConvert(value, data, type, component){
		    if ( value == null )
		    	return "";
		    return value;
		}
	  
		let table = new Tabulator('#table', {
			index: 'id',
			layout: "fitData", //fit columns to width of table (optional)
		    pagination: true,
			paginationMode: "local", //enable local pagination
			paginationSize: /*[[${@environment.getProperty('default.page.size')}]]*/ 15,
			paginationSizeSelector:[5, 10, /*[[${@environment.getProperty('default.page.size')}]]*/ 15, 25, 50, 1000],
			ajaxURL: /*[[@{/api/analysis/vertical-horizontal-analysis}]]*/ "/api/analysis/vertical-horizontal-analysis", //set url for ajax request
			ajaxURLGenerator: function(url, config, params ){
				console.log(config)
				console.log(params)
				p = new URLSearchParams()
				p.set('taxpayerId', document.getElementById("taxpayer").value)
				p.set('finalDate', $('#finalDate').calendar('get date'))
				p.set('zeroBalance', $('#zeroBalance').is(":checked"))
				p.set('comparisonPeriods', $('#period').val())
				p.set('analysisType', $('#analysisType').val())
				console.log(url + '?' + p.toString())		
				return url + '?' + p.toString()
			},
			ajaxContentType: "json",
			footerElement: "<button id='exportXLS' class='ui left floated compact button tabulator-footer'><i class='icon download'></i>[(#{export.xls})]</button>",
			locale:'xx',
			langs:{
		        "xx":{
		            "pagination":{
		                "first":/*[[#{pagination.first.button}]]*/ "First",
		                "first_title":/*[[#{pagination.first.tooltip}]]*/ "First Page",
		                "last":/*[[#{pagination.last.button}]]*/ "Last",
		                "last_title":/*[[#{pagination.last.tooltip}]]*/ "Last Page",
		                "prev":/*[[#{pagination.prev.button}]]*/ "Prev",
		                "prev_title":/*[[#{pagination.prev.tooltip}]]*/ "Prev Page",
		                "next":/*[[#{pagination.next.button}]]*/ "Next",
		                "next_title":/*[[#{pagination.next.tooltip}]]*/ "Next Page",
		                "all":/*[[#{pagination.all}]]*/ "All",
		                "page_size":/*[[#{pagination.page.size}]]*/ "Page Size",
		                "page_title":/*[[#{pagination.page.tooltip}]]*/ "Show Page"
		            }
		        }
		    },	
		    placeholder: /*[[#{no.data.available}]]*/ "No data available", //display message to user on empty table		
			rowFormatter:function(row){
			    var data = row.getData();
			    if(data.level == "1"){			    	
			        row.getElement().style.backgroundColor = /*[[${@environment.getProperty('table.color.level.1')}]]*/ "#FFA500"; //apply css change to row element
			        row.getElement().style.fontWeight = "bold";
			    }	
			    else if(data.level == "2"){
			        row.getElement().style.backgroundColor = /*[[${@environment.getProperty('table.color.level.2')}]]*/ "#ffe854"; //apply css change to row element
			    }
			    else if(data.level == "3"){
			        row.getElement().style.backgroundColor = /*[[${@environment.getProperty('table.color.level.3')}]]*/ "#FFFDDE"; //apply css change to row element
			    }
			},	
			columns:[ //Define Table Columns
				{title: /*[[#{account.level}]]*/ "Level", field:"level", hozAlign:"center", headerSort:false},
				//{title: /*[[#{account.categoryCode}]]*/ "Category", field:"categoryCode", hozAlign:"center", headerSort:false },
				{title: /*[[#{account.category}]]*/ "Category", field:"category", hozAlign:"left", headerSort:false },
				//{title: /*[[#{account.subcategoryCode}]]*/ "SubCategory", field:"subcategoryCode", hozAlign:"center", headerSort:false},
				{title: /*[[#{account.subcategory}]]*/ "SubCategory", field:"subcategory", hozAlign:"left", headerSort:false, accessorDownload:nullConvert},
				{title: /*[[#{account.code}]]*/ "Code", field:"code", headerSort:false, accessorDownload:nullConvert},
				{title: /*[[#{account.name}]]*/ "Name", field:"name", headerSort:false, accessorDownload:nullConvert},	
			]
		})		
	
		table.on("tableBuilt", function(){
			document.getElementById('exportXLS').addEventListener("click", function(){
				table.download("xlsx", getFileName() , {sheetName:'Analysis'});				    
			});
		});
	
		function getFileName() {
			var fileName =/*[[#{taxpayers.analysis.vertical.and.horizontal}]]*/ null;
			return  fileName + ".xlsx";
		}

	</script>
</body>
</html>