HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Custom ###
/bin/
/DIST
/dist
/build
/temp
/target
app_config
src/main/resources/application-dev.properties
/.temp-web - WebApplication-classpath-arg-1664960167806.txt
/.temp-web - WebApplication-classpath-arg-1665009287747.txt
